# Data Structure

In [5]:
a = [2,4,5,6,7,8,"strings","fnwo",45]

In [6]:
a.append('x')
a

[2, 4, 5, 6, 7, 8, 'strings', 'fnwo', 45, 'x']

In [10]:
#list.extend(iterable)
# language list
language = ['French', 'English']

# another list of language
language1 = ['Spanish', 'Portuguese']

In [11]:
# appending language1 elements to language
language.extend(language1)

print('Language List:', language)

Language List: ['French', 'English', 'Spanish', 'Portuguese']

In [24]:
list = [1, 2, 3, 4, 'shit', 'hello', 23]
#dictionary:Key:value. Values in a dictionary can be of any datatype and can be duplicated, whereas keys can’t be repeated and must be immutable.
# with Integer Keys 
Dict1 = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
# with Mixed keys 
#Dict2 = {'Name': 'Geeks', 1: [1, 2, 3, 4,"shit","hello",23]}
#set:A Set is an unordered collection data type that is iterable, mutable and has no duplicate elements.
tuple

tuple

In [16]:
Dict2 = {'Name': 'Geeks', 1: [1, 2, 3, 4,"shit","hello",23]}
print(Dict2)

{'Name': 'Geeks', 1: [1, 2, 3, 4, 'shit', 'hello', 23]}

In [17]:
Dict1 = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
print(Dict1)

{1: 'Geeks', 2: 'For', 3: 'Geeks'}

In [20]:
print(list)

[1, 2, 3, 4, 'shit', 'hello', 23]

In [48]:
#Convert a list into a set. 
myset = set(["a", "b", "c",1,2,3])

In [49]:
myset.add("d") 
print(myset)

{1, 2, 3, 'a', 'd', 'c', 'b'}

In [26]:
# Creating a Set 
people = {"Jay", "Idrish", "Archi"} 
print(people)

{'Idrish', 'Jay', 'Archi'}

In [28]:
people.add("Daxit")
print(people)

{'Idrish', 'Jay', 'Archi', 'Daxit'}

In [29]:
for i in range(1, 6):  
    people.add(i)

In [30]:
print(people)

{1, 2, 3, 4, 5, 'Idrish', 'Archi', 'Daxit', 'Jay'}

In [37]:
people = {"Jay", "Idrish", "Archil"} 
vampires = {"Karan", "Arjun","Jay"} 
dracula = {"Deepanshu", "Raju"}

In [39]:
#A set is Unordered. Jay is not repeated bc of uniques values
population = people.union(vampires)
population

{'Archil', 'Arjun', 'Idrish', 'Jay', 'Karan'}

In [40]:
for character in population:
    print(character)

Karan
Arjun
Idrish
Jay
Archil

In [42]:
#Print unique values
people2 = {"Jay", "Idrish", "Archil","Jay"}
for character in people2:
    print(character)

Idrish
Jay
Archil

In [45]:
#Union using '|' operator
population = people|dracula
population

{'Archil', 'Deepanshu', 'Idrish', 'Jay', 'Raju'}

In [50]:
set1 = set() 
set2 = set() 
for i in range(5): 
    set1.add(i) 
  
for i in range(3,9): 
    set2.add(i)

In [51]:
print(set1)

{0, 1, 2, 3, 4}

In [52]:
print(set2)

{3, 4, 5, 6, 7, 8}

In [54]:
set3 = set1.intersection(set2)
set3

{3, 4}

In [56]:
# Intersection using  
# "&" operator 
set3 = set1 & set2
set3

{3, 4}

In [58]:
# Difference of two sets 
# using difference() function 
set3 = set1.difference(set2)
set3

{0, 1, 2}

In [60]:
set3 = set1 - set2 
set3

{0, 1, 2}

In [63]:
# This method will remove 
# all the elements of the set 
set1 = {1,2,3,4,5,6} 
set1.clear()

In [64]:
set1

set()

In [65]:
set1 = {1,2,3,4,5,6}

In [68]:
for key in set1:
    print(key)

1
2
3
4
5
6

In [69]:
set1 = set() 
set2 = set() 
for i in range(5): 
    set1.add(i) 
  
for i in range(3,9): 
    set2.add(i)

In [71]:
s3 = set1 == set2
s3

False

In [72]:
s4 = set1 !=  set2
s4

True

In [73]:
s4 = set1 <=  set2
s4

False

In [77]:
set5 = {1,2,3}
set6 = {4,5,6,7,8}

In [78]:
set7 = set5 <=  set6
set7

False

In [94]:
# Creating two sets 
set10 = set() 
set11 = set() 
set15 = set()   
# Adding elements to set10
for i in range(1, 6): 
    set10.add(i) 
  
# Adding elements to set11 
for i in range(7, 20): 
    set11.add(i) 
# Adding elements to set15 
for i in range(1, 10): 
    set15.add(i) 

print("Set10 = ", set10) 
print("Set11 = ", set11)
print("Set15 = ", set15)

Set10 =  {1, 2, 3, 4, 5}
Set11 =  {7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}
Set15 =  {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [84]:
# Union of set1 and set2 
set12 = set10 | set11# set1.union(set2) 
print("Union of Set10 & Set11: Set12 = ", set12)

Union of Set10 & Set11: Set12 =  {1, 2, 3, 4, 5, 6, 7}

In [86]:
# set1.intersection(set2)
set13 = set10 & set11 
print("Intersection of Set10 & Set11: Set13 = ", set13)

Intersection of Set10 & Set11: Set13 =  {3, 4, 5}

In [96]:
if set15 > set10: # set15.issuperset(set10) 
    print("Set15 is superset of Set10") 
elif set15 < set10: # set3.issubset(set4) 
    print("Set3 is subset of Set4") 
else : # set3 == set4 
    print("Set3 is same as Set4")

Set15 is superset of Set10

In [91]:
#In other words, if B is a proper superset of A, then all elements of A are in B but B contains at least one element that is not in A. ... 
#For example, if A={1,3,5} then B={1,3,4,5} is a proper superset of A.

In [92]:
#Example: the set {1, 2, 3, 4, 5}
#A subset of this is {1, 2, 3}. Another subset is {3, 4} or even another is {1}, etc. But {1, 6} is not a subset, since it has an element (6) which is not in the parent set.

In [97]:
set20 = {1,2,3,4,5}
set21 = {1,5}

In [99]:
if set21 > set20: # set21.issuperset(set20) 
    print("Set21 is superset of Set20") 
elif set21 < set20: # set21.issubset(set20) 
    print("Set21 is subset of Set20") 
else : # set21 == set20 
    print("Set3 is same as Set4")

Set21 is subset of Set20

In [100]:
set30 = set15 - set10 
print("Elements in Set15 and not in Set10: Set30 = ", set30)

Elements in Set15 and not in Set10: Set30 =  {8, 9, 6, 7}

In [102]:
if set15.isdisjoint(set10): 
    print("Set4 and Set5 have nothing in common\n") 
else: 
    print('Have values in common')

Have values in common

# Tuples

In [103]:
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5 );
tup3 = "a", "b", "c", "d";

In [104]:
#To write a tuple containing a single value you have to include a comma, even though there is only one value −

In [106]:
tup1 = (50,);
tup1

(50,)

In [112]:
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5, 6, 7 );
print ("tup1[0]: ", tup1[0])
#Index starts at 0 and does not include the last value, 1 index=2. Index 0 =1
print ("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

In [113]:
print ("tup2[0:5]: ", tup2[0:5])

tup2[0:5]:  (1, 2, 3, 4, 5)

In [114]:
tup1 = (12, 34.56);
tup2 = ('abc', 'xyz');

In [116]:
tup3 = tup1 + tup2;
print (tup3)

(12, 34.56, 'abc', 'xyz')

#Basic Tuples Operations

In [117]:
len((1, 2, 3,4,3,4,5,6))

8

In [119]:
#Unique values in tuples need the , at the end.
('Hi!',) * 4

('Hi!', 'Hi!', 'Hi!', 'Hi!')

In [121]:
#Membership
3 in (1,3)

True

In [126]:
#Iteration
for x in (1, 2, 3): print (x)

1
2
3

In [127]:
L = ('spam', 'Spam', 'SPAM!','SVNO','WERT')

In [129]:
#0,1,2 position
L[2]

'SPAM!'

In [133]:
L[-1]

'WERT'

In [134]:
L[-2]

'SVNO'

In [136]:
#0,1,2.Slicing fetches sections
L[2:]

('SPAM!', 'SVNO', 'WERT')

In [137]:
list = [1,2,3,4,5,6]

In [140]:
#Convert a list into a tuple.
y = tuple(list)
y

(1, 2, 3, 4, 5, 6)

##More on Lists

In [141]:
#list.append(x)
#Add an item to the end of the list.

In [158]:
#Could be in another format
list = [1,2,3,4,5]
tuple = (1,2,3,4,"string","normal")
list.extend(tuple)

In [159]:
list

[1, 2, 3, 4, 5, 1, 2, 3, 4, 'string', 'normal']

In [146]:
#list.insert(i, x)
#Insert an item at a given position. The first argument is the index of the element before which to insert, 
#so a.insert(0, x) inserts at the front of the list.

In [160]:
list.insert(0, "bitch")

In [161]:
list

['bitch', 1, 2, 3, 4, 5, 1, 2, 3, 4, 'string', 'normal']

In [162]:
list.insert(-1, "bitch")
list

['bitch', 1, 2, 3, 4, 5, 1, 2, 3, 4, 'string', 'bitch', 'normal']

In [163]:
list.append("hola")

In [164]:
list

['bitch', 1, 2, 3, 4, 5, 1, 2, 3, 4, 'string', 'bitch', 'normal', 'hola']

In [165]:
#list.remove(x)
#Remove the first item from the list whose value is equal to x.

In [170]:
list.remove(1)
list

['bitch', 2, 3, 4, 5, 2, 3, 4, 'string', 'bitch', 'normal']

In [179]:
list

[2, 3, 4, 5, 2, 3, 4, 'string']

In [180]:
list2 = ['string',2,3,4,5,'string',6,7,8,'string']

In [181]:
#Remove the first item from the list whose value is equal to x.
list2.remove('string')

In [186]:
list2

[2, 3, 4, 5, 'string', 6, 7, 8, 'string']

In [188]:
list2.pop(3)

'string'

In [189]:
list2

[2, 3, 4, 6, 7, 8, 'string']

In [190]:
list2.pop(4)

7

In [191]:
list2

[2, 3, 4, 6, 8, 'string']

In [192]:
#Remove all items from the list. Equivalent to del a[:].
#list.clear()

In [197]:
#The index() method returns the index of the specified element in the list.
#list.index(element, start, end)
list2.index('string', 0, 6)

5

In [199]:
#Return the number of times x appears in the list.
list2.count('string')

1

#Python List sort()

In [200]:
#sorted(iterable, *, key=None, reverse=False)

In [201]:
# vowels list
vowels = ['e', 'a', 'u', 'o', 'i']

In [244]:
# sort the vowels
#by default de menor a mayor.ASCENDING
vowels.sort()

In [203]:
vowels

['a', 'e', 'i', 'o', 'u']

In [204]:
print('Sorted list:', vowels)

Sorted list: ['a', 'e', 'i', 'o', 'u']

In [207]:
#Descending order
vowels.sort(reverse=True)

In [208]:
vowels

['u', 'o', 'i', 'e', 'a']

In [211]:
key_sorted = ['hello','bee','horse','cdcdwc','dcndkvnp']

In [214]:
#The list is sorted based on the length of each element, from lowest count to highest.
key_sorted.sort(key=len)
key_sorted

['bee', 'hello', 'horse', 'cdcdwc', 'dcndkvnp']

In [216]:
# take second element for sort
def takeSecond(elem):
    return elem[1]

In [221]:
# random list
#We know that a tuple is sorted using its first parameter by default. 
#Let's look at how to customize the sort() method to sort using the second element.
random = [(2, 2), (3, 4), (4, 1), (1, 3)]

In [218]:
takeSecond(random)

(3, 4)

In [219]:
# sort list with key
random.sort(key=takeSecond)

In [220]:
random

[(4, 1), (2, 2), (1, 3), (3, 4)]

In [224]:
#Ascending
random.sort(key=takeSecond,reverse=True)

In [225]:
random

[(3, 4), (1, 3), (2, 2), (4, 1)]

In [240]:
# sorting using custom key
employees = [
    {'Name': 'Alan Turing', 'age': 25, 'salary': 10000},
    {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000},
    {'Name': 'John Hopkins', 'age': 18, 'salary': 1000},
    {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000},
]

In [247]:
print (employees)

[{'Name': 'Alan Turing', 'age': 25, 'salary': 10000}, {'Name': 'John Hopkins', 'age': 18, 'salary': 1000}, {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000}, {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000}]

In [231]:
employees[0]

{'Name': 'Alan Turing', 'age': 25, 'salary': 10000}

In [232]:
employees[0]['age']

25

In [233]:
# custom functions to get employee info
def get_name(employee):
    return employee.get('Name')


def get_age(employee):
    return employee.get('age')


def get_salary(employee):
    return employee.get('salary')

In [263]:
for index in range(len(employees)):
    for Name in employees[index]:
        print(employees[index]['Name'])

Alan Turing
Alan Turing
Alan Turing
John Hopkins
John Hopkins
John Hopkins
Mikhail Tal
Mikhail Tal
Mikhail Tal
Sharon Lin
Sharon Lin
Sharon Lin

In [261]:
len(employees)

4

In [272]:
for dict_item in employees:
    for k, v in dict_item.items():
        print ('{}: {}'.format(k, v))

Name: Alan Turing
age: 25
salary: 10000
Name: John Hopkins
age: 18
salary: 1000
Name: Mikhail Tal
age: 40
salary: 15000
Name: Sharon Lin
age: 30
salary: 8000

In [283]:
Names = [i['Name'] for i in employees]
Names

['Alan Turing', 'John Hopkins', 'Mikhail Tal', 'Sharon Lin']

In [286]:
Ages = [i['age'] for i in employees]
Ages

[25, 18, 40, 30]

In [269]:
my_list = [
    {'name': 'alex', 'last_name': 'leda'},
    {'name': 'john', 'last_name': 'parsons'}
]

In [270]:
for person in my_list:
    for k, v in person.items():
        print('{}: {}'.format(k, v))

name: alex
last_name: leda
name: john
last_name: parsons

In [271]:
for person in my_list:
    for k, v in person.items():
        print(k, v)

name alex
last_name leda
name john
last_name parsons

In [275]:
wordFrequency = {
    "Hello" : 7,
    "hi" : 10,
    "there" : 45,
    "at" : 23,
    "this" : 77
    }

In [276]:
for key in wordFrequency:
    value = wordFrequency[key]
    print(key, " :: ", value)

Hello  ::  7
hi  ::  10
there  ::  45
at  ::  23
this  ::  77

In [277]:
l = [{'COUNTRY': 'UK', 'STUDENT': 'JOHN'}, {'COUNTRY': 'PT', 'STUDENT':'PEDRO'}, {'COUNTRY': 'UK', 'STUDENT': 'KYLE'}, {'COUNTRY': 'IT', 'STUDENT':'PIRLO'}, {'COUNTRY': 'PT', 'STUDENT':'ANA'}, {'COUNTRY': 'FR', 'STUDENT':'VITO'}, {'COUNTRY': 'FR', 'STUDENT':'LOUIS'}]

In [279]:
k = [i['COUNTRY'] for i in l]
k

['UK', 'PT', 'UK', 'IT', 'PT', 'FR', 'FR']

# Frequency

In [288]:
import collections
a = [1,1,1,1,2,2,2,2,3,3,4,5,5]
counter=collections.Counter(a)
print(counter)
# Counter({1: 4, 2: 4, 3: 2, 5: 2, 4: 1})
print(counter.values())
# [4, 4, 2, 1, 2]
print(counter.keys())
# [1, 2, 3, 4, 5]
print(counter.most_common(3))
# [(1, 4), (2, 4), (3, 2)]

Counter({1: 4, 2: 4, 3: 2, 5: 2, 4: 1})
dict_values([4, 4, 2, 1, 2])
dict_keys([1, 2, 3, 4, 5])
[(1, 4), (2, 4), (3, 2)]

In [289]:
dataList = [{'a': 1}, {'b': 3}, {'c': 5}]
index = 0
while index < len(dataList):
    for key in dataList[index]:
        print(dataList[index][key])
    index += 1

1
3
5

In [290]:
dataList = [{'a': 1}, {'b': 3}, {'c': 5}]
for dic in dataList:
    for key in dic:
        print(dic[key])

1
3
5

In [293]:
dataList = [{'a': 1}, {'b': 3}, {'c': 5}]
for dic in dataList:
    for val in dic.values():
        print(val)

1
3
5

In [294]:
dataList = [{'a': 1}, {'b': 3}, {'c': 5}]
for dic in dataList:
    for keys in dic.keys():
        print(keys)

a
b
c

In [295]:
dataList = [{'a': 1}, {'b': 3}, {'c': 5}]
for dic in dataList:
    for k,v in dic.items():
        print(k,v)

a 1
b 3
c 5

In [296]:
use=[{'id': 29207858, 'isbn': '1632168146', 'isbn13': '9781632168146', 'ratings_count': 0}]
for dic in use:
    for val,cal in dic.items():
        print(f'{val} is {cal}')

id is 29207858
isbn is 1632168146
isbn13 is 9781632168146
ratings_count is 0

In [299]:
def extract_fullnames_as_string(list_of_dictionaries):
#function and then the argument.
    return list(map(lambda e : "{} {}".format(e['first'],e['last']),list_of_dictionaries))

In [302]:
#names = [{'first': 'Zhibekchach', 'last': 'Myrzaeva'}, {'first': 'Gulbara', 'last': 'Zholdoshova'}]
#extract_fullnames_as_string(names)

# Convert two lists to a dictionary

In [303]:
# List of strings
listOfStr = ["hello", "at" , "test" , "this" , "here" , "now" ]
    
# List of ints
listOfInt = [56, 23, 43, 97, 43, 102]

In [307]:
# Create a zip object from two lists
zipbObj = zip(listOfStr, listOfInt)
zipbObj

In [309]:
# Create a dictionary from zip object
dictOfWords = dict(zipbObj)
dictOfWords

{}

In [1]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [2]:
fruits.count('apple')

2

In [3]:
fruits.count('tangerine')

0

In [5]:
#index begin in cero and locates the first appearance.
fruits.index('banana')

3

In [6]:
fruits.index('banana', 4)  # Find next banana starting a position 4

6

In [7]:
fruits.reverse()

In [8]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [9]:
fruits.append('grape')

In [10]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [12]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [15]:
#removes the last item
fruits.pop()

'orange'

In [16]:
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi']

# Using Lists as Queues

In [17]:
#It is also possible to use a list as a queue, where the first element added is the first element retrieved (“first-in, first-out”); 
#however, lists are not efficient for this purpose. While appends and pops from the end of list are fast, doing inserts or pops from the beginning of a list is slow

In [18]:
from collections import deque

In [23]:
queue = deque(["Eric", "John", "Michael"])

In [24]:
queue

deque(['Eric', 'John', 'Michael'])

In [25]:
queue.append("Terry")

In [26]:
queue

deque(['Eric', 'John', 'Michael', 'Terry'])

In [27]:
#this inserts an item at a given position. 
queue.insert(0, 'Frank')

In [28]:
queue

deque(['Frank', 'Eric', 'John', 'Michael', 'Terry'])

In [29]:
queue.insert(1, 'Quack')

In [30]:
queue

deque(['Frank', 'Quack', 'Eric', 'John', 'Michael', 'Terry'])

queue.popleft()

In [34]:
queue

deque(['Eric', 'John', 'Michael', 'Terry'])

#List Comprehensions

In [35]:
squares = []
for x in range(10):
    squares.append(x**2)

In [38]:
#from 0 to 9
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [39]:
len(squares)

10

In [43]:
#lambda function and the arguments
squares1 = list(map(lambda x: x**2, range(10)))

In [44]:
squares1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [45]:
squares3 = [x**2 for x in range(10)]

In [46]:
squares3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [48]:
#Every element of the array iterates through all the elements of the other list not only the one of the saqme index
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [52]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))

In [53]:
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [54]:
#Accessing a value in a tuple that is in a list

In [74]:
L = [(1,2), (2,3), (4,5), (3,4), (6,7), (6,7), (3,8)]

In [75]:
[x[1] for x in L]

[2, 3, 5, 4, 7, 7, 8]

In [76]:
[x[0] for x in L]

[1, 2, 4, 3, 6, 6, 3]

In [55]:
vec = [-4, -2, 0, 2, 4]
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [56]:
[x for x in vec if x >= 0]

[0, 2, 4]

In [158]:
def abc(y): 
    return y+5

In [65]:
# apply a function to all the elements
[abs(y) for y in vec]

[4, 2, 0, 2, 4]

In [67]:
freshfruit = ['banana', 'loganberry ', 'passion fruit']

In [69]:
[weapon.strip('a') for weapon in freshfruit]

['banan', 'loganberry ', 'passion fruit']

In [70]:
txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")

print(x)

banana

In [71]:
# create a list of 2-tuples like (number, square)
>>> [(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [77]:
# the tuple must be parenthesized, otherwise an error is raised
#>>> [x, x**2 for x in range(6)]

In [82]:
vec = [[1,2,3], [4,5,6], [7,8,9]]

In [83]:
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [84]:
from math import pi

In [85]:
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

# Nested List Comprehensions

In [92]:
matrix = [[1, 2, 3, 4],[5, 6, 7, 8],[9, 10, 11, 12]]

In [93]:
#an iteration in a list with lists.

In [94]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [96]:
#the first iteration goes to the first element of each list and so on...
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])

In [97]:
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [107]:
transposed = []
for i in range(4):
     # the following 3 lines implement the nested listcomp
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

In [108]:
transposed_row

[4, 8, 12]

In [109]:
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [110]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [111]:
x = [1, 2, 3]
y = [4, 5, 6]

In [112]:
zipped = zip(x, y)

In [114]:
list(zipped)

[(1, 4), (2, 5), (3, 6)]

In [118]:
list(range(3, 6))

[3, 4, 5]

In [122]:
args1 = [3, 20]

In [123]:
list(range(*args1))

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [142]:
#3 parameters.you have to send three keys.
def parrot(voltage, state='viuv', action='bkjvk'):
    print("-- This parrot wouldn't", action)
    print("if you put", voltage, "volts through it.")
    print("E's", state, "!")

In [143]:
#you don't know how many arguments have **d
d = {"voltage": "four million", "state": "bleedin' demised", "action": "VOOM"}
parrot(**d)

-- This parrot wouldn't VOOM
if you put four million volts through it.
E's bleedin' demised !

# Lambda Expressions

In [144]:
def make_incrementor(n):
    return lambda x: x + n

In [149]:
#42 will be the n. 10 the x
f = make_incrementor(42)
f(10)

52

In [151]:
#sort by a function de menor a mayor, the second value in the tuple. 
#since it is a string, it's sroted by alphabetical order. First letter then second letter.
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair: pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [161]:
def function(x,y,z,s):
    return x+2*y+s**3-z

In [164]:
function(2,4,6,10)

1004

In [165]:
#Another way of function. 
y = lambda a, b, c, d : a * b+c**2-d
print(y(5, 6,7,10))

69

In [166]:
y(5, 6,7,10)

69

In [189]:
def f(ham: str, eggs: str = 'eggs'):
    print("Arguments:", ham, eggs)
    return ham + ' and ' + eggs
#f('spam')

In [190]:
f('spam')

Arguments: spam eggs

'spam and eggs'

In [198]:
import math

In [199]:
def foo(x):
    if x >= 0:
        return math.sqrt(x)
    else:
        return None

In [202]:
#Example: 4 × 4 = 16, so a square root of 16 is 4.
foo(5)

2.23606797749979

In [207]:
def bar(x):
    if x < 0:
        print('Negative Value')
        return None
    return math.sqrt(x)

In [208]:
bar(5)

2.23606797749979

In [209]:
bar(-5)

Negative Value

In [210]:
a = [-1, 1, 66.25, 333, 333, 1234.5]

In [211]:
del a[0]

In [212]:
a

[1, 66.25, 333, 333, 1234.5]

In [213]:
del a[-1]

In [222]:
b = [-1, 1, 66.25, 333, 333, 1234.5,324,5678]

In [223]:
del b[2:4]#deletes 66.24 and 3

In [224]:
b

[-1, 1, 333, 1234.5, 324, 5678]

In [225]:
b[2:5]

[333, 1234.5, 324]

In [226]:
#A tuple consists of a number of values separated by commas, for instance:

In [227]:
t = 12345, 54321, 'hello!'

In [228]:
t[0]

12345

In [229]:
t

(12345, 54321, 'hello!')

In [230]:
# Tuples may be nested:
u = t, (1, 2, 3, 4, 5)

In [231]:
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [232]:
t[0]

12345

In [233]:
u[0]

(12345, 54321, 'hello!')

In [236]:
u[0][2]

'hello!'

In [237]:
u[1][0]

1

In [238]:
u[1][2]

3

In [239]:
v = ([1, 2, 3], [3, 2, 1])

In [240]:
v

([1, 2, 3], [3, 2, 1])

In [243]:
for i in v: 
    print(i)

[1, 2, 3]
[3, 2, 1]

In [244]:
for i in v[0]: 
    print(i)

1
2
3

In [247]:
#the comma at the end creates the tuple
singleton = 'hello',

In [248]:
singleton

('hello',)

In [252]:
a = ("MNNIT Allahabad", 5000, "Engineering")

In [253]:
(college, student, type_ofcollege) = a

In [254]:
# print college name 
print(college) 
  
# print no of student 
print(student) 
  
# print type of college 
print(type_ofcollege)

MNNIT Allahabad
5000
Engineering

In [255]:
x, *y, z = (10, "Geeks ", " for ", "Geeks ", 50) 
  
# print details 
print(x) 
print(y) 
print(z)

10
['Geeks ', ' for ', 'Geeks ']
50

In [256]:
x, y, *z = (10, "Geeks ", " for ", "Geeks ", 50) 
print(x) 
print(y) 
print(z)

10
Geeks
[' for ', 'Geeks ', 50]

In [257]:
def result(x, y): 
    return x * y

In [258]:
result(10, 100)

1000

In [262]:
# A tuple is created 
z = (11, 100)

In [264]:
result(*z)

1100

# Sets

In [265]:
# A set is an unordered collection with no duplicate elements. Basic uses include membership testing and eliminating duplicate entries. 
#Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

In [266]:
#Curly braces or the set() function can be used to create sets.

In [267]:
listOfStudents=['Mohan','John','Ramesh','Mohan','John']

In [268]:
print("List of Students:",listOfStudents)

List of Students: ['Mohan', 'John', 'Ramesh', 'Mohan', 'John']

In [272]:
#convert a list in a set
uniqueNames=set(listOfStudents)
uniqueNames

{'John', 'Mohan', 'Ramesh'}

#Sets

In [274]:
 basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

In [276]:
#No repeated value
print(basket)

{'apple', 'orange', 'banana', 'pear'}

In [277]:
## Demonstrate set operations on unique letters from two words

In [278]:
a = set('abracadabra')

In [279]:
b = set('alacazam')

In [282]:
#Unique values
a

{'a', 'b', 'c', 'd', 'r'}

In [283]:
b

{'a', 'c', 'l', 'm', 'z'}

In [284]:
a - b

{'b', 'd', 'r'}

In [285]:
#Union
a | b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [287]:
#Intersection
a & b

{'a', 'c'}

In [288]:
#letters in a or b but not both
a ^ b

{'b', 'd', 'l', 'm', 'r', 'z'}

In [289]:
a = {x for x in 'abracadabra' if x not in 'abc'}

In [290]:
a

{'d', 'r'}

#Dictionaries

#Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys. Tuples can be used as keys if they contain only strings, numbers, or tuples; if a tuple contains any mutable object either directly or indirectly, it cannot be used as a key. You can’t use lists as keys, since lists can be modified in place using index assignments, slice assignments, or methods like append() and extend().

In [291]:
tel = {'jack': 4098, 'sape': 4139}

In [292]:
tel['guido'] = 4127

In [293]:
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [294]:
del tel['sape']

In [295]:
tel

{'jack': 4098, 'guido': 4127}

In [296]:
tel['irv'] = 4127
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [300]:
#Gives you the keys
list(tel)

['jack', 'guido', 'irv']

In [301]:
sorted(tel)

['guido', 'irv', 'jack']

In [302]:
'guido' in tel

True

In [303]:
'jack' not in tel

False

In [305]:
#A list with tuples converted into a dictionary
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [307]:
# dict comprehensions
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [308]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

#Looping Techniques

In [310]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [311]:
#When looping through a sequence, the position index and corresponding value can be retrieved at the same time using the enumerate() function.

In [312]:
for i, v in enumerate(['tic', 'tac', 'toe']):
         print(i, v)

0 tic
1 tac
2 toe

In [313]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']

In [320]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
#Create zip object
a_zip = zip(list1, list2)
#Create a list
zipped_list = list(a_zip)
zipped_list

[(1, 4), (2, 5), (3, 6)]

In [325]:
S = zip(questions, answers)

In [326]:
S_list = list(S)
S_list

[('name', 'lancelot'), ('quest', 'the holy grail'), ('favorite color', 'blue')]

In [327]:
for q, a in S_list:
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [329]:
#Steps of 2.
for i in reversed(range(1, 10, 2)):
      print(i)

9
7
5
3
1

In [330]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
     print(f)

apple
banana
orange
pear

In [331]:
#NaN is also assigned to variables, in a computation, that do not have values

In [332]:
import math
raw_data1 = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]

In [334]:
raw_data2 = [56.2,'hello', 51.7, 55.3, 52.5,'hey', 47.8]

In [335]:
#NaN means Not a Number which means it is not a number. There are a few different ways to reach this value. 
#One of them is the one you saw with float("NaN") :

In [343]:
filtered_data = []
for value in raw_data1:
    if not math.isnan(value):
        filtered_data.append(value)

In [344]:
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

#The while Loop

In [346]:
#i += 1. i = i +1
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [348]:
#with the break function you stop the loop
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [350]:
#continue skips for the other value
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [351]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [377]:
list1=[1,2,3,4,5,6,7] 
list2=[5,6,7,8,9,10,11] 
for item in list1: 
    if item in list2: 
        print("overlapping")       
else: 
    print("not overlapping")

overlapping
overlapping
overlapping
not overlapping

In [368]:
#a += b is essentially the same as a = a + b

In [376]:
Cdegrees = [-20, -15, -10, -5, 0, 5, 10, 15, 20, 25, 30, 35, 40]
index = 0
#print (C,F)
while index < len(Cdegrees):
    C = Cdegrees[index]
    F = (9.0/5)*C + 32
    print ('%5d %5.1f' % (C, F))
    index += 1

  -20  -4.0
  -15   5.0
  -10  14.0
   -5  23.0
    0  32.0
    5  41.0
   10  50.0
   15  59.0
   20  68.0
   25  77.0
   30  86.0
   35  95.0
   40 104.0

In [378]:
#for i in range(start, stop, step):

In [379]:
Cdegrees = []
for C in range(-20, 45, 5):
    Cdegrees.append(C)

# or just
Cdegrees = range(-20, 45, 5)

In [380]:
Cdegrees

range(-20, 45, 5)

In [381]:
Cdegrees = []
for i in range(0, 21):
     C = -10 + i*2.5
     Cdegrees.append(C)

In [382]:
Cdegrees

[-10.0,
 -7.5,
 -5.0,
 -2.5,
 0.0,
 2.5,
 5.0,
 7.5,
 10.0,
 12.5,
 15.0,
 17.5,
 20.0,
 22.5,
 25.0,
 27.5,
 30.0,
 32.5,
 35.0,
 37.5,
 40.0]

In [385]:
Cdegrees = []
n = 21
C_min = -10
C_max = 40
dC = (C_max - C_min)/float(n-1)  # increment in C
dC

2.5

In [390]:
for i in range(0, n):
    C = -10 + i*dC
    Cdegrees.append(C)

Fdegrees = []
for C in Cdegrees:
    F = (9.0/5)*C + 32
    Fdegrees.append(F)

for i in range(len(Cdegrees)):
    C = Cdegrees[i]
    F = Fdegrees[i]
    print (C, F)

-10.0 14.0
-7.5 18.5
-5.0 23.0
-2.5 27.5
0.0 32.0
2.5 36.5
5.0 41.0
7.5 45.5
10.0 50.0
12.5 54.5
15.0 59.0
17.5 63.5
20.0 68.0
22.5 72.5
25.0 77.0
27.5 81.5
30.0 86.0
32.5 90.5
35.0 95.0
37.5 99.5
40.0 104.0

# Changing list elements

In [403]:
Cdegrees

[0.0,
 2.5,
 5.0,
 7.5,
 10.0,
 12.5,
 15.0,
 17.5,
 20.0,
 22.5,
 25.0,
 27.5,
 30.0,
 32.5,
 35.0,
 37.5,
 40.0,
 42.5,
 45.0,
 47.5,
 50.0]

In [421]:
lst = [10, 50, 75, 83, 98, 84, 32] 
#new list
w = [x*2 for x in lst]
w

[20, 100, 150, 166, 196, 168, 64]

In [417]:
list = [1, 3, 5, 7, 9] 
length = len(list) 
i = 0
# Iterating using while loop 
while i < length: 
    print(list[i]+2) 
    i += 1

3
5
7
9
11

In [418]:
# Python3 code to iterate over a list 
list = [1, 3, 5, 7, 9] 
   
# Using enumerate()  
for i, val in enumerate(list): 
    print (i, ",",val)

0 , 1
1 , 3
2 , 5
3 , 7
4 , 9

In [419]:
# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3],2:'shape', 3:45}

In [420]:
n = 21

In [424]:
Cdegrees

[0.0,
 2.5,
 5.0,
 7.5,
 10.0,
 12.5,
 15.0,
 17.5,
 20.0,
 22.5,
 25.0,
 27.5,
 30.0,
 32.5,
 35.0,
 37.5,
 40.0,
 42.5,
 45.0,
 47.5,
 50.0]

In [426]:
Cdegrees2 = [-5 + i*0.5 for i in range(n)]
Fdegrees = [(9.0/5)*C + 32 for C in Cdegrees]
C_plus_5 = [C+5 for C in Cdegrees]

In [427]:
Cdegrees2

[-5.0,
 -4.5,
 -4.0,
 -3.5,
 -3.0,
 -2.5,
 -2.0,
 -1.5,
 -1.0,
 -0.5,
 0.0,
 0.5,
 1.0,
 1.5,
 2.0,
 2.5,
 3.0,
 3.5,
 4.0,
 4.5,
 5.0]

In [428]:
listOfStr = ["hello", "at" , "test" , "this" , "here" , "now" ]

In [430]:
#Converting a list to dictionary with list elements as keys in dictionary
#All keys will have same value
dictOfWords = { i : 5 for i in listOfStr }
dictOfWords

{'hello': 5, 'at': 5, 'test': 5, 'this': 5, 'here': 5, 'now': 5}

In [432]:
dictOfWords1 = dict.fromkeys(listOfStr , 1)
dictOfWords1

{'hello': 1, 'at': 1, 'test': 1, 'this': 1, 'here': 1, 'now': 1}

In [433]:
listOfStr = ["hello", "at" , "test" , "this" , "here" , "now" ]

In [436]:
#Create a dictionary in a list of strings.
dictOfWords3 = { i : listOfStr[i] for i in range(0, len(listOfStr) ) }
dictOfWords3

{0: 'hello', 1: 'at', 2: 'test', 3: 'this', 4: 'here', 5: 'now'}

# Convert two lists into a dictionary

In [445]:
# List of strings
listOfStr = ["hello", "at" , "test" , "this" , "here" , "now" ]
    
# List of ints
listOfInt = [56, 23, 43, 97, 43, 102]

In [446]:
zipbObj = zip(listOfStr, listOfInt)

In [447]:
dictOfWords4 = dict(zipbObj)
dictOfWords4

{'hello': 56, 'at': 23, 'test': 43, 'this': 97, 'here': 43, 'now': 102}

In [449]:
#List of tuples    
listofTuples = [("Riti" , 11), ("Aadi" , 12), ("Sam" , 13),("John" , 22),("Lucy" , 90)]

In [451]:
studentsDict = dict(listofTuples)
studentsDict

{'Riti': 11, 'Aadi': 12, 'Sam': 13, 'John': 22, 'Lucy': 90}

# Different ways to Iterate / Loop over a Dictionary in Python

In [452]:
wordFrequency = {
    "Hello" : 7,
    "hi" : 10,
    "there" : 45,
    "at" : 23,
    "this" : 77
    }

In [453]:
for key in wordFrequency:
    value = wordFrequency[key]
    print(key, " :: ", value)

Hello  ::  7
hi  ::  10
there  ::  45
at  ::  23
this  ::  77

In [454]:
for key , value in wordFrequency.items():
    print(key, " :: ", value)

Hello  ::  7
hi  ::  10
there  ::  45
at  ::  23
this  ::  77

In [456]:
dictView =  wordFrequency.items()
dictView

dict_items([('Hello', 7), ('hi', 10), ('there', 45), ('at', 23), ('this', 77)])

In [457]:
wordFrequency["hi"] = 90

In [459]:
#hi changed to 90.
wordFrequency

{'Hello': 7, 'hi': 90, 'there': 45, 'at': 23, 'this': 77}

In [461]:
# Create first dictionary
dict1 = { 'Ritika': 5, 'Sam': 7, 'John' : 10 }
# Create second dictionary
dict2 = {'Aadi': 8,'Sam': 20,'Mark' : 11 }

In [465]:
# Merge contents of dict2 in dict1.Beacuase this is an update.
dict1.update(dict2)

In [466]:
dict1

{'Ritika': 5, 'Sam': 20, 'John': 10, 'Aadi': 8, 'Mark': 11}

In [467]:
#All the elements in dict2 are added to dict1. 
#Keys which are common in both the dictionaries will contain the values as in dict2. 
#Basically the dictionary we are passing in update() as argument will override the common key’s values. Therefore ‘Sam’ has value 20 now.

#Merge two or more Dictionaries using **kwargs

In [468]:
# Create first dictionary
dict1 = {  'Ritika': 5, 'Sam': 7, 'John' : 10 }
# Create second dictionary
dict2 = {'Aadi': 8,'Sam': 20,'Mark' : 11 }

In [471]:
# Merge contents of dict2 and dict1 to dict3
#In dict3 value for this common key ‘Sam’ is as in dict2 because we passed the **dict2 as second argument.
dict3 = {**dict1 , **dict2}
dict3

{'Ritika': 5, 'Sam': 20, 'John': 10, 'Aadi': 8, 'Mark': 11}

In [475]:
# Create first dictionary
dict1 = {  'Ritika': 5, 'Sam': 7, 'John' : 10,'Rose':45}
# Create second dictionary
dict2 = {'Aadi': 8,'Sam': 20,'Mark' : 11 }
# Create second dictionary
dict3 = {'Mark': 18,'Rose': 22,'Wong' : 22,'Sam':23 }

In [477]:
# Merge contents of dict3, dict2 and dict1 to dict4
#If a key is repeated it gives the value of the lastr number.
dict4 = {**dict1, **dict2, **dict3}
dict4

{'Ritika': 5,
 'Sam': 23,
 'John': 10,
 'Rose': 22,
 'Aadi': 8,
 'Mark': 18,
 'Wong': 22}

#Merge two dictionaries and add values of common keys

In [495]:
# Create first dictionary
dict1 = {  'Ritika': 5, 'Sam': 7, 'John' : 10 }
# Create second dictionary
dict2 = {'Aadi': 8,'Sam': 20,'Mark' : 11 }

In [505]:
def mergeDict(dict1, dict2):
   ''' Merge dictionaries and keep values of common keys in list'''
   dict3 = {**dict1, **dict2}
for key, value in dict3.items():
       if key in dict1 and key in dict2:
               dict3[key] = [value , dict1[key]]
                
return dict3

SyntaxError: 'return' outside function (<ipython-input-505-eb8ee3166ddd>, line 8)

In [506]:
# Merge dictionaries and add values of common keys in a list
dict3 = mergeDict(dict1, dict2)

In [507]:
#ouput if the function. when the have the same key dict3 will have the value of the last argument
#value of dict2 but when they are the same includes value of dict1 [value , dict1[key]]
{'Ritika': 5, 'Sam': [20, 7], 'John': 10, 'Aadi': 8, 'Mark': 11}

{'Ritika': 5, 'Sam': [20, 7], 'John': 10, 'Aadi': 8, 'Mark': 11}

In [509]:
# Create first dictionary
dict1 = {  'Ritika': 5, 'Sam': 7, 'John' : 10 }
# Create second dictionary
dict2 = {'Aadi': 8,'Sam': 20,'Mark' : 11 }
# Third Dictionary
dict3 = {'Mark': 18, 'Rose': 22, 'Wong': 22}
# Merge 3 dictionary and keep values of common keys in a list
#finalDict = mergeDict(dict3, mergeDict(dict1, dict2))

In [513]:
#output
#Final Dictionary = {'Mark': [11, 18], 'Rose': 22, 'Wong': 22, 'Ritika': 5, 'Sam': [20, 7], 'John': 10, 'Aadi': 8}