append() Method

In [1]:
#Add an element to the fruits list:

In [2]:
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")

In [3]:
fruits

['apple', 'banana', 'cherry', 'orange']

In [4]:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)

In [5]:
a

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

In [9]:
my_list = ['If', 'FirstNumber', ['is', 'greater', 'than'], '12.9']
for i in my_list:
    t2=i
    print(t2)

If
FirstNumber
['is', 'greater', 'than']
12.9

In [14]:
listOfList = [ [1, 2, 3, 4, 5],
                [11, 22, 33, 44, 55],
                [17, 18, 19, 20, 21]]

In [15]:
flatList = []
for elem in listOfList:
    flatList.extend(elem)

In [16]:
flatList

[1, 2, 3, 4, 5, 11, 22, 33, 44, 55, 17, 18, 19, 20, 21]

In [6]:
a1 = ["apple", "banana", "cherry",'orange','fruits']
b1 = ("Ford", "BMW","Volvo")

In [7]:
a1.append(b1)

In [8]:
a1

['apple', 'banana', 'cherry', 'orange', 'fruits', ('Ford', 'BMW', 'Volvo')]

In [10]:
flatList1 = []
for elem in a1:
    flatList1.extend(elem)

In [11]:
flatList1

['a',
 'p',
 'p',
 'l',
 'e',
 'b',
 'a',
 'n',
 'a',
 'n',
 'a',
 'c',
 'h',
 'e',
 'r',
 'r',
 'y',
 'o',
 'r',
 'a',
 'n',
 'g',
 'e',
 'f',
 'r',
 'u',
 'i',
 't',
 's',
 'Ford',
 'BMW',
 'Volvo']

In [12]:
fruits = ['apple', 'banana', 'cherry']

In [13]:
fruits.insert(1, "orange")

In [14]:
fruits

['apple', 'orange', 'banana', 'cherry']

sort() Method

In [15]:
cars = ['Ford', 'BMW', 'Volvo']
cars.sort()

In [16]:
cars

['BMW', 'Ford', 'Volvo']

#list.sort(reverse=True|False, key=myFunc)

In [17]:
# A function that returns the length of the value:
def myFunc(e):
    return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(key=myFunc)

In [18]:
cars

['VW', 'BMW', 'Ford', 'Mitsubishi']

In [19]:
# A function that returns the 'year' value:
def myFunc(e):
    return e['year']

cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key=myFunc)

In [20]:
cars

[{'car': 'Mitsubishi', 'year': 2000},
 {'car': 'Ford', 'year': 2005},
 {'car': 'VW', 'year': 2011},
 {'car': 'BMW', 'year': 2019}]

In [21]:
# A function that returns the length of the value:
def myFunc(e):
    return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(reverse=True, key=myFunc)

In [22]:
cars

['Mitsubishi', 'Ford', 'BMW', 'VW']

#Dictionary Methods

fromkeys() Method

In [28]:
x = ('key1', 'key2', 'key3')
y = 0

In [29]:
dict.fromkeys(x, y)

{'key1': 0, 'key2': 0, 'key3': 0}

get() Method Get the value of the "model" item:

In [31]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("model")
x

'Mustang'

In [32]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("price", 15000)
x

15000

In [33]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

item() Returns a list containing a tuple for each key value pair

In [34]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.items()
x

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [36]:
#keys() Method
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()
x

dict_keys(['brand', 'model', 'year'])

In [37]:
#Add an item into the dictionary

In [38]:
car["color"] = "white"

In [39]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

In [40]:
car.pop("model")

'Mustang'

In [41]:
car

{'brand': 'Ford', 'year': 1964, 'color': 'white'}

In [43]:
#Removes the last item in the dict.
car.popitem()

('year', 1964)

In [45]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
#dictionary.setdefault(keyname, value)
#Optional.
#If the key exist, this parameter has no effect.
#If the key does not exist, this value becomes the key's value
#Default value None
x = car.setdefault("model", "Bronco")
x

'Mustang'

In [46]:
y = car.setdefault("color", "white")
y

'white'

In [47]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

In [50]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
#To add multiple keys simultaneously, use dict.update():
car.update({"color": "White", "Size" : 'Big'})

In [51]:
car

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1964,
 'color': 'White',
 'Size': 'Big'}

In [52]:
#values() Method

In [53]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.values()
x

dict_values(['Ford', 'Mustang', 1964])

#Python Tuple Methods

In [56]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6,5, 8, 5)

In [57]:
x = thistuple.count(5)
x

3

In [59]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
#Search for the first occurrence of the value 8, and return its position:
x = thistuple.index(8)
x

3

Python Set add() Method

In [60]:
fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

In [61]:
fruits

{'apple', 'banana', 'cherry', 'orange'}

In [64]:
fruits = {"apple", "banana", "cherry"}
#You cannot add a value that already exists in a set because it has unique values.
fruits.add("apple")

In [65]:
fruits

{'apple', 'banana', 'cherry'}

difference() Method Return a new set that contains the items that only exist in set x, and not in set y:

In [72]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)
z

{'banana', 'cherry'}

In [73]:
z1 = y.difference(x)
z1

{'google', 'microsoft'}

difference_update() Method

In [74]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
#Remove the items that exist in both sets:
x.difference_update(y)

In [75]:
x

{'banana', 'cherry'}

discard() Method

In [76]:
fruits = {"apple", "banana", "cherry"}

fruits.discard("banana")

In [77]:
fruits

{'apple', 'cherry'}

intersection() Method

In [81]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
#Creates a new set. 
z = x.intersection(y)
z

{'apple'}

intersection_update() Method

In [82]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
#Modifies the old set.
x.intersection_update(y)

In [83]:
x

{'apple'}

In [84]:
#set.intersection_update(set1, set2 ... etc)

In [85]:
#Compare 3 sets, and return a set with items that is present in all 3 sets:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

x.intersection_update(y, z)

In [87]:
x

{'c'}

isdisjoint() Method Return True if no items in set x is present in set y:

In [88]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)
z

True

In [89]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.isdisjoint(y)
z

False

issubset() Method Return True if all items set x are present in set y:

In [90]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)
z

True

In [91]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b"}

z = x.issubset(y)
z

False

issuperset() Method Return True if all items set y are present in set x:

In [92]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)
z

True

In [93]:
#Return False if not all items in set y are present in set x:
x = {"f", "e", "d", "c", "b"}
y = {"a", "b", "c"}

z = x.issuperset(y)
z

False

In [94]:
fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

In [95]:
fruits

{'apple', 'cherry'}

symmetric_difference() Method

In [96]:
#Return a set that contains all items from both sets, except items that are present in both sets:

In [102]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
#creates a new set
z = x.symmetric_difference(y)
z

{'banana', 'cherry', 'google', 'microsoft'}

symmetric_difference_update()

In [103]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
#into the existing set
x.symmetric_difference_update(y)

In [104]:
x

{'banana', 'cherry', 'google', 'microsoft'}

union() Method

In [106]:
#Return a set that contains all items from both sets, duplicates are excluded:
#set.union(set1, set2...)

In [108]:
x = {"a", "b", "c"}
y = {"f", "d", "a"}
z = {"c", "d", "e"}
#duplicates are excluded:
result = x.union(y, z)
result

{'a', 'b', 'c', 'd', 'e', 'f'}

update() Method

In [111]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
#Update the set with the union of this set and others
x.update(y)

In [112]:
x

{'apple', 'banana', 'cherry', 'google', 'microsoft'}