#abs(): Returns the absolute value of a number
#No Negatives! So in practice "absolute value" means to remove any negative sign in front of a number, 
#and to think of all numbers as positive (or zero).

The abs() function works on following numbers:
1. Integers, for example 6, -6, 1 etc.
2. Floating point numbers, for example 5.34, -1.44 etc
3. Complex numbers, for example 3+4j, 4+6j etc.

In [3]:
# integer number
num = -5
print('Absolute value of -5 is:', abs(num))

# floating number
fnum = -1.45
print('Absolute value of 1.45 is:', abs(fnum))

Absolute value of -5 is: 5
Absolute value of 1.45 is: 1.45

When a complex number is passed as an argument to abs() function, it returns the magnitude of the complex number. The magnitude of a complex number a + bj is equal to √a2+b2.

In [4]:
# complex number
cnum = 4 - 5j
print('Absolute value of 4 - 5j is:', abs(cnum))

cnum2 = 3 + 4j
print('Absolute value of 3 + 4j is:', abs(cnum2))

Absolute value of 4 - 5j is: 6.4031242374328485
Absolute value of 3 + 4j is: 5.0

all()	Returns True if all items in an iterable object are true

Also, a numeric value of zero (integer or fractional), the null value ( None ),  all other values are considered Boolean true by default.

In [5]:
#How all() works for lists?
# all values true
l = [1, 3, 4, 5,-3,-8]
all(l)

True

In [6]:
# all values false
l = [0, False]
all(l)

False

In [7]:
# one false value
l = [1, 3, 4, 0]
all(l)

False

In [8]:
# one true value
l = [0, False, 5]
all(l)

False

In [10]:
#Empty Iterable
# empty iterable
l1 = []
all(l1)

True

In [12]:
s = "This is good"
print(all(s))

# 0 is False
# '0' is True
s = '000'
print(all(s))
#Empty string is considered True
s = ''
print(all(s))

True
True
True

In [18]:
s = {0: 'False', 1: 'False'}
print(all(s))

s = {1: 'True', 2: 'True'}
print(all(s))

s = {1: 'True', False: 0}
print(all(s))

s = {}
print(all(s))

# 0 is False
# '0' is True
s = {'0': 'True'}
print(all(s))

False
True
False
True
True

In [22]:
#All values have to be True in order to through True.
d = {0: 'True', 1: 'False',2:'True'}
print(all(d))

False

In [24]:
mylist = [0, 1, 1]
x = all(mylist)
x

False

#any()
#Returns True if any item in an iterable object is true

In [27]:
# one true value
l = [0, False, 5]
any(l)

True

In [29]:
#Only one true value
s = {1: 'True', False: 0,2:'False',3:0}
print(any(s))

True

In [30]:
normalText = 'Python is interesting'
print(ascii(normalText))

'Python is interesting'

In [31]:
otherText = 'Pythön is interesting'
print(ascii(otherText))

'Pyth\xf6n is interesting'

In [34]:
x = bin(36)
x

'0b100100'

In [35]:
# If value parameter is omitted or is 0, -0, null, false, NaN, undefined, 
#or the empty string (""), the object has an initial value of false.

In [36]:
S = 23
bool(S)

True

In [39]:
S = -25
bool(S)

True

In [40]:
S = False
bool(S)

False

In [56]:
S = [1,2,3,0,'',-10,-34,'fato','false']

In [57]:
[bool(x) for x in S]

[True, True, True, False, False, True, True, True, True]

In [66]:
def x():
  a = 5

In [68]:
print(x)

<function x at 0x000002430513E0D8>

In [70]:
#Compile() function

In [72]:
#Let’s say we have my_code.py file with following content:

x = 10
y = 20
print('Multiplication = ', x * y)

In [73]:
#compile(source, filename, mode)

In [74]:
# eval example
x = 5
code = compile('x == 5', '', 'eval')
result = eval(code)
print(result)

code = compile('x + 5', '', 'eval')
result = eval(code)
print(result)

True
10

In [75]:
import ast

In [78]:
ast_object = ast.parse("print('Hello world!')")
print(type(ast_object))
code = compile(ast_object, filename="", mode="exec")
exec(code)

<class '_ast.Module'>
Hello world!

In [84]:
>>> code_object = compile('x=5+5','MyString','exec')
>>> exec(code_object)
>>> print (x)

10

In [85]:
>>> code_object = compile('5+5','string','eval')
>>> eval(code_object)

10

In [86]:
#compile() with eval()

In [87]:
x = 1
codeObj = compile('x == 2', '', 'eval')
output = eval(codeObj)
print(output)

# Addition
codeObj = compile('x + 10', '', 'eval')
output = eval(codeObj)
print(output)

# Multiplication
codeObj = compile('x * 10', '', 'eval')
output = eval(codeObj)
print(output)

# Subtraction
codeObj = compile('x - 10', '', 'eval')
output = eval(codeObj)
print(output)

False
11
10
-9

In [91]:
import ast   
#to use AST, first you have to import it.
astObj1 = ast.parse("print('I like StudyTonight!')")
codeObj = compile(astObj1, filename="studytonight", mode="exec")

exec(codeObj)

I like StudyTonight!

In [94]:
f = open("C:/Users/User/Python for practice/Basics in Python.ipynb", 'r')
codeString = f.read()
f.close()
codeObj = compile(codeString, 'compile_with_file_name.py', 'exec')
exec(codeObj)

NameError: name 'null' is not defined

In [97]:
#The delattr() function will delete the specified attribute from the specified object.
class Person:
  name = "John"
  age = 36
  country = "Norway"

delattr(Person, 'age')

In [100]:
x = dict(name = "John", age = 36, country = "Norway")
x

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [101]:
class Person:
  name = "John"
  age = 36
  country = "Norway"

dir(Person)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'age',
 'country',
 'name']

In [106]:
#Throughs the division plus the reminder in a tuple.
x = divmod(5, 2)
x

(2, 1)

In [104]:
x1 = divmod(10, 2)
x1

(5, 0)

In [105]:
x2 = divmod(10.2, 2)
x2

(5.0, 0.1999999999999993)

In [116]:
#The enumerate() function assigns an index to each item in an iterable object that can be used to reference the item later
#enumerate(iterable, start)A Number. Defining the start number of the enumerate object. Default 0

In [117]:
x = ('apple', 'banana', 'cherry')
y = enumerate(x)
y

In [118]:
list(y)

[(0, 'apple'), (1, 'banana'), (2, 'cherry')]

In [119]:
list(x)

['apple', 'banana', 'cherry']

In [120]:
x2 = ('apple', 'banana', 'cherry','het','hello','hi')
y = enumerate(x2,2)

In [121]:
list(y)

[(2, 'apple'),
 (3, 'banana'),
 (4, 'cherry'),
 (5, 'het'),
 (6, 'hello'),
 (7, 'hi')]

In [125]:
# Perimeter of Square
def calculatePerimeter(l):
    return 4*l

# Area of Square
def calculateArea(l):
    return l*l


expression = input("Type a function: ")

for l in range(1, 5):
    if (expression == 'calculatePerimeter(l)'):
        print("If length is ", l, ", Perimeter = ", eval(expression))
    elif (expression == 'calculateArea(l)'):
        print("If length is ", l, ", Area = ", eval(expression))
    else:
        print('Wrong Function')
        break

Type a function: calculatePerimeter(l)
If length is  1 , Perimeter =  4
If length is  2 , Perimeter =  8
If length is  3 , Perimeter =  12
If length is  4 , Perimeter =  16

In [126]:
calculateArea(5)

25

In [128]:
#The eval() function evaluates the specified expression, if the expression is a legal Python statement, it will be executed.
x = 1
eval('x + 1')

2

In [129]:
from math import *

In [130]:
a = 169

In [131]:
sqrt(a)

13.0

In [132]:
eval('sqrt(a)')

13.0

In [133]:
prog = 'print("The sum of 5 and 10 is", (5+10))'
exec(prog)

The sum of 5 and 10 is 15

In [140]:
# factorial() will be executed 
from math import *
exec("print(factorial(5))")

120

In [141]:
program = input('Enter a program:')
exec(program)

Enter a program:[print(item) for item in [1, 2, 3]]
1
2
3

In [144]:
eval('[(x**2) for x in range(7)]')

[0, 1, 4, 9, 16, 25, 36]

In [145]:
#filter function

In [146]:
#filter() method returns an iterator that passed the function check for each element in the iterable.

In [165]:
# when function is defined
#(element for element in iterable if function(element))

# when function is None
#(element for element in iterable if element)
#Filter function only returns the true values.
#filter(function, iterable)
#A Function to be run for each item in the iterable
#The iterable to be filtered

In [151]:
# list of letters
letters = ['a', 'b', 'd', 'e', 'i', 'j', 'o']

# function that filters vowels
def filterVowels(letter):
    vowels = ['a', 'e', 'i', 'o', 'u']

    if(letter in vowels):
        return True
    else:
        return False

filteredVowels = filter(filterVowels, letters)

print('The filtered vowels are:')
for vowel in filteredVowels:
    print(vowel)

The filtered vowels are:
a
e
i
o

In [152]:
# random list
randomList = [1, 'a', 0, False, True, '0']

filteredList = filter(None, randomList)

print('The filtered elements are:')
for element in filteredList:
    print(element)

The filtered elements are:
1
a
True
0

In [164]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)

for x in adults:
  print(x)

18
24
32

In [168]:
x = float(3)
x

3.0

In [169]:
x = float("3.500")
x

3.5

In [172]:
x = format(0.5, '%')
x

'50.000000%'

In [173]:
x = "{:.2f}".format(5.23848576)
x

'5.24'

In [174]:
'%.2f' % 1.2343949576

'1.23'

In [175]:
'{:.5f}'.format(3.141592653589793)

'3.14159'

In [176]:
#format in long strings.

In [177]:
'{:.5}'.format('xylophonefhnewfpofhepofheopfh')

'xylop'

In [179]:
'{:.7}'.format('xylophone')

'xylopho'

In [180]:
#format(value, format)

In [183]:
x = format(0.5, '+')
x

'+0.5'

In [196]:
x = format(0.5,'g')
x

'0.5'

In [201]:
#frozenset() Function
#Freeze the list, and make it unchangeable:

In [202]:
mylist = ['apple', 'banana', 'cherry']
x = frozenset(mylist)
x

frozenset({'apple', 'banana', 'cherry'})

In [204]:
#which is like a set object, only unchangeable).
x[1] = "strawberry"

TypeError: 'frozenset' object does not support item assignment

#Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called. You can convert the tuple into a list, change the list, and convert the list back into a tuple. ...

In [205]:
#getattr() Function.
#Get the value of the "age" property of the "Person" object:

In [209]:
class Person:
  name = "John"
  age = 36
  country = "Norway"

x = getattr(Person, 'age')
y = getattr(Person, 'name')
e = getattr(Person, 'country')
x
y
e

'Norway'

In [212]:
c = 1 # global variable
    
def x():
    c = 1
    c = c + 2 # increment c by 2
    print(c)

x()

3

In [213]:
#Global Variables
#Variables that are created outside of a function (as in all of the examples above) are known as global variables.
#Global variables can be used by everyone, both inside of functions and outside.

In [214]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [215]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

Python is fantastic

In [218]:
def myfunc():
    global x
    x = "fantastic"
    return x+'1'
myfunc()

'fantastic1'

In [222]:
#hasattr() Function
#Check if the "Person" object has the "age" property:
#The hasattr() function returns True if the specified object has the specified attribute, otherwise False.

In [223]:
class Person:
  name = "John"
  age = 36
  country = "Norway"

x = hasattr(Person, 'age')
x

True

In [225]:
#The delattr() function, to remove an attribute
#attribute = property
#The getattr() function, to get the value of an attribute

#The setattr() function, to set the value of an attribute

# An object in python could be String, Number, List, Class etc.

In [234]:
#Tuple
x = ('apple', 'banana', 'cherry')
#if you run it every time throughs a different id number.
y = id(x)
y

2486865490872

In [235]:
#input() Function

In [236]:
x = input()
print('Hello, ' + x)

Thomas
Hello, Thomas

In [237]:
x = input('Enter your name:')
print('Hello, ' + x)

Enter your name:Federico
Hello, Federico

In [242]:
#Convert the number 3.5 into an integer:
x = int(3.5576960)
x

3

In [244]:
#Convert a string into an integer:
x = int("12")
x

12

In [250]:
#Check if "Hello" is one of the types described in the type parameter:
x = isinstance("Hello", (float, int, list, dict, tuple))
x

False

In [251]:
class myObj:
  name = "John"

y = myObj()

x = isinstance(y, myObj)
x

True

In [305]:
List = [1,2,3,4,4,6,3345,567,456]

In [307]:
r = isinstance(List,list)
r

True

In [308]:
r1 = isinstance(50,int)
r1

True

In [255]:
marks = 90
result = isinstance(marks, int)
if result :
  print("Yes! given variable is an instance of type int")
else:
  print("No! given variable is not an instance of type int")

Yes! given variable is an instance of type int

In [256]:
number = 80
pi = 3.14
name = "pynative.com"
complexNum = 1+2j

sampleList  = ["Eric", "Scott", "Kelly"]
studentDict = {"John":80, "Eric":70, "Donald":90}
sampleTuple = ("Sam","Developer", 10000)
sampleSet   = {11, 22, 33, 44, 55}

flag = isinstance(number, int)
print(number,'is an instance of int?', flag)

flag = isinstance(pi, float)
print(pi,'is an instance of float?', flag)

flag = isinstance(complexNum, complex)
print(complexNum, "is an instance of a complex number?", flag)

flag = isinstance(name, str)
print(name,'is an instance of String?', flag, "\n")

flag = isinstance(sampleList, list)
print(sampleList,'is instance of list?', flag)

flag = isinstance(studentDict, dict)
print(studentDict,'is instance of Dictionary?', flag)

flag = isinstance(sampleTuple, tuple)
print(sampleList,'is instance of Tuple?', flag)

flag = isinstance(sampleSet, set)
print(studentDict,'is instance of Set?', flag)

80 is an instance of int? True
3.14 is an instance of float? True
(1+2j) is an instance of a complex number? True
pynative.com is an instance of String? True

['Eric', 'Scott', 'Kelly'] is instance of list? True
{'John': 80, 'Eric': 70, 'Donald': 90} is instance of Dictionary? True
['Eric', 'Scott', 'Kelly'] is instance of Tuple? True
{'John': 80, 'Eric': 70, 'Donald': 90} is instance of Set? True

In [257]:
T = ('Jorge',123,"March",34565)
T1 = isinstance(T,tuple )
T1

True

In [272]:
#Let’s say you have a variable and you wanted to check whether it holds any numeric value or not, 
#for example, a numeric value can be int or float.
firstNumber = 80
secondNumber = 55.70

result = isinstance(firstNumber, (int, float))
print(firstNumber,'is an instance of int or float?', result)

result = isinstance(secondNumber, (int, float))
print(secondNumber,'is an instance of int or float?', result)

80 is an instance of int or float? True
55.7 is an instance of int or float? True

#issubclass() Function. Check if the class myObj is a subclass of myAge:

In [258]:
class myAge:
  age = 36

class myObj(myAge):
  name = "John"
  age = myAge

x = issubclass(myObj, myAge)
x

True

In [279]:
class Employee:
  
  def __init__(self, name, salary):
    self.name = name
    self.salary = salary

class Person:
  
  def __init__(self, name, sex):
    self.name = name
    self.sex = sex
  

emp = Employee("Emma", 11000)
per = Person("Brent", "male")

print("Checking emp object is an instance of Employee")
if isinstance(emp, Employee) :
  print("Yes! given object is an instance of class Employee\n")
else:
  print("No! given object is not an instance of class Employee")

print("Checking per object is an instance of Employee")  
if isinstance(per, Employee) :
  print("Yes! given object is an instance of class Employee")
else:
  print("No! given object is not an instance of class Employee\n")

Checking emp object is an instance of Employee
Yes! given object is an instance of class Employee

Checking per object is an instance of Employee
No! given object is not an instance of class Employee

In [287]:
# Function defined outside the class
def f1(x, y):
    return min(x, x+y)

In [288]:
f1(1,-4)

-3

#issubclass() Function

In [291]:
#Check if the class myObj is a subclass of myAge:
class myAge:
  age = 36

class myObj(myAge):
  name = "John"
  age = myAge

x = issubclass(myObj, myAge)
x

True

In [293]:
x = iter(["apple", "banana", "cherry"])
x

In [294]:
a_set = {1, 2, 3}
b_iterator = iter(a_set)
next(b_iterator)

1

# Iterables

#"an iterable is any object, not necessarily a data structure that can return an iterator". Its main purpose is to return all of its elements. Iterables can represent finite as well as infinite source of data. An iterable will directly or indirectly define two methods: the __iter__() method, which must return the iterator object and the __next()__ method with the help of the iterator it calls.

#There is a major dissimilarity between what an iterable is and what an iterator is. Here is an example:

In [295]:
a_set = {1, 2, 3}
b_iterator = iter(a_set)
next(b_iterator)

1

In [296]:
type(a_set)

set

In [309]:
type(b_iterator)

set_iterator

In [316]:
class Series(object):
    def __init__(self, low, high):
        self.low = low
        self.high = high

    def __iter__(self):
        return self

    def __next__(self):
        if self.low > self.high:
            raise StopIteration
        else:
            self.low += 1
            #if I do not include the -1 I will have this iteration: [2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
            return self.low -1

n_list = Series(1,10)    
print(list(n_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [317]:
x = iter(["apple", "banana", "cherry"])
print(next(x))
print(next(x))
print(next(x))

apple
banana
cherry

Containers are the objects that hold data values. They support membership tests, which means you can check if a value exists in the container. Containers are iterables - lists, sets, dictionary, tuple and strings are all containers.

In [318]:
if 1 in [1,2,3]:
    print('List')

if 4 not in {1,2,3}:
    print('Tuple')

if 'apple' in 'pineapple':
    print('String') #string contains all its substrings

List
Tuple
String

In [321]:
from itertools import count
sequence = count(start=0,step = 1)
while(next(sequence) <= 10):
    print(next(sequence))

1
3
5
7
9
11

In [1]:
from itertools import cycle
#Cycle means that it comes back to the beginning. 
dessert = cycle(['Icecream','Cake'])
count = 1
while(count != 6):
    print('Q. What do we have for dessert? A: ' + next(dessert))
    count+=1

Q. What do we have for dessert? A: Icecream
Q. What do we have for dessert? A: Cake
Q. What do we have for dessert? A: Icecream
Q. What do we have for dessert? A: Cake
Q. What do we have for dessert? A: Icecream

In [2]:
next(dessert)

'Cake'

In [ ]:
def series_generator(low, high):
    while low <= high:
        yield low
    low += 1

n_list = []
for num in series_generator(1,10):
    n_list.append(num)

n_list

In [ ]:
def series_generator(low, high):
    while low <= high:
        yield low
    low += 1

n_list = []
for num in series_generator(1,10):
    n_list.append(num)

n_list

In [3]:
squares = (x * x for x in range(1,10))
print(type(squares))
print(list(squares))

<class 'generator'>
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
squares

In [7]:
def some_function(x,y,z):
    return x+y+z

In [11]:
some_function(4,5,6)

15

In [12]:
trock = [2,3,4,5,6,7,8]

In [23]:
result = []
for w in trock:
    result.append(w+2)

In [24]:
result

[4, 5, 6, 7, 8, 9, 10]

#reversed() Function

In [25]:
alph = ["a", "b", "c", "d"]
ralph = reversed(alph)
for x in ralph:
    print(x)

d
c
b
a

#len() Function

In [31]:
#Return the number of items in a list:
#A dictionary inside a list. 
mylist = ["apple", "banana", "cherry",12,3,4,{1: 'Hello', 2:'Gladiator'}]
len(mylist)

7

list() Function

In [33]:
#Required. A sequence, collection or an iterator object

In [36]:
#a tuple convert into a list
x = list(('apple', 'banana', 'cherry'))
x

['apple', 'banana', 'cherry']

#map() Function

# the map function creates and iteration,running the function into each argument.

In [46]:
def myfunc(n):
    return len(n)

In [47]:
x = map(myfunc,('apple', 'banana', 'cherry'))
x

In [48]:
#In a map function you need to convert the objext to a list if you wanna see it printed
list(x)

[5, 6, 6]

In [49]:
def square(n):
    return n*n
my_list = [2,3,4,5,6,7,8,9]
updated_list = map(square, my_list)
updated_list
list(updated_list)

[4, 9, 16, 25, 36, 49, 64, 81]

In [50]:
def hey(x,y):
    return x+y

In [51]:
my_list1 = [2,3,4,5,6,7,8,9]
my_list2 = [3,5,6,7,8,9,2,4]
updated_list = map(hey,my_list1,my_list2)
updated_list
list(updated_list)

[5, 8, 10, 12, 14, 16, 10, 13]

In [52]:
def myfunc(a, b):
    return a + b

In [53]:
x = map(myfunc, ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple'))
list(x)

['appleorange', 'bananalemon', 'cherrypineapple']

#max() Function

In [54]:
#Return the largest number:

In [55]:
x = max(5, 10)
x

10

In [57]:
Hola = [34,67,45,50,32,78,20,45,676,70]

In [58]:
max(Hola)

676

In [86]:
#You cannot mix int and strings.
x = max("Mike", "John", "Vicky",56)
x

TypeError: '>' not supported between instances of 'int' and 'str'

In [87]:
x = max("Mike", "John", "Vicky","xcvdfg")
x

'xcvdfg'

Convert a Tuple into a List

In [75]:
#True is boolean value. "True" is a string.
aTuple = ( True, 28, 'Tiger')

In [76]:
out = [t for t in aTuple]
out

[True, 28, 'Tiger']

In [77]:
#Convert a list of Tuples into a List.

In [78]:
lt = [('Geeks', 2), ('For', 4), ('geek', '6')]

In [80]:
out = [item for t in lt for item in t] 
out

['Geeks', 2, 'For', 4, 'geek', '6']

In [81]:
tup = [(1, 2), (3, 4), (5, 6)]

In [82]:
result = [] 
  
for t in tup: 
    for x in t: 
        result.append(x)

In [83]:
result

[1, 2, 3, 4, 5, 6]

min() Function

In [88]:
#min() Function

In [89]:
x = min(5, 10)
x

5

In [90]:
e = [34,34,56,456,45,23,4,5,678,835,8]
min(e)

4

In [93]:
mylist = iter(["apple", "banana", "cherry"])
x = next(mylist)
x

'apple'

In [94]:
y = next(x)
y

TypeError: 'str' object is not an iterator

In [104]:
a = iter([1, 2, 3, 4, 5])

In [105]:
x = next(a)
x

1

#open() Function

In [108]:
f = open("C:/Users/User/Bird_Song..csv", "r")
print(f.read())

english_name,country,latitude,longitude
Common Redpoll,Poland,50.7932,15.4995
Common Redpoll,Poland,50.7932,15.4995
Common Redpoll,Netherlands,52.8176,6.4326
Marsh Warbler,United Kingdom,60.3539,-1.2689
Marsh Warbler,United Kingdom,60.3539,-1.2689
Marsh Warbler,United Kingdom,60.3539,-1.2689
Sedge Warbler,United Kingdom,56.586,-6.1855
Sedge Warbler,United Kingdom,56.586,-6.1855
Sedge Warbler,United Kingdom,55.2809,-1.5801
Eurasian Reed Warbler,United Kingdom,51.8985,-0.5372
Eurasian Reed Warbler,United Kingdom,51.8985,-0.5372
Eurasian Reed Warbler,United Kingdom,51.2887,-0.5267
Long-tailed Tit,Netherlands,52.2766,6.7271
Long-tailed Tit,Poland,52.272,16.797
Long-tailed Tit,Spain,38.2072,-3.9626
Eurasian Skylark,United Kingdom,54.128,-0.5574
Eurasian Skylark,United Kingdom,54.128,-0.5574
Eurasian Skylark,United Kingdom,54.127,-0.556
Meadow Pipit,Norway,70.3753,28.4628
Meadow Pipit,Netherlands,52.2823,5.2256
Meadow Pipit,Netherlands,51.3246,3.7232
Tree Pipit,Sweden,60.157,17.639
Tree Pipit,United Kingdom,53.2112,-1.0717
Tree Pipit,United Kingdom,50.658,-3.719
Common Swift,Germany,53.0956,10.8457
Common Swift,Sweden,58.4278,14.2273
Common Swift,Spain,42.629,-0.111
Canada Goose,United Kingdom,50.768,0.151
Canada Goose,Netherlands,52.1756,4.4003
Canada Goose,Netherlands,52.127,4.326
Dunlin,Sweden,68.471,20.9
Dunlin,Italy,42.6683,11.0069
Dunlin,Iceland,63.921,-20.764
European Nightjar,France,46.5874,0.2243
European Nightjar,Sweden,58.4762,14.3726
European Nightjar,Sweden,58.4392,14.3298
European Goldfinch,United Kingdom,55.9937,-3.5605
European Goldfinch,United Kingdom,55.239,-1.566
European Goldfinch,United Kingdom,56.0058,-3.5162
Eurasian Treecreeper,United Kingdom,51.721,-0.145
Eurasian Treecreeper,Sweden,60.257,17.2172
Eurasian Treecreeper,United Kingdom,51.5826,-0.1426
European Greenfinch,United Kingdom,51.5278,-0.01
European Greenfinch,United Kingdom,50.486,-3.656
European Greenfinch,United Kingdom,49.9168,-6.3027
Black-headed Gull,France,46.401,6.514
Black-headed Gull,France,46.401,6.514
Black-headed Gull,United Kingdom,55.9104,-3.3199
Western Jackdaw,Poland,52.2776,20.9679
Western Jackdaw,France,43.711,5.3928
Western Jackdaw,Germany,54.191,9.106
Rock Dove,Netherlands,52.0775,4.3249
Rock Dove,Poland,52.2129,21.0353
Rock Dove,Poland,52.2776,20.9679
Stock Dove,Netherlands,52.129,4.332
Stock Dove,Germany,54.147,9.222
Stock Dove,Sweden,56.4334,12.5667
Common Wood Pigeon,United Kingdom,49.9172,-6.3034
Common Wood Pigeon,United Kingdom,50.8889,0.422
Common Wood Pigeon,United Kingdom,50.8889,0.422
Northern Raven,Poland,49.0881,22.8128
Northern Raven,Germany,47.693,9.4287
Northern Raven,Sweden,58.3667,14.2667
Carrion Crow,Germany,49.4901,8.477
Carrion Crow,Germany,54.265,9.138
Carrion Crow,Netherlands,52.123,4.338
Rook,Sweden,55.6289,13.7128
Rook,France,45.398,4.2902
Rook,France,45.398,4.2902
Common Cuckoo,United Kingdom,53.2112,-1.0717
Common Cuckoo,United Kingdom,52.65806,1.051941
Common Cuckoo,United Kingdom,49.9092,-6.3039
Eurasian Blue Tit,United Kingdom,51.5501,0.0137
Eurasian Blue Tit,United Kingdom,51.5501,0.0137
Eurasian Blue Tit,United Kingdom,51.5934,0.0256
Common House Martin,Spain,39.8427,-5.9972
Common House Martin,Italy,45.6851,11.0856
Common House Martin,France,42.5816,2.7787
Great Spotted Woodpecker,Norway,69.5778,18.6401
Great Spotted Woodpecker,Sweden,60.297,16.913
Great Spotted Woodpecker,Germany,54.1498,9.2039
Black Woodpecker,Sweden,60.2513,17.1808
Black Woodpecker,Belgium,50.958,3.727
Black Woodpecker,France,46.5966,0.1988
Corn Bunting,United Kingdom,54.1243,-0.557
Corn Bunting,United Kingdom,54.1242,-0.5543
Corn Bunting,United Kingdom,54.1243,-0.557
Yellowhammer,United Kingdom,55.1089,-1.7028
Yellowhammer,United Kingdom,55.1089,-1.7028
Yellowhammer,United Kingdom,52.9382,1.1089
Common Reed Bunting,United Kingdom,55.07,-1.6059
Common Reed Bunting,United Kingdom,55.2809,-1.5801
Common Reed Bunting,United Kingdom,52.497,0.722
European Robin,United Kingdom,51.721,-0.145
European Robin,United Kingdom,51.317,-0.5592
European Robin,United Kingdom,55.9937,-3.5605
Common Chaffinch,United Kingdom,51.5676,0.0451
Common Chaffinch,United Kingdom,49.9172,-6.3034
Common Chaffinch,United Kingdom,54.1245,-0.5722
Eurasian Coot,Netherlands,52.2962,5.1231

#The path and name of the file
#open(file, mode)
#mode	A string, define which mode you want to open the file in:
"r" - Read - Default value. Opens a file for reading, error if the file does not exist

"a" - Append - Opens a file for appending, creates the file if it does not exist

"w" - Write - Opens a file for writing, creates the file if it does not exist

"x" - Create - Creates the specified file, returns an error if the file exist

#pow() Function

In [114]:
x = pow(4, 3)
x

64

In [115]:
y = pow(2,3,5)
y

3

In [119]:
#Return the value of 4 to the power of 3, modulus 5 (same as (4 * 4 * 4) % 5):
#the modulus is the reminder once you do the division.
w = pow(4, 3, 5)
w

4

range() Function

In [120]:
#Create a sequence of numbers from 0 to 5, and print each item in the sequence:

In [122]:
#range(start, stop, step)
x = range(6)
for n in x:
  print(n)

0
1
2
3
4
5

In [123]:
x = range(3, 6)
for n in x:
    print(n)

3
4
5

In [124]:
x = range(3, 20, 2)
for n in x:
    print(n)

3
5
7
9
11
13
15
17
19

reversed() Function

In [125]:
alph = ["a", "b", "c", "d"]
ralph = reversed(alph)
for x in ralph:
  print(x)

d
c
b
a

round() Function

In [126]:
x = round(5.76543, 2)
print(x)

5.77

set() Function

In [127]:
x = set(('apple', 'banana', 'cherry'))
x

{'apple', 'banana', 'cherry'}

In [128]:
x = set(['apple', 'banana', 'cherry'])
x

{'apple', 'banana', 'cherry'}

setattr() Function

In [129]:
class Person:
  name = "John"
  age = 36
  country = "Norway"

In [130]:
setattr(Person, 'age', 40)

In [134]:
x = Person()
x

slice() Function

In [135]:
a = ("a", "b", "c", "d", "e", "f", "g", "h")
x = slice(2)
print(a[x])

('a', 'b')

In [136]:
b = [1,2,3,4,4,5,6,67,7,8,98,6]
x2 = slice(6)
b[x2]

[1, 2, 3, 4, 4, 5]

slice(start, end, step)

In [138]:
a = ("a", "b", "c", "d", "e", "f", "g", "h")
#index from 0 to 5 not included.
x = slice(3, 5)
a[x]

('d', 'e')

In [140]:
#slice(start, end, step)
a = ("a", "b", "c", "d", "e", "f", "g", "h")
x = slice(0, 8, 3)
a[x]

('a', 'd', 'g')

sorted() Function

In [141]:
a = ("b", "g", "a", "d", "f", "c", "h", "e")
x = sorted(a)
x

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [142]:
#sorted(iterable, key=key, reverse=reverse)
#key=A Function to execute to decide the order. Default is None
#A Boolean. False will sort ascending, True will sort descending. Default is False

In [143]:
w = [12,3,45,444,56,654,355,5,6,6,43,345455,56,6,544]
w1 = sorted(w)
w1

[3, 5, 6, 6, 6, 12, 43, 45, 56, 56, 355, 444, 544, 654, 345455]

In [146]:
#Ascending
w2 = sorted(w,reverse = True)
w2

[345455, 654, 544, 444, 355, 56, 56, 45, 43, 12, 6, 6, 6, 5, 3]

# Applying Functions To List Items

In [148]:
regimentNames = ['Night Riflemen', 'Jungle Scouts', 'The Dragoons', 'Midnight Revengence', 'Wily Warriors']

Using A For Loop

In [149]:
# create a variable for the for loop results
regimentNamesCapitalized_f = []

# for every item in regimentNames
for i in regimentNames:
    # capitalize the item and add it to regimentNamesCapitalized_f
    regimentNamesCapitalized_f.append(i.upper())
    
# View the outcome
regimentNamesCapitalized_f

['NIGHT RIFLEMEN',
 'JUNGLE SCOUTS',
 'THE DRAGOONS',
 'MIDNIGHT REVENGENCE',
 'WILY WARRIORS']

In [157]:
w11 = [12,3,45,444,56,654,355,5,6,6,43,345455,56,6,544,87]

In [163]:
w12 = [x*2.3 for x in w11]
w12

[27.599999999999998,
 6.8999999999999995,
 103.49999999999999,
 1021.1999999999999,
 128.79999999999998,
 1504.1999999999998,
 816.4999999999999,
 11.5,
 13.799999999999999,
 13.799999999999999,
 98.89999999999999,
 794546.4999999999,
 128.79999999999998,
 13.799999999999999,
 1251.1999999999998,
 200.1]

In [186]:
my_rounded_list = [ round(elem, 5) for elem in w12 ]
my_rounded_list

[27.6,
 6.9,
 103.5,
 1021.2,
 128.8,
 1504.2,
 816.5,
 11.5,
 13.8,
 13.8,
 98.9,
 794546.5,
 128.8,
 13.8,
 1251.2,
 200.1]

In [189]:
w14 = ["%.3f" % e for e in w12]
w14

['27.600',
 '6.900',
 '103.500',
 '1021.200',
 '128.800',
 '1504.200',
 '816.500',
 '11.500',
 '13.800',
 '13.800',
 '98.900',
 '794546.500',
 '128.800',
 '13.800',
 '1251.200',
 '200.100']

In [190]:
#str() Function

In [191]:
x = str(3.5)
x

'3.5'

In [194]:
#Converts a string into a float.
x = float("12.34")
x

12.34

sum() Function

In [196]:
a = (1, 2, 3, 4, 5)
x = sum(a)
x

15

In [197]:
a = [1, 2, 3, 4, 5]
x = sum(a)
x

15

In [198]:
class Parent:
  def __init__(self, txt):
    self.message = txt

  def printmessage(self):
    print(self.message)

In [199]:
x = Parent("Hello, and welcome!")

x.printmessage()

Hello, and welcome!

In [200]:
class Number:
  def __init__(self, txt):
    self.number = txt

  def function(self):
    return self.number*2

In [201]:
y = Number(2)

In [202]:
y.function()

4

tuple() Function

In [203]:
x = tuple(('apple', 'banana', 'cherry'))
x

('apple', 'banana', 'cherry')

In [204]:
x = tuple(['apple', 'banana', 'cherry'])
x

('apple', 'banana', 'cherry')

In [205]:
x = tuple({'apple', 'banana', 'cherry'})
x

('apple', 'banana', 'cherry')

In [206]:
a = ('apple', 'banana', 'cherry')
b = "Hello World"
c = 33
d = 33.23
e = {1,2,3,4,5,6,6}
f = {1:'hey',2:'hello',3:1234}

In [207]:
x = type(a)
y = type(b)
z = type(c)
w = type(d)
u = type(e)
o = type(f)

In [209]:
o

dict

In [211]:
class Person:
  name = "John"
  age = 36
  country = "norway"

x = vars(Person)
x

mappingproxy({'__module__': '__main__',
              'name': 'John',
              'age': 36,
              'country': 'norway',
              '__dict__': <attribute '__dict__' of 'Person' objects>,
              '__weakref__': <attribute '__weakref__' of 'Person' objects>,
              '__doc__': None})

# zip() Function

In [1]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")

x56 =zip(a, b)

In [2]:
x57 = tuple(x56)

In [3]:
x57

(('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica'))

In [5]:
x58 = list(x57)
x58

[('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica')]

In [6]:
b = [list(x) for x in x57]
b

[['John', 'Jenny'], ['Charles', 'Christy'], ['Mike', 'Monica']]

In [10]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica","Vicky")

x45 = zip(a, b)

In [11]:
#The last element of b does not show up. 
tuple(x45)

(('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica'))

In [20]:
a = [123,4,5,6,7,7,89,67,89]
b = [34,56,7,84,45]
x46 = zip(a,b)

In [21]:
x47 = list(x46)

In [22]:
x47

[(123, 34), (4, 56), (5, 7), (6, 84), (7, 45)]

In [24]:
b = [list(x) for x in x47]
b

[[123, 34], [4, 56], [5, 7], [6, 84], [7, 45]]

In [25]:
b[0]

[123, 34]

In [29]:
# List of list
listOfList = [ [1, 2, 3, 4, 5],
                [11, 22, 33, 44, 55],
                [17, 18, 19, 20, 21] ]

In [32]:
flatList = [ item for elem in listOfList for item in elem]
flatList

[1, 2, 3, 4, 5, 11, 22, 33, 44, 55, 17, 18, 19, 20, 21]

In [1]:
a = ["John", "Charles", "Mike"]
b = ["Jenny", "Christy", "Monica"]

In [2]:
c = zip(a,b)

In [3]:
d = list[c]
d

TypeError: 'type' object is not subscriptable

In [4]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

a_zip = zip(list1, list2)
#Create zip object


zipped_list = list(a_zip)

In [5]:
zipped_list

[(1, 4), (2, 5), (3, 6)]

In [6]:
b11 = [list(x) for x in zipped_list]
b11

[[1, 4], [2, 5], [3, 6]]

In [7]:
flatList2 = [ item for elem in b11 for item in elem]
flatList2

[1, 4, 2, 5, 3, 6]

In [8]:
list12 = ['hello','glady', 'three']
list22 = [4, 5, 6]

a_zip2 = zip(list12, list22)
#Create zip object


zipped_list2 = list(a_zip2)

In [9]:
zipped_list2

[('hello', 4), ('glady', 5), ('three', 6)]

In [11]:
list13 = {'hello','glady', 'three'}
list23 = {4, 5, 6}

a_zip3 = zip(list13, list23)
#Create zip object


zipped_list3 = list(a_zip3)
zipped_list3

[('three', 4), ('glady', 5), ('hello', 6)]