# Timedeltas are differences in times, expressed in difference units, e.g. days, hours, minutes, seconds. They can be both positive and negative.

In [18]:
import datetime
import pandas as pd

In [19]:
#Timedelta is a subclass of datetime.timedelta

In [20]:
pd.Timedelta("1 days")

Timedelta('1 days 00:00:00')

In [21]:
pd.Timedelta("1 days 00:00:00")

Timedelta('1 days 00:00:00')

In [22]:
pd.Timedelta(days=1, hours=1)

Timedelta('1 days 01:00:00')

In [23]:
L = pd.Timedelta(days=1, hours=1,minutes=30,seconds=45)
L

Timedelta('1 days 01:30:45')

In [24]:
day = "20130101"

In [25]:
day + L*2

Timedelta('2 days 03:01:30.020130')

In [26]:
pd.Timedelta(days=1, seconds=1)

Timedelta('1 days 00:00:01')

In [27]:
pd.Timedelta(seconds=15)

Timedelta('0 days 00:00:15')

In [28]:
pd.Timedelta(1, unit="d")

Timedelta('1 days 00:00:00')

In [29]:
pd.Timedelta(1, unit="m")

Timedelta('0 days 00:01:00')

In [30]:
pd.Timedelta(1, unit="s")

Timedelta('0 days 00:00:01')

In [31]:
pd.Timedelta(1, unit="ms")

Timedelta('0 days 00:00:00.001000')

In [33]:
pd.Timedelta("P0DT10H1M20S")

Timedelta('0 days 10:01:20')

In [34]:
pd.to_timedelta(np.arange(5), unit="s")

TimedeltaIndex(['00:00:00', '00:00:01', '00:00:02', '00:00:03', '00:00:04'], dtype='timedelta64[ns]', freq=None)

In [35]:
pd.to_timedelta(np.arange(5), unit="h")

TimedeltaIndex(['00:00:00', '01:00:00', '02:00:00', '03:00:00', '04:00:00'], dtype='timedelta64[ns]', freq=None)

In [36]:
pd.to_timedelta(np.arange(5), unit="d")

TimedeltaIndex(['0 days', '1 days', '2 days', '3 days', '4 days'], dtype='timedelta64[ns]', freq=None)

In [37]:
s = pd.Series(pd.date_range("2012-1-1", periods=8, freq="D"))
s

0   2012-01-01
1   2012-01-02
2   2012-01-03
3   2012-01-04
4   2012-01-05
5   2012-01-06
6   2012-01-07
7   2012-01-08
dtype: datetime64[ns]

In [42]:
td = pd.Series([pd.Timedelta(days=i) for i in range(8)])
td

0   0 days
1   1 days
2   2 days
3   3 days
4   4 days
5   5 days
6   6 days
7   7 days
dtype: timedelta64[ns]

In [43]:
df = pd.DataFrame({"A": s, "B": td})
df

           A      B
0 2012-01-01 0 days
1 2012-01-02 1 days
2 2012-01-03 2 days
3 2012-01-04 3 days
4 2012-01-05 4 days
5 2012-01-06 5 days
6 2012-01-07 6 days
7 2012-01-08 7 days

In [44]:
df["C"] = df["A"] + df["B"]

In [45]:
df

           A      B          C
0 2012-01-01 0 days 2012-01-01
1 2012-01-02 1 days 2012-01-03
2 2012-01-03 2 days 2012-01-05
3 2012-01-04 3 days 2012-01-07
4 2012-01-05 4 days 2012-01-09
5 2012-01-06 5 days 2012-01-11
6 2012-01-07 6 days 2012-01-13
7 2012-01-08 7 days 2012-01-15

In [46]:
s - s.max()

0   -7 days
1   -6 days
2   -5 days
3   -4 days
4   -3 days
5   -2 days
6   -1 days
7    0 days
dtype: timedelta64[ns]

In [47]:
datetime.datetime(2011, 1, 1, 3, 5)

datetime.datetime(2011, 1, 1, 3, 5)

In [49]:
s + datetime.timedelta(minutes=5)

0   2012-01-01 00:05:00
1   2012-01-02 00:05:00
2   2012-01-03 00:05:00
3   2012-01-04 00:05:00
4   2012-01-05 00:05:00
5   2012-01-06 00:05:00
6   2012-01-07 00:05:00
7   2012-01-08 00:05:00
dtype: datetime64[ns]

In [50]:
s + pd.offsets.Minute(5)

0   2012-01-01 00:05:00
1   2012-01-02 00:05:00
2   2012-01-03 00:05:00
3   2012-01-04 00:05:00
4   2012-01-05 00:05:00
5   2012-01-06 00:05:00
6   2012-01-07 00:05:00
7   2012-01-08 00:05:00
dtype: datetime64[ns]

In [51]:
s + pd.offsets.Minute(5) + pd.offsets.Milli(5)

0   2012-01-01 00:05:00.005
1   2012-01-02 00:05:00.005
2   2012-01-03 00:05:00.005
3   2012-01-04 00:05:00.005
4   2012-01-05 00:05:00.005
5   2012-01-06 00:05:00.005
6   2012-01-07 00:05:00.005
7   2012-01-08 00:05:00.005
dtype: datetime64[ns]

In [53]:
s[0]

Timestamp('2012-01-01 00:00:00')

In [54]:
s[1]

Timestamp('2012-01-02 00:00:00')

In [55]:
y = s - s[0]
y

0   0 days
1   1 days
2   2 days
3   3 days
4   4 days
5   5 days
6   6 days
7   7 days
dtype: timedelta64[ns]

In [56]:
s.shift()

0          NaT
1   2012-01-01
2   2012-01-02
3   2012-01-03
4   2012-01-04
5   2012-01-05
6   2012-01-06
7   2012-01-07
dtype: datetime64[ns]

In [58]:
s

0   2012-01-01
1   2012-01-02
2   2012-01-03
3   2012-01-04
4   2012-01-05
5   2012-01-06
6   2012-01-07
7   2012-01-08
dtype: datetime64[ns]

In [60]:
A = s - pd.Timedelta("00:05:05")
A

0   2011-12-31 23:54:55
1   2012-01-01 23:54:55
2   2012-01-02 23:54:55
3   2012-01-03 23:54:55
4   2012-01-04 23:54:55
5   2012-01-05 23:54:55
6   2012-01-06 23:54:55
7   2012-01-07 23:54:55
dtype: datetime64[ns]

In [61]:
B = pd.Series(pd.date_range("2012-1-2", periods=3, freq="D"))
B

0   2012-01-02
1   2012-01-03
2   2012-01-04
dtype: datetime64[ns]

In [62]:
december = pd.Series(pd.date_range("20121201", periods=4))
december

0   2012-12-01
1   2012-12-02
2   2012-12-03
3   2012-12-04
dtype: datetime64[ns]

In [63]:
january = pd.Series(pd.date_range("20130101", periods=4))
january

0   2013-01-01
1   2013-01-02
2   2013-01-03
3   2013-01-04
dtype: datetime64[ns]

In [70]:
td = january - december
td

0   31 days
1   31 days
2   31 days
3   31 days
dtype: timedelta64[ns]

In [73]:
td[2] += datetime.timedelta(minutes=10, seconds=3)

In [74]:
td

0   31 days 00:00:00
1   31 days 00:00:00
2   31 days 00:10:03
3   31 days 00:00:00
dtype: timedelta64[ns]

In [75]:
td[3] += datetime.timedelta(minutes=5, seconds=43)

In [76]:
td

0   31 days 00:00:00
1   31 days 00:00:00
2   31 days 00:10:03
3   31 days 00:05:43
dtype: timedelta64[ns]

In [77]:
td * -1

0   -31 days +00:00:00
1   -31 days +00:00:00
2   -32 days +23:49:57
3   -32 days +23:54:17
dtype: timedelta64[ns]

In [79]:
td

0   31 days 00:00:00
1   31 days 00:00:00
2   31 days 00:10:03
3   31 days 00:05:43
dtype: timedelta64[ns]

In [78]:
td * pd.Series([1, 2, 3, 4])

0    31 days 00:00:00
1    62 days 00:00:00
2    93 days 00:30:09
3   124 days 00:22:52
dtype: timedelta64[ns]