In [11]:
# Incorporated the csv module
import csv
import os
import pandas as pd

In [12]:
# Files to load and output (Remember to change these)
file_to_load = os.path.join("C:/Users/User/bootcamp_files/py_bank.csv")

In [14]:
Table = pd.read_csv("C:/Users/User/bootcamp_files/Py_Poll.csv")

Table.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [15]:
Table['Candidate'].nunique()

4

In [18]:
Table['Candidate'].unique()

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [19]:
Table['County'].unique()

array(['Marsh', 'Queen', 'Bamoo', 'Trandee', 'Raffah'], dtype=object)

In [21]:
S = Table['Candidate'].value_counts()
S

Khan        661583
Correy      209046
Li          146360
O'Tooley     31586
Name: Candidate, dtype: int64

In [23]:
S.to_frame()

          Candidate
Khan         661583
Correy       209046
Li           146360
O'Tooley      31586

In [24]:
dti = pd.date_range("2018-01-01", periods=3, freq="H")
dti

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00'],
              dtype='datetime64[ns]', freq='H')

In [25]:
idx = pd.date_range("2018-01-01", periods=5, freq="H")
ts = pd.Series(range(len(idx)), index=idx)
ts

2018-01-01 00:00:00    0
2018-01-01 01:00:00    1
2018-01-01 02:00:00    2
2018-01-01 03:00:00    3
2018-01-01 04:00:00    4
Freq: H, dtype: int64

In [26]:
pd.Series(pd.date_range("2000", freq="D", periods=3))

0   2000-01-01
1   2000-01-02
2   2000-01-03
dtype: datetime64[ns]

In [27]:
pd.Series(pd.period_range("1/1/2011", freq="M", periods=3))

0    2011-01
1    2011-02
2    2011-03
dtype: period[M]

In [28]:
pd.Series(pd.period_range("2/15/2011", freq="M", periods=3))

0    2011-02
1    2011-03
2    2011-04
dtype: period[M]

In [30]:
pd.Series(pd.date_range("1/1/2011", freq="M", periods=12))

0    2011-01-31
1    2011-02-28
2    2011-03-31
3    2011-04-30
4    2011-05-31
5    2011-06-30
6    2011-07-31
7    2011-08-31
8    2011-09-30
9    2011-10-31
10   2011-11-30
11   2011-12-31
dtype: datetime64[ns]

In [31]:
dates = [ pd.Timestamp("2012-05-01"),pd.Timestamp("2012-05-02"),pd.Timestamp("2012-05-03") ]

In [32]:
dates

[Timestamp('2012-05-01 00:00:00'),
 Timestamp('2012-05-02 00:00:00'),
 Timestamp('2012-05-03 00:00:00')]

In [34]:
ts = pd.Series(np.random.randn(3), dates)
ts

2012-05-01    0.368506
2012-05-02   -1.882165
2012-05-03    1.676369
dtype: float64

In [36]:
df = pd.DataFrame({"year": [2015, 2016], "month": [2, 3], "day": [4, 5], "hour": [2, 3]})
df

   year  month  day  hour
0  2015      2    4     2
1  2016      3    5     3

In [37]:
pd.to_datetime(df)

0   2015-02-04 02:00:00
1   2016-03-05 03:00:00
dtype: datetime64[ns]

In [38]:
pd.to_datetime(df[["year", "month", "day"]])

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [39]:
#pd.to_datetime looks for standard designations of the datetime component in the column names, including:

#required: year, month, day

#optional: hour, minute, second, millisecond, microsecond, nanosecond

In [40]:
stamps = pd.date_range("2012-10-08 18:15:05", periods=4, freq="D")
stamps

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05'],
              dtype='datetime64[ns]', freq='D')

In [41]:
 pd.to_datetime([1, 2, 3,4,5,6,7], unit="D", origin=pd.Timestamp("1960-01-01"))

DatetimeIndex(['1960-01-02', '1960-01-03', '1960-01-04', '1960-01-05',
               '1960-01-06', '1960-01-07', '1960-01-08'],
              dtype='datetime64[ns]', freq=None)

In [42]:
index = pd.DatetimeIndex(dates)
index

DatetimeIndex(['2012-05-01', '2012-05-02', '2012-05-03'], dtype='datetime64[ns]', freq=None)

In [44]:
import datetime

In [45]:
start = datetime.datetime(2011, 1, 1)

end = datetime.datetime(2012, 1, 1)

index = pd.date_range(start, end)

index

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
               '2011-01-09', '2011-01-10',
               ...
               '2011-12-23', '2011-12-24', '2011-12-25', '2011-12-26',
               '2011-12-27', '2011-12-28', '2011-12-29', '2011-12-30',
               '2011-12-31', '2012-01-01'],
              dtype='datetime64[ns]', length=366, freq='D')

In [46]:
pd.date_range(start, periods=1000, freq="M")

DatetimeIndex(['2011-01-31', '2011-02-28', '2011-03-31', '2011-04-30',
               '2011-05-31', '2011-06-30', '2011-07-31', '2011-08-31',
               '2011-09-30', '2011-10-31',
               ...
               '2093-07-31', '2093-08-31', '2093-09-30', '2093-10-31',
               '2093-11-30', '2093-12-31', '2094-01-31', '2094-02-28',
               '2094-03-31', '2094-04-30'],
              dtype='datetime64[ns]', length=1000, freq='M')

In [47]:
pd.date_range(start, end='2012-01-01', freq="M")

DatetimeIndex(['2011-01-31', '2011-02-28', '2011-03-31', '2011-04-30',
               '2011-05-31', '2011-06-30', '2011-07-31', '2011-08-31',
               '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-31'],
              dtype='datetime64[ns]', freq='M')

In [48]:
# BQS, business quarter start frequency.
pd.date_range(start, periods=250, freq="BQS")

DatetimeIndex(['2011-01-03', '2011-04-01', '2011-07-01', '2011-10-03',
               '2012-01-02', '2012-04-02', '2012-07-02', '2012-10-01',
               '2013-01-01', '2013-04-01',
               ...
               '2071-01-01', '2071-04-01', '2071-07-01', '2071-10-01',
               '2072-01-01', '2072-04-01', '2072-07-01', '2072-10-03',
               '2073-01-02', '2073-04-03'],
              dtype='datetime64[ns]', length=250, freq='BQS-JAN')

In [50]:
pd.date_range('2011-01-25', periods=250, freq="BQS")

DatetimeIndex(['2011-04-01', '2011-07-01', '2011-10-03', '2012-01-02',
               '2012-04-02', '2012-07-02', '2012-10-01', '2013-01-01',
               '2013-04-01', '2013-07-01',
               ...
               '2071-04-01', '2071-07-01', '2071-10-01', '2072-01-01',
               '2072-04-01', '2072-07-01', '2072-10-03', '2073-01-02',
               '2073-04-03', '2073-07-03'],
              dtype='datetime64[ns]', length=250, freq='BQS-JAN')

In [51]:
#Business Month
pd.date_range(start, end, freq="BM")

DatetimeIndex(['2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29',
               '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31',
               '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30'],
              dtype='datetime64[ns]', freq='BM')

In [52]:
pd.date_range('2011-01-31', end, freq="W")

DatetimeIndex(['2011-02-06', '2011-02-13', '2011-02-20', '2011-02-27',
               '2011-03-06', '2011-03-13', '2011-03-20', '2011-03-27',
               '2011-04-03', '2011-04-10', '2011-04-17', '2011-04-24',
               '2011-05-01', '2011-05-08', '2011-05-15', '2011-05-22',
               '2011-05-29', '2011-06-05', '2011-06-12', '2011-06-19',
               '2011-06-26', '2011-07-03', '2011-07-10', '2011-07-17',
               '2011-07-24', '2011-07-31', '2011-08-07', '2011-08-14',
               '2011-08-21', '2011-08-28', '2011-09-04', '2011-09-11',
               '2011-09-18', '2011-09-25', '2011-10-02', '2011-10-09',
               '2011-10-16', '2011-10-23', '2011-10-30', '2011-11-06',
               '2011-11-13', '2011-11-20', '2011-11-27', '2011-12-04',
               '2011-12-11', '2011-12-18', '2011-12-25', '2012-01-01'],
              dtype='datetime64[ns]', freq='W-SUN')

In [53]:
#2012, 1, 1

In [55]:
#business date. From the end backward
pd.bdate_range(end=end, periods=20)

DatetimeIndex(['2011-12-05', '2011-12-06', '2011-12-07', '2011-12-08',
               '2011-12-09', '2011-12-12', '2011-12-13', '2011-12-14',
               '2011-12-15', '2011-12-16', '2011-12-19', '2011-12-20',
               '2011-12-21', '2011-12-22', '2011-12-23', '2011-12-26',
               '2011-12-27', '2011-12-28', '2011-12-29', '2011-12-30'],
              dtype='datetime64[ns]', freq='B')

In [57]:
#business date
pd.bdate_range(start=start, periods=20)

DatetimeIndex(['2011-01-03', '2011-01-04', '2011-01-05', '2011-01-06',
               '2011-01-07', '2011-01-10', '2011-01-11', '2011-01-12',
               '2011-01-13', '2011-01-14', '2011-01-17', '2011-01-18',
               '2011-01-19', '2011-01-20', '2011-01-21', '2011-01-24',
               '2011-01-25', '2011-01-26', '2011-01-27', '2011-01-28'],
              dtype='datetime64[ns]', freq='B')

In [58]:
pd.date_range("2018-01-01", "2018-01-05", periods=5)

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05'],
              dtype='datetime64[ns]', freq=None)

In [59]:
pd.date_range("2018-01-01", "2018-01-05", periods=10)

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 10:40:00',
               '2018-01-01 21:20:00', '2018-01-02 08:00:00',
               '2018-01-02 18:40:00', '2018-01-03 05:20:00',
               '2018-01-03 16:00:00', '2018-01-04 02:40:00',
               '2018-01-04 13:20:00', '2018-01-05 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [60]:
pd.date_range("2018-01-01", "2018-01-05", periods=20)

DatetimeIndex([          '2018-01-01 00:00:00',
               '2018-01-01 05:03:09.473684210',
               '2018-01-01 10:06:18.947368421',
               '2018-01-01 15:09:28.421052631',
               '2018-01-01 20:12:37.894736842',
               '2018-01-02 01:15:47.368421052',
               '2018-01-02 06:18:56.842105263',
               '2018-01-02 11:22:06.315789473',
               '2018-01-02 16:25:15.789473684',
               '2018-01-02 21:28:25.263157894',
               '2018-01-03 02:31:34.736842105',
               '2018-01-03 07:34:44.210526315',
               '2018-01-03 12:37:53.684210526',
               '2018-01-03 17:41:03.157894736',
               '2018-01-03 22:44:12.631578947',
               '2018-01-04 03:47:22.105263157',
               '2018-01-04 08:50:31.578947368',
               '2018-01-04 13:53:41.052631578',
               '2018-01-04 18:56:50.526315789',
                         '2018-01-05 00:00:00'],
              dtype='datetime64[ns]', freq=None)

Alias    Description
B        business day frequency
C        custom business day frequency
D        calendar day frequency
W        weekly frequency
M        month end frequency
SM       semi-month end frequency (15th and end of month)
BM       business month end frequency
CBM      custom business month end frequency
MS       month start frequency
SMS      semi-month start frequency (1st and 15th)
BMS      business month start frequency
CBMS     custom business month start frequency
Q        quarter end frequency
BQ       business quarter end frequency
QS       quarter start frequency
BQS      business quarter start frequency
A, Y     year end frequency
BA, BY   business year end frequency
AS, YS   year start frequency
BAS, BYS business year start frequency
BH       business hour frequency
H        hourly frequency
T, min   minutely frequency
S        secondly frequency
L, ms    milliseconds
U, us    microseconds
N        nanoseconds

In [61]:
weekmask = "Mon Tue Wed Fri"

In [62]:
holidays = [datetime.datetime(2011, 1, 5), datetime.datetime(2011, 3, 14)]

pd.bdate_range(start, end, freq="C", weekmask=weekmask, holidays=holidays)

DatetimeIndex(['2011-01-03', '2011-01-04', '2011-01-07', '2011-01-10',
               '2011-01-11', '2011-01-12', '2011-01-14', '2011-01-17',
               '2011-01-18', '2011-01-19',
               ...
               '2011-12-14', '2011-12-16', '2011-12-19', '2011-12-20',
               '2011-12-21', '2011-12-23', '2011-12-26', '2011-12-27',
               '2011-12-28', '2011-12-30'],
              dtype='datetime64[ns]', length=206, freq='C')

In [63]:
pd.bdate_range(start, end, freq="CBMS", weekmask=weekmask)

DatetimeIndex(['2011-01-03', '2011-02-01', '2011-03-01', '2011-04-01',
               '2011-05-02', '2011-06-01', '2011-07-01', '2011-08-01',
               '2011-09-02', '2011-10-03', '2011-11-01', '2011-12-02'],
              dtype='datetime64[ns]', freq='CBMS')

In [65]:
rng = pd.date_range(start, end, freq="BM")
rng

DatetimeIndex(['2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29',
               '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31',
               '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30'],
              dtype='datetime64[ns]', freq='BM')

In [66]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2011-01-31    0.808741
2011-02-28   -0.289919
2011-03-31    1.106234
2011-04-29   -0.446998
2011-05-31    1.865305
2011-06-30   -1.337369
2011-07-29    1.343006
2011-08-31    1.472197
2011-09-30    1.161232
2011-10-31    0.414121
2011-11-30   -0.723467
2011-12-30   -0.191942
Freq: BM, dtype: float64

In [67]:
#first five
ts[:5].index

DatetimeIndex(['2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29',
               '2011-05-31'],
              dtype='datetime64[ns]', freq='BM')

In [68]:
#jump every second
ts[::2].index

DatetimeIndex(['2011-01-31', '2011-03-31', '2011-05-31', '2011-07-29',
               '2011-09-30', '2011-11-30'],
              dtype='datetime64[ns]', freq='2BM')

In [70]:
#jump every five
ts[::5].index

DatetimeIndex(['2011-01-31', '2011-06-30', '2011-11-30'], dtype='datetime64[ns]', freq='5BM')

In [73]:
#T means minutes. #Dataframe: Values, Column name and index
dft = pd.DataFrame( np.random.randn(100000, 1), columns=["A"],index=pd.date_range("20130101", periods=100000, freq="T"),)

In [74]:
dft

                            A
2013-01-01 00:00:00  0.765810
2013-01-01 00:01:00 -0.513782
2013-01-01 00:02:00 -0.855496
2013-01-01 00:03:00  1.539194
2013-01-01 00:04:00 -1.497710
...                       ...
2013-03-11 10:35:00  1.073928
2013-03-11 10:36:00  1.144277
2013-03-11 10:37:00  0.545249
2013-03-11 10:38:00 -0.320939
2013-03-11 10:39:00 -0.162200

[100000 rows x 1 columns]

In [75]:
dft.loc["2013"]

                            A
2013-01-01 00:00:00  0.765810
2013-01-01 00:01:00 -0.513782
2013-01-01 00:02:00 -0.855496
2013-01-01 00:03:00  1.539194
2013-01-01 00:04:00 -1.497710
...                       ...
2013-03-11 10:35:00  1.073928
2013-03-11 10:36:00  1.144277
2013-03-11 10:37:00  0.545249
2013-03-11 10:38:00 -0.320939
2013-03-11 10:39:00 -0.162200

[100000 rows x 1 columns]

In [77]:
#only 2013
dft.loc["2013"]

                            A
2013-01-01 00:00:00  0.765810
2013-01-01 00:01:00 -0.513782
2013-01-01 00:02:00 -0.855496
2013-01-01 00:03:00  1.539194
2013-01-01 00:04:00 -1.497710
...                       ...
2013-03-11 10:35:00  1.073928
2013-03-11 10:36:00  1.144277
2013-03-11 10:37:00  0.545249
2013-03-11 10:38:00 -0.320939
2013-03-11 10:39:00 -0.162200

[100000 rows x 1 columns]

In [79]:
#This starts on the very first time in the month, and includes the last date and time for the month:
dft["2013-1":"2013-2"]

                            A
2013-01-01 00:00:00  0.765810
2013-01-01 00:01:00 -0.513782
2013-01-01 00:02:00 -0.855496
2013-01-01 00:03:00  1.539194
2013-01-01 00:04:00 -1.497710
...                       ...
2013-02-28 23:55:00 -0.129553
2013-02-28 23:56:00 -0.721987
2013-02-28 23:57:00 -0.480531
2013-02-28 23:58:00 -1.405888
2013-02-28 23:59:00 -0.817340

[84960 rows x 1 columns]

In [81]:
#This specifies a stop time that includes all of the times on the last day:
dft["2013-1":"2013-2-28"]

                            A
2013-01-01 00:00:00  0.765810
2013-01-01 00:01:00 -0.513782
2013-01-01 00:02:00 -0.855496
2013-01-01 00:03:00  1.539194
2013-01-01 00:04:00 -1.497710
...                       ...
2013-02-28 23:55:00 -0.129553
2013-02-28 23:56:00 -0.721987
2013-02-28 23:57:00 -0.480531
2013-02-28 23:58:00 -1.405888
2013-02-28 23:59:00 -0.817340

[84960 rows x 1 columns]

In [82]:
#This specifies an exact stop time (and is not the same as the above):
dft["2013-1-15":"2013-1-15 12:30:00"]

                            A
2013-01-15 00:00:00  1.476067
2013-01-15 00:01:00 -0.657465
2013-01-15 00:02:00 -0.840297
2013-01-15 00:03:00 -0.812910
2013-01-15 00:04:00  2.998295
...                       ...
2013-01-15 12:26:00 -1.238941
2013-01-15 12:27:00  0.356111
2013-01-15 12:28:00 -0.578073
2013-01-15 12:29:00  0.955968
2013-01-15 12:30:00  1.401326

[751 rows x 1 columns]

In [89]:
dft2 = pd.DataFrame(np.random.randn(20, 1),columns=["A"],index=pd.MultiIndex.from_product([pd.date_range("20130101", periods=10, freq="12H"), ["a", "b"]]), )

In [90]:
dft2

                              A
2013-01-01 00:00:00 a -0.525106
                    b -0.138330
2013-01-01 12:00:00 a -0.219216
                    b -0.110695
2013-01-02 00:00:00 a -0.108826
                    b  0.700349
2013-01-02 12:00:00 a -0.954658
                    b  0.100855
2013-01-03 00:00:00 a -0.640649
                    b  0.687999
2013-01-03 12:00:00 a -0.380012
                    b -1.127487
2013-01-04 00:00:00 a -0.357178
                    b  0.369101
2013-01-04 12:00:00 a  1.068264
                    b -0.823547
2013-01-05 00:00:00 a  1.658884
                    b -0.271173
2013-01-05 12:00:00 a  0.087629
                    b -0.885528

In [91]:
dft2.loc["2013-01-05"]

                              A
2013-01-05 00:00:00 a  1.658884
                    b -0.271173
2013-01-05 12:00:00 a  0.087629
                    b -0.885528

In [92]:
series_minute = pd.Series([1, 2, 3],pd.DatetimeIndex(["2011-12-31 23:59:00", "2012-01-01 00:00:00", "2012-01-01 00:02:00"]),)

In [93]:
series_minute

2011-12-31 23:59:00    1
2012-01-01 00:00:00    2
2012-01-01 00:02:00    3
dtype: int64

In [94]:
series_minute["2011-12-31 23:59"]

1

In [95]:
series_minute["2012-01-01 00:00:00"]

2

In [96]:
series_second = pd.Series([1, 2, 3], pd.DatetimeIndex(["2011-12-31 23:59:59", "2012-01-01 00:00:00", "2012-01-01 00:00:01"]),)

In [97]:
series_second

2011-12-31 23:59:59    1
2012-01-01 00:00:00    2
2012-01-01 00:00:01    3
dtype: int64

In [98]:
dft_minute = pd.DataFrame({"a": [1, 2, 3], "b": [4, 5, 6]}, index=series_minute.index)
dft_minute

                     a  b
2011-12-31 23:59:00  1  4
2012-01-01 00:00:00  2  5
2012-01-01 00:02:00  3  6

In [101]:
dft_minute.loc["2011-12-31 23"]

                     a  b
2011-12-31 23:59:00  1  4

In [102]:
series_monthly = pd.Series([1, 2, 3], pd.DatetimeIndex(["2011-12", "2012-01", "2012-02"]))
series_monthly

2011-12-01    1
2012-01-01    2
2012-02-01    3
dtype: int64

In [103]:
rng2 = pd.date_range("2011-01-01", "2012-01-01", freq="W")
rng2

DatetimeIndex(['2011-01-02', '2011-01-09', '2011-01-16', '2011-01-23',
               '2011-01-30', '2011-02-06', '2011-02-13', '2011-02-20',
               '2011-02-27', '2011-03-06', '2011-03-13', '2011-03-20',
               '2011-03-27', '2011-04-03', '2011-04-10', '2011-04-17',
               '2011-04-24', '2011-05-01', '2011-05-08', '2011-05-15',
               '2011-05-22', '2011-05-29', '2011-06-05', '2011-06-12',
               '2011-06-19', '2011-06-26', '2011-07-03', '2011-07-10',
               '2011-07-17', '2011-07-24', '2011-07-31', '2011-08-07',
               '2011-08-14', '2011-08-21', '2011-08-28', '2011-09-04',
               '2011-09-11', '2011-09-18', '2011-09-25', '2011-10-02',
               '2011-10-09', '2011-10-16', '2011-10-23', '2011-10-30',
               '2011-11-06', '2011-11-13', '2011-11-20', '2011-11-27',
               '2011-12-04', '2011-12-11', '2011-12-18', '2011-12-25',
               '2012-01-01'],
              dtype='datetime64[ns]', freq='W-SUN')

In [104]:
ts2 = pd.Series(np.random.randn(len(rng2)), index=rng2)
ts2

2011-01-02    0.523516
2011-01-09   -0.950105
2011-01-16   -1.514499
2011-01-23    0.286193
2011-01-30   -0.174328
2011-02-06    0.778957
2011-02-13    0.722720
2011-02-20    0.083393
2011-02-27    1.240902
2011-03-06   -0.444921
2011-03-13    1.305730
2011-03-20    0.672913
2011-03-27    0.438307
2011-04-03   -1.257334
2011-04-10    0.554621
2011-04-17    0.096369
2011-04-24   -1.178376
2011-05-01   -0.936405
2011-05-08   -0.077716
2011-05-15   -0.980430
2011-05-22    0.460162
2011-05-29   -1.110302
2011-06-05    0.247531
2011-06-12   -0.717978
2011-06-19    1.808540
2011-06-26   -0.138522
2011-07-03   -1.250669
2011-07-10   -0.580899
2011-07-17    1.007783
2011-07-24    0.537107
2011-07-31    0.955985
2011-08-07   -0.907971
2011-08-14    0.775271
2011-08-21   -0.088135
2011-08-28    0.707715
2011-09-04    0.107248
2011-09-11   -0.484873
2011-09-18    2.304113
2011-09-25   -0.853367
2011-10-02    0.147607
2011-10-09    1.072926
2011-10-16    0.401000
2011-10-23    0.337362
2011-10-30   -0.489603
2011-11-06    0.885595
2011-11-13   -0.343568
2011-11-20    0.537754
2011-11-27    0.658892
2011-12-04    0.349554
2011-12-11    0.175205
2011-12-18   -0.590714
2011-12-25   -0.232662
2012-01-01   -2.373779
Freq: W-SUN, dtype: float64

In [107]:
ts2["2011-11":"2011-12"]

2011-11-06    0.885595
2011-11-13   -0.343568
2011-11-20    0.537754
2011-11-27    0.658892
2011-12-04    0.349554
2011-12-11    0.175205
2011-12-18   -0.590714
2011-12-25   -0.232662
Freq: W-SUN, dtype: float64

In [108]:
idx = pd.date_range(start="2019-12-29", freq="D", periods=4)
idx

DatetimeIndex(['2019-12-29', '2019-12-30', '2019-12-31', '2020-01-01'], dtype='datetime64[ns]', freq='D')

In [110]:
import datetime as dt

In [112]:
ts = pd.Timestamp("2016-10-30 00:00:00", tz="Europe/Helsinki")
ts

Timestamp('2016-10-30 00:00:00+0300', tz='Europe/Helsinki')

In [115]:
T = ts + pd.DateOffset(days=1)
T

Timestamp('2016-10-31 00:00:00+0200', tz='Europe/Helsinki')

In [116]:
T1 = T + pd.DateOffset(days=4)
T1

Timestamp('2016-11-04 00:00:00+0200', tz='Europe/Helsinki')

In [117]:
friday = pd.Timestamp("2018-01-05")
friday

Timestamp('2018-01-05 00:00:00')

In [118]:
two_business_days = 2 * pd.offsets.BDay()

In [119]:
friday + two_business_days

Timestamp('2018-01-09 00:00:00')

In [120]:
(friday + two_business_days).day_name()

'Tuesday'

In [121]:
d = datetime.datetime(2008, 8, 18, 9, 0)
d

datetime.datetime(2008, 8, 18, 9, 0)

In [122]:
d + pd.offsets.Week()

Timestamp('2008-08-25 09:00:00')

In [123]:
d + pd.offsets.Week(weekday=4)

Timestamp('2008-08-22 09:00:00')

In [125]:
d + pd.offsets.Week(weekday=6)

Timestamp('2008-08-24 09:00:00')

In [126]:
d - pd.offsets.Week()

Timestamp('2008-08-11 09:00:00')

In [127]:
d + pd.offsets.YearEnd()

Timestamp('2008-12-31 09:00:00')

In [128]:
d + pd.offsets.YearEnd(month=6)

Timestamp('2009-06-30 09:00:00')

In [4]:
import pandas as pd

In [5]:
rng = pd.date_range("2012-01-01", "2012-01-03")
rng

DatetimeIndex(['2012-01-01', '2012-01-02', '2012-01-03'], dtype='datetime64[ns]', freq='D')

In [6]:
s = pd.Series(rng)
s

0   2012-01-01
1   2012-01-02
2   2012-01-03
dtype: datetime64[ns]

In [7]:
rng + pd.DateOffset(months=2)

DatetimeIndex(['2012-03-01', '2012-03-02', '2012-03-03'], dtype='datetime64[ns]', freq='D')

In [8]:
rng + pd.DateOffset(months=4)

DatetimeIndex(['2012-05-01', '2012-05-02', '2012-05-03'], dtype='datetime64[ns]', freq='D')

In [9]:
s + pd.DateOffset(months=2)

0   2012-03-01
1   2012-03-02
2   2012-03-03
dtype: datetime64[ns]

In [10]:
 s - pd.DateOffset(months=2)

0   2011-11-01
1   2011-11-02
2   2011-11-03
dtype: datetime64[ns]

In [11]:
s

0   2012-01-01
1   2012-01-02
2   2012-01-03
dtype: datetime64[ns]

In [12]:
s - pd.offsets.Day(2)

0   2011-12-30
1   2011-12-31
2   2012-01-01
dtype: datetime64[ns]

In [13]:
s - pd.offsets.Day(6)

0   2011-12-26
1   2011-12-27
2   2011-12-28
dtype: datetime64[ns]

In [14]:
s

0   2012-01-01
1   2012-01-02
2   2012-01-03
dtype: datetime64[ns]

In [15]:
td = s - pd.Series(pd.date_range("2011-12-25", "2011-12-27"))
td

0   7 days
1   7 days
2   7 days
dtype: timedelta64[ns]

In [16]:
td + pd.offsets.Minute(15)

0   7 days 00:15:00
1   7 days 00:15:00
2   7 days 00:15:00
dtype: timedelta64[ns]

In [17]:
s1 = s.to_frame()
s1

           0
0 2012-01-01
1 2012-01-02
2 2012-01-03

In [18]:
s1 + pd.offsets.Minute(15)

                    0
0 2012-01-01 00:15:00
1 2012-01-02 00:15:00
2 2012-01-03 00:15:00

In [19]:
rng = pd.date_range("2012-01-01", "2012-01-03")
rng

DatetimeIndex(['2012-01-01', '2012-01-02', '2012-01-03'], dtype='datetime64[ns]', freq='D')

In [20]:
s = pd.Series(rng)
s

0   2012-01-01
1   2012-01-02
2   2012-01-03
dtype: datetime64[ns]

In [21]:
rng + pd.DateOffset(months=2)

DatetimeIndex(['2012-03-01', '2012-03-02', '2012-03-03'], dtype='datetime64[ns]', freq='D')

In [22]:
s + pd.DateOffset(months=2)

0   2012-03-01
1   2012-03-02
2   2012-03-03
dtype: datetime64[ns]

In [23]:
s

0   2012-01-01
1   2012-01-02
2   2012-01-03
dtype: datetime64[ns]

In [24]:
s - pd.DateOffset(months=1)

0   2011-12-01
1   2011-12-02
2   2011-12-03
dtype: datetime64[ns]

In [25]:
s

0   2012-01-01
1   2012-01-02
2   2012-01-03
dtype: datetime64[ns]

In [26]:
s - pd.DateOffset(months=4)

0   2011-09-01
1   2011-09-02
2   2011-09-03
dtype: datetime64[ns]

In [27]:
s - pd.offsets.Day(2)

0   2011-12-30
1   2011-12-31
2   2012-01-01
dtype: datetime64[ns]

In [28]:
td = s - pd.Series(pd.date_range("2011-12-29", "2011-12-31"))
td

0   3 days
1   3 days
2   3 days
dtype: timedelta64[ns]

In [29]:
td + pd.offsets.Minute(15)

0   3 days 00:15:00
1   3 days 00:15:00
2   3 days 00:15:00
dtype: timedelta64[ns]

In [30]:
rng

DatetimeIndex(['2012-01-01', '2012-01-02', '2012-01-03'], dtype='datetime64[ns]', freq='D')

In [31]:
rng + pd.offsets.BQuarterEnd()

DatetimeIndex(['2012-03-30', '2012-03-30', '2012-03-30'], dtype='datetime64[ns]', freq='D')

In [32]:
td + pd.offsets.Minute(45)

0   3 days 00:45:00
1   3 days 00:45:00
2   3 days 00:45:00
dtype: timedelta64[ns]

In [33]:
rng + pd.offsets.BQuarterEnd()

DatetimeIndex(['2012-03-30', '2012-03-30', '2012-03-30'], dtype='datetime64[ns]', freq='D')

In [34]:
bh = pd.offsets.BusinessHour()
bh

In [35]:
pd.Timestamp("2014-08-01 10:00").weekday()

4

In [36]:
pd.Timestamp("2014-08-01 10:00") + bh

Timestamp('2014-08-01 11:00:00')

In [37]:
# Below example is the same as: pd.Timestamp('2014-08-01 09:00') + bh
pd.Timestamp("2014-08-01 08:00") + bh

Timestamp('2014-08-01 10:00:00')

In [40]:
# If the results is on the end time, move to the next business day
pd.Timestamp("2014-08-01 16:00") + bh

Timestamp('2014-08-04 09:00:00')

In [41]:
pd.Timestamp("2014-08-01 16:30") + bh

Timestamp('2014-08-04 09:30:00')

In [42]:
pd.Timestamp("2014-08-01 10:00") + pd.offsets.BusinessHour(2)

Timestamp('2014-08-01 12:00:00')

In [43]:
pd.Timestamp("2014-08-01 10:00") + pd.offsets.BusinessHour(4)

Timestamp('2014-08-01 14:00:00')

In [44]:
pd.Timestamp("2014-08-01 10:00") + pd.offsets.BusinessHour(-3)

Timestamp('2014-07-31 15:00:00')

In [46]:
import datetime

In [47]:
bh = pd.offsets.BusinessHour(start="11:00", end=datetime.time(20, 0))

In [48]:
pd.Timestamp("2014-08-01 13:00") + bh

Timestamp('2014-08-01 14:00:00')

In [49]:
pd.Timestamp("2014-08-01 18:00") + bh

Timestamp('2014-08-01 19:00:00')

In [50]:
pd.Timestamp("2014-08-01 08:00") + bh

Timestamp('2014-08-01 12:00:00')

In [51]:
pd.Timestamp("2014-08-01 18:00") + bh

Timestamp('2014-08-01 19:00:00')

In [52]:
bh = pd.offsets.BusinessHour(start="17:00", end="09:00")

In [53]:
pd.Timestamp("2014-08-01 17:00") + bh

Timestamp('2014-08-01 18:00:00')

In [56]:
pd.Timestamp("2014-08-01 23:00") + bh

Timestamp('2014-08-02 00:00:00')

In [57]:
# Although 2014-08-02 is Saturday,
# it is valid because it starts from 08-01 (Friday).
pd.Timestamp("2014-08-02 04:00") + bh

Timestamp('2014-08-02 05:00:00')

In [58]:
# Although 2014-08-04 is Monday,
# it is out of business hours because it starts from 08-03 (Sunday).
#start of business day is at 5
pd.Timestamp("2014-08-04 04:00") + bh

Timestamp('2014-08-04 18:00:00')

In [4]:
import pandas as pd

In [5]:
start = '2011-01-04'

In [6]:
pd.date_range(start, periods=5, freq="B")

DatetimeIndex(['2011-01-04', '2011-01-05', '2011-01-06', '2011-01-07',
               '2011-01-10'],
              dtype='datetime64[ns]', freq='B')

In [7]:
pd.date_range(start, periods=5, freq=pd.offsets.BDay())

DatetimeIndex(['2011-01-04', '2011-01-05', '2011-01-06', '2011-01-07',
               '2011-01-10'],
              dtype='datetime64[ns]', freq='B')

In [8]:
#You can combine together day and intraday offsets:
pd.date_range(start, periods=10, freq="2h20min")

DatetimeIndex(['2011-01-04 00:00:00', '2011-01-04 02:20:00',
               '2011-01-04 04:40:00', '2011-01-04 07:00:00',
               '2011-01-04 09:20:00', '2011-01-04 11:40:00',
               '2011-01-04 14:00:00', '2011-01-04 16:20:00',
               '2011-01-04 18:40:00', '2011-01-04 21:00:00'],
              dtype='datetime64[ns]', freq='140T')

In [9]:
pd.date_range(start, periods=10, freq="1D10U")

DatetimeIndex([       '2011-01-04 00:00:00', '2011-01-05 00:00:00.000010',
               '2011-01-06 00:00:00.000020', '2011-01-07 00:00:00.000030',
               '2011-01-08 00:00:00.000040', '2011-01-09 00:00:00.000050',
               '2011-01-10 00:00:00.000060', '2011-01-11 00:00:00.000070',
               '2011-01-12 00:00:00.000080', '2011-01-13 00:00:00.000090'],
              dtype='datetime64[ns]', freq='86400000010U')

In [10]:
pd.date_range(start, periods=10, freq="W-FRI")

DatetimeIndex(['2011-01-07', '2011-01-14', '2011-01-21', '2011-01-28',
               '2011-02-04', '2011-02-11', '2011-02-18', '2011-02-25',
               '2011-03-04', '2011-03-11'],
              dtype='datetime64[ns]', freq='W-FRI')

In [11]:
pd.date_range(start, periods=10, freq="BQS-DEC")

DatetimeIndex(['2011-03-01', '2011-06-01', '2011-09-01', '2011-12-01',
               '2012-03-01', '2012-06-01', '2012-09-03', '2012-12-03',
               '2013-03-01', '2013-06-03'],
              dtype='datetime64[ns]', freq='BQS-DEC')

In [14]:
pd.date_range(start, periods=10, freq="BQS-FEB")

DatetimeIndex(['2011-02-01', '2011-05-02', '2011-08-01', '2011-11-01',
               '2012-02-01', '2012-05-01', '2012-08-01', '2012-11-01',
               '2013-02-01', '2013-05-01'],
              dtype='datetime64[ns]', freq='BQS-FEB')

In [18]:
pd.Timestamp("2014-01-02") + pd.offsets.MonthBegin(n=1)

Timestamp('2014-02-01 00:00:00')

In [19]:
pd.Timestamp("2014-01-02") + pd.offsets.MonthBegin(n=3)

Timestamp('2014-04-01 00:00:00')

In [20]:
pd.Timestamp("2014-01-02") + pd.offsets.MonthEnd(n=2)

Timestamp('2014-02-28 00:00:00')

In [21]:
pd.Timestamp("2014-01-02") + pd.offsets.MonthEnd(n=4)

Timestamp('2014-04-30 00:00:00')

In [22]:
pd.Timestamp("2014-01-02") + pd.offsets.MonthEnd(n=6)

Timestamp('2014-06-30 00:00:00')

In [23]:
pd.Timestamp("2014-01-02") + pd.offsets.MonthBegin(n=8)

Timestamp('2014-09-01 00:00:00')

In [24]:
pd.Timestamp("2014-01-01") - pd.offsets.MonthBegin(n=3)

Timestamp('2013-10-01 00:00:00')

In [25]:
pd.Timestamp("2014-01-31") + pd.offsets.MonthEnd(n=0)

Timestamp('2014-01-31 00:00:00')

Time series-related instance methods

In [26]:
rng = pd.date_range("2012-01-01", "2012-01-03")
rng

DatetimeIndex(['2012-01-01', '2012-01-02', '2012-01-03'], dtype='datetime64[ns]', freq='D')

In [27]:
ts = pd.Series(range(len(rng)), index=rng)
ts

2012-01-01    0
2012-01-02    1
2012-01-03    2
Freq: D, dtype: int64

In [28]:
ts = ts[:5]
ts

2012-01-01    0
2012-01-02    1
2012-01-03    2
Freq: D, dtype: int64

In [29]:
ts.shift(1)

2012-01-01    NaN
2012-01-02    0.0
2012-01-03    1.0
Freq: D, dtype: float64

In [30]:
ts.shift(5, freq="D")

2012-01-06    0
2012-01-07    1
2012-01-08    2
Freq: D, dtype: int64

In [32]:
rng

DatetimeIndex(['2012-01-01', '2012-01-02', '2012-01-03'], dtype='datetime64[ns]', freq='D')

In [31]:
rng.shift(10,freq="D")

DatetimeIndex(['2012-01-11', '2012-01-12', '2012-01-13'], dtype='datetime64[ns]', freq='D')

In [33]:
rng1 = pd.date_range("2012-01-01", "2012-01-20")
rng1

DatetimeIndex(['2012-01-01', '2012-01-02', '2012-01-03', '2012-01-04',
               '2012-01-05', '2012-01-06', '2012-01-07', '2012-01-08',
               '2012-01-09', '2012-01-10', '2012-01-11', '2012-01-12',
               '2012-01-13', '2012-01-14', '2012-01-15', '2012-01-16',
               '2012-01-17', '2012-01-18', '2012-01-19', '2012-01-20'],
              dtype='datetime64[ns]', freq='D')

In [35]:
ts3 = pd.Series(range(len(rng1)), index=rng1)

In [36]:
ts3

2012-01-01     0
2012-01-02     1
2012-01-03     2
2012-01-04     3
2012-01-05     4
2012-01-06     5
2012-01-07     6
2012-01-08     7
2012-01-09     8
2012-01-10     9
2012-01-11    10
2012-01-12    11
2012-01-13    12
2012-01-14    13
2012-01-15    14
2012-01-16    15
2012-01-17    16
2012-01-18    17
2012-01-19    18
2012-01-20    19
Freq: D, dtype: int64

In [37]:
ts3.shift(1)

2012-01-01     NaN
2012-01-02     0.0
2012-01-03     1.0
2012-01-04     2.0
2012-01-05     3.0
2012-01-06     4.0
2012-01-07     5.0
2012-01-08     6.0
2012-01-09     7.0
2012-01-10     8.0
2012-01-11     9.0
2012-01-12    10.0
2012-01-13    11.0
2012-01-14    12.0
2012-01-15    13.0
2012-01-16    14.0
2012-01-17    15.0
2012-01-18    16.0
2012-01-19    17.0
2012-01-20    18.0
Freq: D, dtype: float64

In [38]:
ts3.shift(5)

2012-01-01     NaN
2012-01-02     NaN
2012-01-03     NaN
2012-01-04     NaN
2012-01-05     NaN
2012-01-06     0.0
2012-01-07     1.0
2012-01-08     2.0
2012-01-09     3.0
2012-01-10     4.0
2012-01-11     5.0
2012-01-12     6.0
2012-01-13     7.0
2012-01-14     8.0
2012-01-15     9.0
2012-01-16    10.0
2012-01-17    11.0
2012-01-18    12.0
2012-01-19    13.0
2012-01-20    14.0
Freq: D, dtype: float64

In [39]:
#When freq is specified, shift method changes all the dates in the index
#rather than changing the alignment of the data and the index:

In [40]:
ts3.shift(5, freq="D")

2012-01-06     0
2012-01-07     1
2012-01-08     2
2012-01-09     3
2012-01-10     4
2012-01-11     5
2012-01-12     6
2012-01-13     7
2012-01-14     8
2012-01-15     9
2012-01-16    10
2012-01-17    11
2012-01-18    12
2012-01-19    13
2012-01-20    14
2012-01-21    15
2012-01-22    16
2012-01-23    17
2012-01-24    18
2012-01-25    19
Freq: D, dtype: int64

In [41]:
ts3.shift(5, freq=pd.offsets.BDay())

2012-01-06     0
2012-01-09     1
2012-01-10     2
2012-01-11     3
2012-01-12     4
2012-01-13     5
2012-01-13     6
2012-01-13     7
2012-01-16     8
2012-01-17     9
2012-01-18    10
2012-01-19    11
2012-01-20    12
2012-01-20    13
2012-01-20    14
2012-01-23    15
2012-01-24    16
2012-01-25    17
2012-01-26    18
2012-01-27    19
dtype: int64

In [42]:
ts3.shift(5, freq="BM")

2012-05-31     0
2012-05-31     1
2012-05-31     2
2012-05-31     3
2012-05-31     4
2012-05-31     5
2012-05-31     6
2012-05-31     7
2012-05-31     8
2012-05-31     9
2012-05-31    10
2012-05-31    11
2012-05-31    12
2012-05-31    13
2012-05-31    14
2012-05-31    15
2012-05-31    16
2012-05-31    17
2012-05-31    18
2012-05-31    19
Freq: D, dtype: int64

In [43]:
rng4 = pd.date_range("2012-01-01", "2012-02-10")
rng4

DatetimeIndex(['2012-01-01', '2012-01-02', '2012-01-03', '2012-01-04',
               '2012-01-05', '2012-01-06', '2012-01-07', '2012-01-08',
               '2012-01-09', '2012-01-10', '2012-01-11', '2012-01-12',
               '2012-01-13', '2012-01-14', '2012-01-15', '2012-01-16',
               '2012-01-17', '2012-01-18', '2012-01-19', '2012-01-20',
               '2012-01-21', '2012-01-22', '2012-01-23', '2012-01-24',
               '2012-01-25', '2012-01-26', '2012-01-27', '2012-01-28',
               '2012-01-29', '2012-01-30', '2012-01-31', '2012-02-01',
               '2012-02-02', '2012-02-03', '2012-02-04', '2012-02-05',
               '2012-02-06', '2012-02-07', '2012-02-08', '2012-02-09',
               '2012-02-10'],
              dtype='datetime64[ns]', freq='D')

In [44]:
rng4.shift(5, freq="BM")

DatetimeIndex(['2012-05-31', '2012-05-31', '2012-05-31', '2012-05-31',
               '2012-05-31', '2012-05-31', '2012-05-31', '2012-05-31',
               '2012-05-31', '2012-05-31', '2012-05-31', '2012-05-31',
               '2012-05-31', '2012-05-31', '2012-05-31', '2012-05-31',
               '2012-05-31', '2012-05-31', '2012-05-31', '2012-05-31',
               '2012-05-31', '2012-05-31', '2012-05-31', '2012-05-31',
               '2012-05-31', '2012-05-31', '2012-05-31', '2012-05-31',
               '2012-05-31', '2012-05-31', '2012-06-29', '2012-06-29',
               '2012-06-29', '2012-06-29', '2012-06-29', '2012-06-29',
               '2012-06-29', '2012-06-29', '2012-06-29', '2012-06-29',
               '2012-06-29'],
              dtype='datetime64[ns]', freq='D')

In [46]:
dr = pd.date_range("1/1/2010", periods=3, freq= pd.offsets.BDay())
dr

DatetimeIndex(['2010-01-01', '2010-01-04', '2010-01-05'], dtype='datetime64[ns]', freq='B')

In [50]:
ts = pd.Series(np.random.randn(3), index=dr)
ts

2010-01-01    0.014691
2010-01-04   -0.075161
2010-01-05   -0.791133
Freq: B, dtype: float64

In [52]:
ts.asfreq(pd.offsets.BDay(),method="pad")

2010-01-01    0.014691
2010-01-04   -0.075161
2010-01-05   -0.791133
Freq: B, dtype: float64

In [54]:
dr3 = pd.date_range("1/1/2010", periods=35, freq= 'D')
dr3

DatetimeIndex(['2010-01-01', '2010-01-02', '2010-01-03', '2010-01-04',
               '2010-01-05', '2010-01-06', '2010-01-07', '2010-01-08',
               '2010-01-09', '2010-01-10', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-14', '2010-01-15', '2010-01-16',
               '2010-01-17', '2010-01-18', '2010-01-19', '2010-01-20',
               '2010-01-21', '2010-01-22', '2010-01-23', '2010-01-24',
               '2010-01-25', '2010-01-26', '2010-01-27', '2010-01-28',
               '2010-01-29', '2010-01-30', '2010-01-31', '2010-02-01',
               '2010-02-02', '2010-02-03', '2010-02-04'],
              dtype='datetime64[ns]', freq='D')

In [56]:
rng = pd.date_range("1/1/2012", periods=100, freq="S")
rng

DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 00:00:01',
               '2012-01-01 00:00:02', '2012-01-01 00:00:03',
               '2012-01-01 00:00:04', '2012-01-01 00:00:05',
               '2012-01-01 00:00:06', '2012-01-01 00:00:07',
               '2012-01-01 00:00:08', '2012-01-01 00:00:09',
               '2012-01-01 00:00:10', '2012-01-01 00:00:11',
               '2012-01-01 00:00:12', '2012-01-01 00:00:13',
               '2012-01-01 00:00:14', '2012-01-01 00:00:15',
               '2012-01-01 00:00:16', '2012-01-01 00:00:17',
               '2012-01-01 00:00:18', '2012-01-01 00:00:19',
               '2012-01-01 00:00:20', '2012-01-01 00:00:21',
               '2012-01-01 00:00:22', '2012-01-01 00:00:23',
               '2012-01-01 00:00:24', '2012-01-01 00:00:25',
               '2012-01-01 00:00:26', '2012-01-01 00:00:27',
               '2012-01-01 00:00:28', '2012-01-01 00:00:29',
               '2012-01-01 00:00:30', '2012-01-01 00:00:31',
               '2012-01-01 00:00:32', '2012-01-01 00:00:33',
               '2012-01-01 00:00:34', '2012-01-01 00:00:35',
               '2012-01-01 00:00:36', '2012-01-01 00:00:37',
               '2012-01-01 00:00:38', '2012-01-01 00:00:39',
               '2012-01-01 00:00:40', '2012-01-01 00:00:41',
               '2012-01-01 00:00:42', '2012-01-01 00:00:43',
               '2012-01-01 00:00:44', '2012-01-01 00:00:45',
               '2012-01-01 00:00:46', '2012-01-01 00:00:47',
               '2012-01-01 00:00:48', '2012-01-01 00:00:49',
               '2012-01-01 00:00:50', '2012-01-01 00:00:51',
               '2012-01-01 00:00:52', '2012-01-01 00:00:53',
               '2012-01-01 00:00:54', '2012-01-01 00:00:55',
               '2012-01-01 00:00:56', '2012-01-01 00:00:57',
               '2012-01-01 00:00:58', '2012-01-01 00:00:59',
               '2012-01-01 00:01:00', '2012-01-01 00:01:01',
               '2012-01-01 00:01:02', '2012-01-01 00:01:03',
               '2012-01-01 00:01:04', '2012-01-01 00:01:05',
               '2012-01-01 00:01:06', '2012-01-01 00:01:07',
               '2012-01-01 00:01:08', '2012-01-01 00:01:09',
               '2012-01-01 00:01:10', '2012-01-01 00:01:11',
               '2012-01-01 00:01:12', '2012-01-01 00:01:13',
               '2012-01-01 00:01:14', '2012-01-01 00:01:15',
               '2012-01-01 00:01:16', '2012-01-01 00:01:17',
               '2012-01-01 00:01:18', '2012-01-01 00:01:19',
               '2012-01-01 00:01:20', '2012-01-01 00:01:21',
               '2012-01-01 00:01:22', '2012-01-01 00:01:23',
               '2012-01-01 00:01:24', '2012-01-01 00:01:25',
               '2012-01-01 00:01:26', '2012-01-01 00:01:27',
               '2012-01-01 00:01:28', '2012-01-01 00:01:29',
               '2012-01-01 00:01:30', '2012-01-01 00:01:31',
               '2012-01-01 00:01:32', '2012-01-01 00:01:33',
               '2012-01-01 00:01:34', '2012-01-01 00:01:35',
               '2012-01-01 00:01:36', '2012-01-01 00:01:37',
               '2012-01-01 00:01:38', '2012-01-01 00:01:39'],
              dtype='datetime64[ns]', freq='S')

In [57]:
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts

2012-01-01 00:00:00    393
2012-01-01 00:00:01    142
2012-01-01 00:00:02     81
2012-01-01 00:00:03    464
2012-01-01 00:00:04    224
                      ...
2012-01-01 00:01:35    417
2012-01-01 00:01:36    179
2012-01-01 00:01:37    236
2012-01-01 00:01:38    415
2012-01-01 00:01:39    154
Freq: S, Length: 100, dtype: int32

In [66]:
ts[:2].resample("250L").asfreq()

2012-01-01 00:00:00.000    393.0
2012-01-01 00:00:00.250      NaN
2012-01-01 00:00:00.500      NaN
2012-01-01 00:00:00.750      NaN
2012-01-01 00:00:01.000    142.0
Freq: 250L, dtype: float64

In [62]:
s = pd.date_range("2000-01-01", "2000-01-05").to_series()
s

2000-01-01   2000-01-01
2000-01-02   2000-01-02
2000-01-03   2000-01-03
2000-01-04   2000-01-04
2000-01-05   2000-01-05
Freq: D, dtype: datetime64[ns]

In [63]:
s.iloc[2] = pd.NaT

In [65]:
s.dt.day_name()

2000-01-01     Saturday
2000-01-02       Sunday
2000-01-03          NaN
2000-01-04      Tuesday
2000-01-05    Wednesday
Freq: D, dtype: object

In [68]:
rng = pd.date_range("2014-1-1", periods=100, freq="D") + pd.Timedelta("1s")
rng

DatetimeIndex(['2014-01-01 00:00:01', '2014-01-02 00:00:01',
               '2014-01-03 00:00:01', '2014-01-04 00:00:01',
               '2014-01-05 00:00:01', '2014-01-06 00:00:01',
               '2014-01-07 00:00:01', '2014-01-08 00:00:01',
               '2014-01-09 00:00:01', '2014-01-10 00:00:01',
               '2014-01-11 00:00:01', '2014-01-12 00:00:01',
               '2014-01-13 00:00:01', '2014-01-14 00:00:01',
               '2014-01-15 00:00:01', '2014-01-16 00:00:01',
               '2014-01-17 00:00:01', '2014-01-18 00:00:01',
               '2014-01-19 00:00:01', '2014-01-20 00:00:01',
               '2014-01-21 00:00:01', '2014-01-22 00:00:01',
               '2014-01-23 00:00:01', '2014-01-24 00:00:01',
               '2014-01-25 00:00:01', '2014-01-26 00:00:01',
               '2014-01-27 00:00:01', '2014-01-28 00:00:01',
               '2014-01-29 00:00:01', '2014-01-30 00:00:01',
               '2014-01-31 00:00:01', '2014-02-01 00:00:01',
               '2014-02-02 00:00:01', '2014-02-03 00:00:01',
               '2014-02-04 00:00:01', '2014-02-05 00:00:01',
               '2014-02-06 00:00:01', '2014-02-07 00:00:01',
               '2014-02-08 00:00:01', '2014-02-09 00:00:01',
               '2014-02-10 00:00:01', '2014-02-11 00:00:01',
               '2014-02-12 00:00:01', '2014-02-13 00:00:01',
               '2014-02-14 00:00:01', '2014-02-15 00:00:01',
               '2014-02-16 00:00:01', '2014-02-17 00:00:01',
               '2014-02-18 00:00:01', '2014-02-19 00:00:01',
               '2014-02-20 00:00:01', '2014-02-21 00:00:01',
               '2014-02-22 00:00:01', '2014-02-23 00:00:01',
               '2014-02-24 00:00:01', '2014-02-25 00:00:01',
               '2014-02-26 00:00:01', '2014-02-27 00:00:01',
               '2014-02-28 00:00:01', '2014-03-01 00:00:01',
               '2014-03-02 00:00:01', '2014-03-03 00:00:01',
               '2014-03-04 00:00:01', '2014-03-05 00:00:01',
               '2014-03-06 00:00:01', '2014-03-07 00:00:01',
               '2014-03-08 00:00:01', '2014-03-09 00:00:01',
               '2014-03-10 00:00:01', '2014-03-11 00:00:01',
               '2014-03-12 00:00:01', '2014-03-13 00:00:01',
               '2014-03-14 00:00:01', '2014-03-15 00:00:01',
               '2014-03-16 00:00:01', '2014-03-17 00:00:01',
               '2014-03-18 00:00:01', '2014-03-19 00:00:01',
               '2014-03-20 00:00:01', '2014-03-21 00:00:01',
               '2014-03-22 00:00:01', '2014-03-23 00:00:01',
               '2014-03-24 00:00:01', '2014-03-25 00:00:01',
               '2014-03-26 00:00:01', '2014-03-27 00:00:01',
               '2014-03-28 00:00:01', '2014-03-29 00:00:01',
               '2014-03-30 00:00:01', '2014-03-31 00:00:01',
               '2014-04-01 00:00:01', '2014-04-02 00:00:01',
               '2014-04-03 00:00:01', '2014-04-04 00:00:01',
               '2014-04-05 00:00:01', '2014-04-06 00:00:01',
               '2014-04-07 00:00:01', '2014-04-08 00:00:01',
               '2014-04-09 00:00:01', '2014-04-10 00:00:01'],
              dtype='datetime64[ns]', freq='D')

In [69]:
rng + pd.Timedelta("1s")

DatetimeIndex(['2014-01-01 00:00:02', '2014-01-02 00:00:02',
               '2014-01-03 00:00:02', '2014-01-04 00:00:02',
               '2014-01-05 00:00:02', '2014-01-06 00:00:02',
               '2014-01-07 00:00:02', '2014-01-08 00:00:02',
               '2014-01-09 00:00:02', '2014-01-10 00:00:02',
               '2014-01-11 00:00:02', '2014-01-12 00:00:02',
               '2014-01-13 00:00:02', '2014-01-14 00:00:02',
               '2014-01-15 00:00:02', '2014-01-16 00:00:02',
               '2014-01-17 00:00:02', '2014-01-18 00:00:02',
               '2014-01-19 00:00:02', '2014-01-20 00:00:02',
               '2014-01-21 00:00:02', '2014-01-22 00:00:02',
               '2014-01-23 00:00:02', '2014-01-24 00:00:02',
               '2014-01-25 00:00:02', '2014-01-26 00:00:02',
               '2014-01-27 00:00:02', '2014-01-28 00:00:02',
               '2014-01-29 00:00:02', '2014-01-30 00:00:02',
               '2014-01-31 00:00:02', '2014-02-01 00:00:02',
               '2014-02-02 00:00:02', '2014-02-03 00:00:02',
               '2014-02-04 00:00:02', '2014-02-05 00:00:02',
               '2014-02-06 00:00:02', '2014-02-07 00:00:02',
               '2014-02-08 00:00:02', '2014-02-09 00:00:02',
               '2014-02-10 00:00:02', '2014-02-11 00:00:02',
               '2014-02-12 00:00:02', '2014-02-13 00:00:02',
               '2014-02-14 00:00:02', '2014-02-15 00:00:02',
               '2014-02-16 00:00:02', '2014-02-17 00:00:02',
               '2014-02-18 00:00:02', '2014-02-19 00:00:02',
               '2014-02-20 00:00:02', '2014-02-21 00:00:02',
               '2014-02-22 00:00:02', '2014-02-23 00:00:02',
               '2014-02-24 00:00:02', '2014-02-25 00:00:02',
               '2014-02-26 00:00:02', '2014-02-27 00:00:02',
               '2014-02-28 00:00:02', '2014-03-01 00:00:02',
               '2014-03-02 00:00:02', '2014-03-03 00:00:02',
               '2014-03-04 00:00:02', '2014-03-05 00:00:02',
               '2014-03-06 00:00:02', '2014-03-07 00:00:02',
               '2014-03-08 00:00:02', '2014-03-09 00:00:02',
               '2014-03-10 00:00:02', '2014-03-11 00:00:02',
               '2014-03-12 00:00:02', '2014-03-13 00:00:02',
               '2014-03-14 00:00:02', '2014-03-15 00:00:02',
               '2014-03-16 00:00:02', '2014-03-17 00:00:02',
               '2014-03-18 00:00:02', '2014-03-19 00:00:02',
               '2014-03-20 00:00:02', '2014-03-21 00:00:02',
               '2014-03-22 00:00:02', '2014-03-23 00:00:02',
               '2014-03-24 00:00:02', '2014-03-25 00:00:02',
               '2014-03-26 00:00:02', '2014-03-27 00:00:02',
               '2014-03-28 00:00:02', '2014-03-29 00:00:02',
               '2014-03-30 00:00:02', '2014-03-31 00:00:02',
               '2014-04-01 00:00:02', '2014-04-02 00:00:02',
               '2014-04-03 00:00:02', '2014-04-04 00:00:02',
               '2014-04-05 00:00:02', '2014-04-06 00:00:02',
               '2014-04-07 00:00:02', '2014-04-08 00:00:02',
               '2014-04-09 00:00:02', '2014-04-10 00:00:02'],
              dtype='datetime64[ns]', freq='D')

In [70]:
ts = pd.Series(range(100), index=rng)
ts

2014-01-01 00:00:01     0
2014-01-02 00:00:01     1
2014-01-03 00:00:01     2
2014-01-04 00:00:01     3
2014-01-05 00:00:01     4
                       ..
2014-04-06 00:00:01    95
2014-04-07 00:00:01    96
2014-04-08 00:00:01    97
2014-04-09 00:00:01    98
2014-04-10 00:00:01    99
Freq: D, Length: 100, dtype: int64

In [71]:
ts.resample("3T").sum()

2014-01-01 00:00:00     0
2014-01-01 00:03:00     0
2014-01-01 00:06:00     0
2014-01-01 00:09:00     0
2014-01-01 00:12:00     0
                       ..
2014-04-09 23:48:00     0
2014-04-09 23:51:00     0
2014-04-09 23:54:00     0
2014-04-09 23:57:00     0
2014-04-10 00:00:00    99
Freq: 3T, Length: 47521, dtype: int64

In [72]:
ts.resample("1H").sum()

2014-01-01 00:00:00     0
2014-01-01 01:00:00     0
2014-01-01 02:00:00     0
2014-01-01 03:00:00     0
2014-01-01 04:00:00     0
                       ..
2014-04-09 20:00:00     0
2014-04-09 21:00:00     0
2014-04-09 22:00:00     0
2014-04-09 23:00:00     0
2014-04-10 00:00:00    99
Freq: H, Length: 2377, dtype: int64

In [73]:
df = pd.DataFrame(
        np.random.randn(1000, 3),
        index=pd.date_range("1/1/2012", freq="S", periods=1000),
        columns=["A", "B", "C"],)

In [74]:
df

                            A         B         C
2012-01-01 00:00:00 -1.202709  0.597771  0.576646
2012-01-01 00:00:01 -1.280630  1.425572  1.083248
2012-01-01 00:00:02  0.895212  0.656216  0.145435
2012-01-01 00:00:03  0.524667 -0.265391 -0.169420
2012-01-01 00:00:04 -0.012833 -0.495309 -0.270853
...                       ...       ...       ...
2012-01-01 00:16:35 -0.764831  1.338706  0.790945
2012-01-01 00:16:36 -0.348656  0.863710  1.702725
2012-01-01 00:16:37  0.957919  0.782187 -0.904903
2012-01-01 00:16:38 -0.765875  0.188287 -2.875989
2012-01-01 00:16:39  0.468976  2.335808  1.239154

[1000 rows x 3 columns]

In [77]:
#resample it is like a group by

In [78]:
r = df.resample("3T")
r

In [79]:
r.mean()

                            A         B         C
2012-01-01 00:00:00 -0.054673 -0.134364  0.043198
2012-01-01 00:03:00 -0.079274  0.009316  0.133073
2012-01-01 00:06:00 -0.077999  0.008646 -0.059507
2012-01-01 00:09:00  0.040197 -0.024280  0.076221
2012-01-01 00:12:00 -0.013954 -0.001437  0.047427
2012-01-01 00:15:00  0.035080 -0.020028 -0.000529

In [80]:
r["A"].sum()

2012-01-01 00:00:00    -9.841221
2012-01-01 00:03:00   -14.269246
2012-01-01 00:06:00   -14.039808
2012-01-01 00:09:00     7.235426
2012-01-01 00:12:00    -2.511764
2012-01-01 00:15:00     3.508013
Freq: 3T, Name: A, dtype: float64

In [81]:
r[["A", "B"]].max()

                            A         B
2012-01-01 00:00:00  3.007464  1.953024
2012-01-01 00:03:00  2.534582  2.977145
2012-01-01 00:06:00  2.622999  2.358387
2012-01-01 00:09:00  2.320724  2.197304
2012-01-01 00:12:00  2.237481  3.377044
2012-01-01 00:15:00  4.335519  2.750293

In [82]:
r["A"].agg([np.sum, np.mean, np.std])

                           sum      mean       std
2012-01-01 00:00:00  -9.841221 -0.054673  1.078477
2012-01-01 00:03:00 -14.269246 -0.079274  0.997305
2012-01-01 00:06:00 -14.039808 -0.077999  1.076906
2012-01-01 00:09:00   7.235426  0.040197  0.996597
2012-01-01 00:12:00  -2.511764 -0.013954  0.930977
2012-01-01 00:15:00   3.508013  0.035080  0.960682

In [83]:
r.agg([np.sum, np.mean])

                             A                    B                    C  \
                           sum      mean        sum      mean        sum
2012-01-01 00:00:00  -9.841221 -0.054673 -24.185439 -0.134364   7.775663
2012-01-01 00:03:00 -14.269246 -0.079274   1.676901  0.009316  23.953205
2012-01-01 00:06:00 -14.039808 -0.077999   1.556354  0.008646 -10.711313
2012-01-01 00:09:00   7.235426  0.040197  -4.370423 -0.024280  13.719735
2012-01-01 00:12:00  -2.511764 -0.013954  -0.258739 -0.001437   8.536819
2012-01-01 00:15:00   3.508013  0.035080  -2.002848 -0.020028  -0.052938


                         mean
2012-01-01 00:00:00  0.043198
2012-01-01 00:03:00  0.133073
2012-01-01 00:06:00 -0.059507
2012-01-01 00:09:00  0.076221
2012-01-01 00:12:00  0.047427
2012-01-01 00:15:00 -0.000529

In [87]:
r.agg({"A": np.sum, "B": lambda x: np.std(x)})

                             A         B
2012-01-01 00:00:00  -9.841221  0.956444
2012-01-01 00:03:00 -14.269246  1.032494
2012-01-01 00:06:00 -14.039808  1.039294
2012-01-01 00:09:00   7.235426  0.908334
2012-01-01 00:12:00  -2.511764  1.085446
2012-01-01 00:15:00   3.508013  1.124361

In [88]:
r.agg({"A": "sum", "B": "std"})

                             A         B
2012-01-01 00:00:00  -9.841221  0.959112
2012-01-01 00:03:00 -14.269246  1.035374
2012-01-01 00:06:00 -14.039808  1.042193
2012-01-01 00:09:00   7.235426  0.910868
2012-01-01 00:12:00  -2.511764  1.088474
2012-01-01 00:15:00   3.508013  1.130025

In [89]:
r.agg({"A": ["sum", "std","max"], "B": ["mean", "std","max"]})

                             A                             B            \
                           sum       std       max      mean       std
2012-01-01 00:00:00  -9.841221  1.078477  3.007464 -0.134364  0.959112
2012-01-01 00:03:00 -14.269246  0.997305  2.534582  0.009316  1.035374
2012-01-01 00:06:00 -14.039808  1.076906  2.622999  0.008646  1.042193
2012-01-01 00:09:00   7.235426  0.996597  2.320724 -0.024280  0.910868
2012-01-01 00:12:00  -2.511764  0.930977  2.237481 -0.001437  1.088474
2012-01-01 00:15:00   3.508013  0.960682  4.335519 -0.020028  1.130025


                          max
2012-01-01 00:00:00  1.953024
2012-01-01 00:03:00  2.977145
2012-01-01 00:06:00  2.358387
2012-01-01 00:09:00  2.197304
2012-01-01 00:12:00  3.377044
2012-01-01 00:15:00  2.750293

In [90]:
df = pd.DataFrame(
        {"date": pd.date_range("2015-01-01", freq="W", periods=5), "a": np.arange(5)},
        index=pd.MultiIndex.from_arrays(
            [[1, 2, 3, 4, 5], pd.date_range("2015-01-01", freq="W", periods=5)],
            names=["v", "d"],),)
df

                   date  a
v d
1 2015-01-04 2015-01-04  0
2 2015-01-11 2015-01-11  1
3 2015-01-18 2015-01-18  2
4 2015-01-25 2015-01-25  3
5 2015-02-01 2015-02-01  4

In [91]:
df.resample("M", on="date").sum()

            a
date
2015-01-31  6
2015-02-28  4

In [93]:
#in a multiindex you can choose via level.
df.resample("M", level="d").sum()

            a
d
2015-01-31  6
2015-02-28  4

In [2]:
import pandas as pd

In [5]:
df1 = pd.DataFrame(
        {"date": pd.date_range("2015-01-01", freq="W", periods=50), "a": np.arange(50)},
        index=pd.MultiIndex.from_arrays(
            [np.arange(50), pd.date_range("2015-01-01", freq="W", periods=50)],
            names=["v", "d"],),)
df1

                    date   a
v  d
0  2015-01-04 2015-01-04   0
1  2015-01-11 2015-01-11   1
2  2015-01-18 2015-01-18   2
3  2015-01-25 2015-01-25   3
4  2015-02-01 2015-02-01   4
5  2015-02-08 2015-02-08   5
6  2015-02-15 2015-02-15   6
7  2015-02-22 2015-02-22   7
8  2015-03-01 2015-03-01   8
9  2015-03-08 2015-03-08   9
10 2015-03-15 2015-03-15  10
11 2015-03-22 2015-03-22  11
12 2015-03-29 2015-03-29  12
13 2015-04-05 2015-04-05  13
14 2015-04-12 2015-04-12  14
15 2015-04-19 2015-04-19  15
16 2015-04-26 2015-04-26  16
17 2015-05-03 2015-05-03  17
18 2015-05-10 2015-05-10  18
19 2015-05-17 2015-05-17  19
20 2015-05-24 2015-05-24  20
21 2015-05-31 2015-05-31  21
22 2015-06-07 2015-06-07  22
23 2015-06-14 2015-06-14  23
24 2015-06-21 2015-06-21  24
25 2015-06-28 2015-06-28  25
26 2015-07-05 2015-07-05  26
27 2015-07-12 2015-07-12  27
28 2015-07-19 2015-07-19  28
29 2015-07-26 2015-07-26  29
30 2015-08-02 2015-08-02  30
31 2015-08-09 2015-08-09  31
32 2015-08-16 2015-08-16  32
33 2015-08-23 2015-08-23  33
34 2015-08-30 2015-08-30  34
35 2015-09-06 2015-09-06  35
36 2015-09-13 2015-09-13  36
37 2015-09-20 2015-09-20  37
38 2015-09-27 2015-09-27  38
39 2015-10-04 2015-10-04  39
40 2015-10-11 2015-10-11  40
41 2015-10-18 2015-10-18  41
42 2015-10-25 2015-10-25  42
43 2015-11-01 2015-11-01  43
44 2015-11-08 2015-11-08  44
45 2015-11-15 2015-11-15  45
46 2015-11-22 2015-11-22  46
47 2015-11-29 2015-11-29  47
48 2015-12-06 2015-12-06  48
49 2015-12-13 2015-12-13  49

In [6]:
df1.resample("M", on="date").sum()

              a
date
2015-01-31    6
2015-02-28   22
2015-03-31   50
2015-04-30   58
2015-05-31   95
2015-06-30   94
2015-07-31  110
2015-08-31  160
2015-09-30  146
2015-10-31  162
2015-11-30  225
2015-12-31   97

In [7]:
small = pd.Series(
        range(6),
        index=pd.to_datetime(
            [
                "2017-01-01T00:00:00",
                "2017-01-01T00:30:00",
                "2017-01-01T00:31:00",
                "2017-01-01T01:00:00",
                "2017-01-01T03:00:00",
                      "2017-01-01T03:05:00",]),)
small

2017-01-01 00:00:00    0
2017-01-01 00:30:00    1
2017-01-01 00:31:00    2
2017-01-01 01:00:00    3
2017-01-01 03:00:00    4
2017-01-01 03:05:00    5
dtype: int64

In [10]:
small1 = pd.Series(
        range(50),
        index=pd.date_range("2017-01-01T00:00:00", periods=50, freq="B"))
small1

2017-01-02     0
2017-01-03     1
2017-01-04     2
2017-01-05     3
2017-01-06     4
2017-01-09     5
2017-01-10     6
2017-01-11     7
2017-01-12     8
2017-01-13     9
2017-01-16    10
2017-01-17    11
2017-01-18    12
2017-01-19    13
2017-01-20    14
2017-01-23    15
2017-01-24    16
2017-01-25    17
2017-01-26    18
2017-01-27    19
2017-01-30    20
2017-01-31    21
2017-02-01    22
2017-02-02    23
2017-02-03    24
2017-02-06    25
2017-02-07    26
2017-02-08    27
2017-02-09    28
2017-02-10    29
2017-02-13    30
2017-02-14    31
2017-02-15    32
2017-02-16    33
2017-02-17    34
2017-02-20    35
2017-02-21    36
2017-02-22    37
2017-02-23    38
2017-02-24    39
2017-02-27    40
2017-02-28    41
2017-03-01    42
2017-03-02    43
2017-03-03    44
2017-03-06    45
2017-03-07    46
2017-03-08    47
2017-03-09    48
2017-03-10    49
Freq: B, dtype: int64

In [13]:
resampled = small1.resample("W").sum()
resampled

2017-01-08     10
2017-01-15     35
2017-01-22     60
2017-01-29     85
2017-02-05    110
2017-02-12    135
2017-02-19    160
2017-02-26    185
2017-03-05    210
2017-03-12    235
Freq: W-SUN, dtype: int64

In [16]:
resampled1 = small1.resample("W")
resampled1

In [17]:
for name, group in resampled1:
        print("Group: ", name)
        print("-" * 27)
        print(group, end="\n\n")

Group:  2017-01-08 00:00:00
---------------------------
2017-01-02    0
2017-01-03    1
2017-01-04    2
2017-01-05    3
2017-01-06    4
Freq: B, dtype: int64

Group:  2017-01-15 00:00:00
---------------------------
2017-01-09    5
2017-01-10    6
2017-01-11    7
2017-01-12    8
2017-01-13    9
Freq: B, dtype: int64

Group:  2017-01-22 00:00:00
---------------------------
2017-01-16    10
2017-01-17    11
2017-01-18    12
2017-01-19    13
2017-01-20    14
Freq: B, dtype: int64

Group:  2017-01-29 00:00:00
---------------------------
2017-01-23    15
2017-01-24    16
2017-01-25    17
2017-01-26    18
2017-01-27    19
Freq: B, dtype: int64

Group:  2017-02-05 00:00:00
---------------------------
2017-01-30    20
2017-01-31    21
2017-02-01    22
2017-02-02    23
2017-02-03    24
Freq: B, dtype: int64

Group:  2017-02-12 00:00:00
---------------------------
2017-02-06    25
2017-02-07    26
2017-02-08    27
2017-02-09    28
2017-02-10    29
Freq: B, dtype: int64

Group:  2017-02-19 00:00:00
---------------------------
2017-02-13    30
2017-02-14    31
2017-02-15    32
2017-02-16    33
2017-02-17    34
Freq: B, dtype: int64

Group:  2017-02-26 00:00:00
---------------------------
2017-02-20    35
2017-02-21    36
2017-02-22    37
2017-02-23    38
2017-02-24    39
Freq: B, dtype: int64

Group:  2017-03-05 00:00:00
---------------------------
2017-02-27    40
2017-02-28    41
2017-03-01    42
2017-03-02    43
2017-03-03    44
Freq: B, dtype: int64

Group:  2017-03-12 00:00:00
---------------------------
2017-03-06    45
2017-03-07    46
2017-03-08    47
2017-03-09    48
2017-03-10    49
Freq: B, dtype: int64

In [18]:
start, end = "2000-10-01 23:30:00", "2000-10-02 00:30:00"

middle = "2000-10-02 00:00:00"

rng = pd.date_range(start, end, freq="7min")

ts = pd.Series(np.arange(len(rng)) * 3, index=rng)

ts

2000-10-01 23:30:00     0
2000-10-01 23:37:00     3
2000-10-01 23:44:00     6
2000-10-01 23:51:00     9
2000-10-01 23:58:00    12
2000-10-02 00:05:00    15
2000-10-02 00:12:00    18
2000-10-02 00:19:00    21
2000-10-02 00:26:00    24
Freq: 7T, dtype: int32

In [24]:
ts.resample("17min").sum()

2000-10-01 23:14:00     0
2000-10-01 23:31:00     9
2000-10-01 23:48:00    21
2000-10-02 00:05:00    54
2000-10-02 00:22:00    24
Freq: 17T, dtype: int32

In [25]:
ts[middle:end].resample("17min").sum()

2000-10-02 00:00:00    33
2000-10-02 00:17:00    45
Freq: 17T, dtype: int32

In [27]:
start, end = "2000-10-01 23:30:00", "2000-10-02 05:30:00"

middle = "2000-10-02 00:00:00"

rng1 = pd.date_range(start, end, freq="7min")

ts2 = pd.Series(np.arange(len(rng1)) * 3, index=rng1)

ts2

2000-10-01 23:30:00      0
2000-10-01 23:37:00      3
2000-10-01 23:44:00      6
2000-10-01 23:51:00      9
2000-10-01 23:58:00     12
2000-10-02 00:05:00     15
2000-10-02 00:12:00     18
2000-10-02 00:19:00     21
2000-10-02 00:26:00     24
2000-10-02 00:33:00     27
2000-10-02 00:40:00     30
2000-10-02 00:47:00     33
2000-10-02 00:54:00     36
2000-10-02 01:01:00     39
2000-10-02 01:08:00     42
2000-10-02 01:15:00     45
2000-10-02 01:22:00     48
2000-10-02 01:29:00     51
2000-10-02 01:36:00     54
2000-10-02 01:43:00     57
2000-10-02 01:50:00     60
2000-10-02 01:57:00     63
2000-10-02 02:04:00     66
2000-10-02 02:11:00     69
2000-10-02 02:18:00     72
2000-10-02 02:25:00     75
2000-10-02 02:32:00     78
2000-10-02 02:39:00     81
2000-10-02 02:46:00     84
2000-10-02 02:53:00     87
2000-10-02 03:00:00     90
2000-10-02 03:07:00     93
2000-10-02 03:14:00     96
2000-10-02 03:21:00     99
2000-10-02 03:28:00    102
2000-10-02 03:35:00    105
2000-10-02 03:42:00    108
2000-10-02 03:49:00    111
2000-10-02 03:56:00    114
2000-10-02 04:03:00    117
2000-10-02 04:10:00    120
2000-10-02 04:17:00    123
2000-10-02 04:24:00    126
2000-10-02 04:31:00    129
2000-10-02 04:38:00    132
2000-10-02 04:45:00    135
2000-10-02 04:52:00    138
2000-10-02 04:59:00    141
2000-10-02 05:06:00    144
2000-10-02 05:13:00    147
2000-10-02 05:20:00    150
2000-10-02 05:27:00    153
Freq: 7T, dtype: int32

In [28]:
ts2[middle:end].resample("17min").sum()

2000-10-02 00:00:00     33
2000-10-02 00:17:00     72
2000-10-02 00:34:00     63
2000-10-02 00:51:00     75
2000-10-02 01:08:00    135
2000-10-02 01:25:00    105
2000-10-02 01:42:00    180
2000-10-02 01:59:00    135
2000-10-02 02:16:00    225
2000-10-02 02:33:00    165
2000-10-02 02:50:00    177
2000-10-02 03:07:00    288
2000-10-02 03:24:00    207
2000-10-02 03:41:00    333
2000-10-02 03:58:00    237
2000-10-02 04:15:00    378
2000-10-02 04:32:00    267
2000-10-02 04:49:00    279
2000-10-02 05:06:00    441
2000-10-02 05:23:00    153
Freq: 17T, dtype: int32

In [2]:
import pandas as pd

In [3]:
p = pd.Period("2012", freq="A-DEC")

In [4]:
p + 4

Period('2016', 'A-DEC')

In [5]:
p1 = pd.Period("2012-1-1", freq="D")

In [6]:
p1 + 3

Period('2012-01-04', 'D')

In [7]:
p2 = pd.Period("2012-1-1 19:00", freq="H")

In [8]:
p2 + 6

Period('2012-01-02 01:00', 'H')

In [9]:
p3 = pd.Period("2012-1-1 19:00", freq="5H")

In [10]:
p3 + 3

Period('2012-01-02 10:00', '5H')

In [13]:
p4 = pd.Period("2012", freq="A-AUG")

In [14]:
p4 + 5

Period('2017', 'A-AUG')

In [15]:
p4 - 5

Period('2007', 'A-AUG')

In [17]:
p5 = pd.Period("2012-01", freq="3M")

In [19]:
p5 + 1

Period('2012-04', '3M')

In [20]:
p6 = pd.Period("2014-07-01 09:00", freq="H")

In [21]:
p6 + 3

Period('2014-07-01 12:00', 'H')

In [23]:
import datetime

In [24]:
p6 + datetime.timedelta(minutes=120)

Period('2014-07-01 11:00', 'H')

In [25]:
p6 + datetime.timedelta(hours=3)

Period('2014-07-01 12:00', 'H')

In [29]:
p7 = pd.Period("2014-07-01 09:08", freq="m")

In [30]:
p7 + 5

Period('2014-12', 'M')

In [34]:
p8 = pd.to_datetime("2014-07-01 09:08")

In [35]:
p8 + datetime.timedelta(minutes=120)

Timestamp('2014-07-01 11:08:00')

In [38]:
p = pd.Period("2014-07", freq="M")

In [39]:
 p + pd.offsets.MonthEnd(3)

Period('2014-10', 'M')

In [40]:
pd.Period("2012", freq="A-DEC") - pd.Period("2002", freq="A-DEC")

In [41]:
pd.Period("2015", freq="A-DEC") - pd.Period("2002", freq="A-DEC")

In [42]:
prng = pd.period_range("1/1/2011", "1/1/2012", freq="M")
prng

PeriodIndex(['2011-01', '2011-02', '2011-03', '2011-04', '2011-05', '2011-06',
             '2011-07', '2011-08', '2011-09', '2011-10', '2011-11', '2011-12',
             '2012-01'],
            dtype='period[M]', freq='M')

In [43]:
pd.period_range(start="2014-01", freq="3M", periods=7)

PeriodIndex(['2014-01', '2014-04', '2014-07', '2014-10', '2015-01', '2015-04',
             '2015-07'],
            dtype='period[3M]', freq='3M')

In [44]:
pd.period_range(
        start=pd.Period("2017Q1", freq="Q"), end=pd.Period("2017Q2", freq="Q"), freq="M")

PeriodIndex(['2017-03', '2017-04', '2017-05', '2017-06'], dtype='period[M]', freq='M')

In [45]:
ps = pd.Series(np.random.randn(len(prng)), prng)
ps

2011-01    1.109598
2011-02   -0.111900
2011-03    0.004704
2011-04    1.831351
2011-05   -1.919099
2011-06    2.024286
2011-07    2.759265
2011-08    0.886516
2011-09    1.252130
2011-10   -2.028336
2011-11   -0.093615
2011-12    1.443054
2012-01   -0.757934
Freq: M, dtype: float64

In [47]:
idx = pd.period_range("2014-07-01 09:00", periods=5, freq="H")
idx

PeriodIndex(['2014-07-01 09:00', '2014-07-01 10:00', '2014-07-01 11:00',
             '2014-07-01 12:00', '2014-07-01 13:00'],
            dtype='period[H]', freq='H')

In [48]:
idx + pd.offsets.Hour(2)

PeriodIndex(['2014-07-01 11:00', '2014-07-01 12:00', '2014-07-01 13:00',
             '2014-07-01 14:00', '2014-07-01 15:00'],
            dtype='period[H]', freq='H')

In [49]:
idx = pd.period_range("2014-07", periods=5, freq="M")
idx

PeriodIndex(['2014-07', '2014-08', '2014-09', '2014-10', '2014-11'], dtype='period[M]', freq='M')

In [50]:
idx + pd.offsets.MonthEnd(3)

PeriodIndex(['2014-10', '2014-11', '2014-12', '2015-01', '2015-02'], dtype='period[M]', freq='M')

In [51]:
pi = pd.period_range("2016-01-01", periods=3, freq="M")
pi

PeriodIndex(['2016-01', '2016-02', '2016-03'], dtype='period[M]', freq='M')

In [55]:
dfp11 = pd.DataFrame(np.random.randn(600, 2), columns=["A","B"],index=pd.period_range("2013-01-01 9:00", periods=600, freq="T"),)
dfp11

                         A         B
2013-01-01 09:00 -2.291537  0.695225
2013-01-01 09:01  1.466930 -1.619350
2013-01-01 09:02 -0.488122 -0.058698
2013-01-01 09:03  1.529999  0.930767
2013-01-01 09:04 -0.040833  0.542926
...                    ...       ...
2013-01-01 18:55 -0.620024 -0.679267
2013-01-01 18:56 -1.783216  1.307592
2013-01-01 18:57  0.125025 -1.525989
2013-01-01 18:58 -0.114830  0.404603
2013-01-01 18:59 -0.145838 -0.342895

[600 rows x 2 columns]

In [60]:
dfp11.loc["2013-01-01 11H"]

A    0.684627
B    0.940754
Name: 2013-01-01 11:00, dtype: float64

In [61]:
dfp["2013-01-01 10H":"2013-01-01 11H"]

                         A         B
2013-01-01 10:00 -0.146746 -0.769838
2013-01-01 10:01 -0.249814  0.380853
2013-01-01 10:02  1.774865  1.885967
2013-01-01 10:03  1.771912 -0.524152
2013-01-01 10:04 -0.167915 -1.829988
...                    ...       ...
2013-01-01 11:55 -1.631236  0.454479
2013-01-01 11:56 -0.105179  2.014356
2013-01-01 11:57  1.055419  0.562104
2013-01-01 11:58 -1.066722  0.063357
2013-01-01 11:59 -0.335933 -0.082322

[120 rows x 2 columns]

In [62]:
p = pd.Period("2011", freq="A-DEC")
p

Period('2011', 'A-DEC')

In [63]:
rng = pd.date_range("1/1/2012", periods=5, freq="M")
rng

DatetimeIndex(['2012-01-31', '2012-02-29', '2012-03-31', '2012-04-30',
               '2012-05-31'],
              dtype='datetime64[ns]', freq='M')

In [64]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-01-31    0.931011
2012-02-29   -0.494229
2012-03-31    0.146095
2012-04-30    0.609535
2012-05-31    0.131079
Freq: M, dtype: float64

In [66]:
prng = pd.period_range("1990Q1", "2000Q4", freq="Q")
prng

PeriodIndex(['1990Q1', '1990Q2', '1990Q3', '1990Q4', '1991Q1', '1991Q2',
             '1991Q3', '1991Q4', '1992Q1', '1992Q2', '1992Q3', '1992Q4',
             '1993Q1', '1993Q2', '1993Q3', '1993Q4', '1994Q1', '1994Q2',
             '1994Q3', '1994Q4', '1995Q1', '1995Q2', '1995Q3', '1995Q4',
             '1996Q1', '1996Q2', '1996Q3', '1996Q4', '1997Q1', '1997Q2',
             '1997Q3', '1997Q4', '1998Q1', '1998Q2', '1998Q3', '1998Q4',
             '1999Q1', '1999Q2', '1999Q3', '1999Q4', '2000Q1', '2000Q2',
             '2000Q3', '2000Q4'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [67]:
ts = pd.Series(np.random.randn(len(prng)), prng)
ts

1990Q1    0.409279
1990Q2    0.636420
1990Q3   -0.138663
1990Q4    1.767616
1991Q1    1.565497
1991Q2    0.730122
1991Q3    1.185259
1991Q4   -0.925378
1992Q1   -0.940628
1992Q2    0.732239
1992Q3   -1.366971
1992Q4   -1.321228
1993Q1    0.397478
1993Q2   -0.732574
1993Q3   -3.516902
1993Q4   -0.624987
1994Q1   -0.314874
1994Q2   -0.253229
1994Q3    1.170255
1994Q4   -0.215069
1995Q1    0.556221
1995Q2    0.624915
1995Q3   -0.310718
1995Q4    0.381667
1996Q1   -1.146663
1996Q2   -0.744454
1996Q3   -0.070563
1996Q4    1.220055
1997Q1    0.077648
1997Q2    0.020190
1997Q3    1.329584
1997Q4    0.014888
1998Q1   -1.301082
1998Q2   -0.561864
1998Q3   -0.292690
1998Q4    0.194716
1999Q1    0.507542
1999Q2   -1.369721
1999Q3   -0.983708
1999Q4    0.416689
2000Q1   -1.349010
2000Q2   -1.388440
2000Q3    0.717530
2000Q4   -0.447762
Freq: Q-DEC, dtype: float64

In [68]:
span = pd.period_range("1215-01-01", "1381-01-01", freq="D")
span

PeriodIndex(['1215-01-01', '1215-01-02', '1215-01-03', '1215-01-04',
             '1215-01-05', '1215-01-06', '1215-01-07', '1215-01-08',
             '1215-01-09', '1215-01-10',
             ...
             '1380-12-23', '1380-12-24', '1380-12-25', '1380-12-26',
             '1380-12-27', '1380-12-28', '1380-12-29', '1380-12-30',
             '1380-12-31', '1381-01-01'],
            dtype='period[D]', length=60632, freq='D')

In [69]:
s = pd.Series([20121231, 20141130, 99991231])
s

0    20121231
1    20141130
2    99991231
dtype: int64

In [70]:
20121231 // 10000

2012

In [71]:
20121231 // 100 % 100

12

In [72]:
20121231 % 100

31

In [73]:
def conv(x):
    return pd.Period(year=x // 10000, month=x // 100 % 100, day=x % 100, freq="D")

In [74]:
s.apply(conv)

0    2012-12-31
1    2014-11-30
2    9999-12-31
dtype: period[D]

In [75]:
rng = pd.date_range("3/6/2012 00:00", periods=15, freq="T")
rng

DatetimeIndex(['2012-03-06 00:00:00', '2012-03-06 00:01:00',
               '2012-03-06 00:02:00', '2012-03-06 00:03:00',
               '2012-03-06 00:04:00', '2012-03-06 00:05:00',
               '2012-03-06 00:06:00', '2012-03-06 00:07:00',
               '2012-03-06 00:08:00', '2012-03-06 00:09:00',
               '2012-03-06 00:10:00', '2012-03-06 00:11:00',
               '2012-03-06 00:12:00', '2012-03-06 00:13:00',
               '2012-03-06 00:14:00'],
              dtype='datetime64[ns]', freq='T')

In [76]:
rng1 = pd.date_range("3/6/2012 00:00", periods=15, freq="M")
rng1

DatetimeIndex(['2012-03-31', '2012-04-30', '2012-05-31', '2012-06-30',
               '2012-07-31', '2012-08-31', '2012-09-30', '2012-10-31',
               '2012-11-30', '2012-12-31', '2013-01-31', '2013-02-28',
               '2013-03-31', '2013-04-30', '2013-05-31'],
              dtype='datetime64[ns]', freq='M')

In [77]:
rng2 = pd.date_range("3/6/2012 00:00", periods=15, freq="D")
rng2

DatetimeIndex(['2012-03-06', '2012-03-07', '2012-03-08', '2012-03-09',
               '2012-03-10', '2012-03-11', '2012-03-12', '2012-03-13',
               '2012-03-14', '2012-03-15', '2012-03-16', '2012-03-17',
               '2012-03-18', '2012-03-19', '2012-03-20'],
              dtype='datetime64[ns]', freq='D')

In [78]:
rng_pytz = pd.date_range("3/6/2012 00:00", periods=3, freq="D", tz="Europe/London")
rng_pytz

DatetimeIndex(['2012-03-06 00:00:00+00:00', '2012-03-07 00:00:00+00:00',
               '2012-03-08 00:00:00+00:00'],
              dtype='datetime64[ns, Europe/London]', freq='D')

In [2]:
import pandas as pd

In [4]:
pi = pd.period_range("2016-01-01", periods=7, freq="M")
pi

PeriodIndex(['2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06',
             '2016-07'],
            dtype='period[M]', freq='M')

In [5]:
dfp = pd.DataFrame(np.random.randn(600, 3), columns=["A","B","C"],index=pd.period_range("2013-01-01 9:00", periods=600, freq="T"),)
dfp

                         A         B         C
2013-01-01 09:00 -1.840570  0.748033 -0.011460
2013-01-01 09:01 -0.528402  1.303341 -2.168030
2013-01-01 09:02  1.664721  0.130235  1.491987
2013-01-01 09:03 -1.146590  1.555276  1.472415
2013-01-01 09:04  1.063342  0.723005  1.030244
...                    ...       ...       ...
2013-01-01 18:55  1.286665  1.268637  0.595627
2013-01-01 18:56  2.408471  2.056243  0.667998
2013-01-01 18:57 -0.128252 -0.393203 -0.542589
2013-01-01 18:58  3.121933  0.064108 -0.380100
2013-01-01 18:59 -0.029071 -1.914875  0.187438

[600 rows x 3 columns]

In [6]:
dfp.loc["2013-01-01 10H"]

A    0.195764
B    1.250650
C   -1.137757
Name: 2013-01-01 10:00, dtype: float64

In [7]:
dfp["2013-01-01 10H":"2013-01-01 11H"]

                         A         B         C
2013-01-01 10:00  0.195764  1.250650 -1.137757
2013-01-01 10:01 -0.742801 -1.787321 -1.463743
2013-01-01 10:02 -0.505715 -0.511038 -0.759959
2013-01-01 10:03  0.016400  0.154813  1.207083
2013-01-01 10:04  0.545648  0.828714  0.081182
...                    ...       ...       ...
2013-01-01 11:55  1.942714  0.443787 -0.030040
2013-01-01 11:56 -1.475662  0.006132  0.014607
2013-01-01 11:57 -1.141054 -0.446260 -1.152365
2013-01-01 11:58 -0.234435  0.620772  1.682388
2013-01-01 11:59  0.854356 -1.741895 -0.049150

[120 rows x 3 columns]

In [9]:
prng = pd.period_range("1990Q1", "2000Q4", freq="Q")
prng

PeriodIndex(['1990Q1', '1990Q2', '1990Q3', '1990Q4', '1991Q1', '1991Q2',
             '1991Q3', '1991Q4', '1992Q1', '1992Q2', '1992Q3', '1992Q4',
             '1993Q1', '1993Q2', '1993Q3', '1993Q4', '1994Q1', '1994Q2',
             '1994Q3', '1994Q4', '1995Q1', '1995Q2', '1995Q3', '1995Q4',
             '1996Q1', '1996Q2', '1996Q3', '1996Q4', '1997Q1', '1997Q2',
             '1997Q3', '1997Q4', '1998Q1', '1998Q2', '1998Q3', '1998Q4',
             '1999Q1', '1999Q2', '1999Q3', '1999Q4', '2000Q1', '2000Q2',
             '2000Q3', '2000Q4'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [10]:
ts = pd.Series(np.random.randn(len(prng)), prng)
ts

1990Q1    0.851351
1990Q2   -1.183350
1990Q3   -0.560544
1990Q4    0.402305
1991Q1   -0.729839
1991Q2    0.127741
1991Q3   -0.464503
1991Q4    0.201082
1992Q1    1.253033
1992Q2    1.358406
1992Q3   -0.077431
1992Q4    0.561961
1993Q1    1.638831
1993Q2    0.977491
1993Q3    0.142503
1993Q4   -0.359155
1994Q1    1.531071
1994Q2   -1.985305
1994Q3   -3.286617
1994Q4   -1.186929
1995Q1    0.360457
1995Q2   -1.256491
1995Q3    0.270609
1995Q4   -0.551805
1996Q1   -0.536146
1996Q2    0.697710
1996Q3    1.314617
1996Q4   -1.035095
1997Q1    0.567220
1997Q2   -0.934543
1997Q3   -0.608882
1997Q4    1.953160
1998Q1    1.066539
1998Q2    0.628640
1998Q3    0.289372
1998Q4    1.111597
1999Q1   -0.336848
1999Q2    0.271079
1999Q3   -0.342473
1999Q4   -0.534692
2000Q1    0.972713
2000Q2    0.419946
2000Q3   -0.128752
2000Q4   -0.068283
Freq: Q-DEC, dtype: float64

In [12]:
ts.index = (prng.asfreq("M", "e") + 5).asfreq("H", "s") + 9

ts.head()

1990-08-01 09:00    0.851351
1990-11-01 09:00   -1.183350
1991-02-01 09:00   -0.560544
1991-05-01 09:00    0.402305
1991-08-01 09:00   -0.729839
Freq: H, dtype: float64

In [1]:
import pandas as pd

In [2]:
import datetime as dt

In [3]:
pd.period_range(start=pd.Period('2017Q1', freq='Q'),end=pd.Period('2017Q2', freq='Q'), freq='M')

PeriodIndex(['2017-03', '2017-04', '2017-05', '2017-06'], dtype='period[M]', freq='M')

In [4]:
idx = pd.period_range('2014-07-01 09:00', periods=15, freq='H')
idx

PeriodIndex(['2014-07-01 09:00', '2014-07-01 10:00', '2014-07-01 11:00',
             '2014-07-01 12:00', '2014-07-01 13:00', '2014-07-01 14:00',
             '2014-07-01 15:00', '2014-07-01 16:00', '2014-07-01 17:00',
             '2014-07-01 18:00', '2014-07-01 19:00', '2014-07-01 20:00',
             '2014-07-01 21:00', '2014-07-01 22:00', '2014-07-01 23:00'],
            dtype='period[H]', freq='H')

In [5]:
idx + pd.offsets.Hour(2)

PeriodIndex(['2014-07-01 11:00', '2014-07-01 12:00', '2014-07-01 13:00',
             '2014-07-01 14:00', '2014-07-01 15:00', '2014-07-01 16:00',
             '2014-07-01 17:00', '2014-07-01 18:00', '2014-07-01 19:00',
             '2014-07-01 20:00', '2014-07-01 21:00', '2014-07-01 22:00',
             '2014-07-01 23:00', '2014-07-02 00:00', '2014-07-02 01:00'],
            dtype='period[H]', freq='H')

In [6]:
idx3 = pd.period_range('2014-07-01 09:00', periods=15, freq='T')
idx3

PeriodIndex(['2014-07-01 09:00', '2014-07-01 09:01', '2014-07-01 09:02',
             '2014-07-01 09:03', '2014-07-01 09:04', '2014-07-01 09:05',
             '2014-07-01 09:06', '2014-07-01 09:07', '2014-07-01 09:08',
             '2014-07-01 09:09', '2014-07-01 09:10', '2014-07-01 09:11',
             '2014-07-01 09:12', '2014-07-01 09:13', '2014-07-01 09:14'],
            dtype='period[T]', freq='T')

In [9]:
idx5 = pd.period_range('2014-07', periods=5, freq='M')
idx5

PeriodIndex(['2014-07', '2014-08', '2014-09', '2014-10', '2014-11'], dtype='period[M]', freq='M')

In [10]:
idx5 + pd.offsets.MonthEnd(3)

PeriodIndex(['2014-10', '2014-11', '2014-12', '2015-01', '2015-02'], dtype='period[M]', freq='M')

In [2]:
import pandas as pd

In [5]:
rng = pd.date_range("1/1/2012", periods=1000, freq="S")
rng

DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 00:00:01',
               '2012-01-01 00:00:02', '2012-01-01 00:00:03',
               '2012-01-01 00:00:04', '2012-01-01 00:00:05',
               '2012-01-01 00:00:06', '2012-01-01 00:00:07',
               '2012-01-01 00:00:08', '2012-01-01 00:00:09',
               ...
               '2012-01-01 00:16:30', '2012-01-01 00:16:31',
               '2012-01-01 00:16:32', '2012-01-01 00:16:33',
               '2012-01-01 00:16:34', '2012-01-01 00:16:35',
               '2012-01-01 00:16:36', '2012-01-01 00:16:37',
               '2012-01-01 00:16:38', '2012-01-01 00:16:39'],
              dtype='datetime64[ns]', length=1000, freq='S')

In [6]:
ts = pd.Series(np.random.randint(0, 1000, len(rng)), index=rng)
ts

2012-01-01 00:00:00    209
2012-01-01 00:00:01    160
2012-01-01 00:00:02    950
2012-01-01 00:00:03    654
2012-01-01 00:00:04     73
                      ...
2012-01-01 00:16:35    639
2012-01-01 00:16:36    117
2012-01-01 00:16:37    746
2012-01-01 00:16:38    898
2012-01-01 00:16:39    215
Freq: S, Length: 1000, dtype: int32

In [11]:
ts[:2].resample("250L").ffill()

2012-01-01 00:00:00.000    209
2012-01-01 00:00:00.250    209
2012-01-01 00:00:00.500    209
2012-01-01 00:00:00.750    209
2012-01-01 00:00:01.000    160
Freq: 250L, dtype: int32

In [7]:
ts.resample("5Min").sum()

2012-01-01 00:00:00    153722
2012-01-01 00:05:00    147281
2012-01-01 00:10:00    145467
2012-01-01 00:15:00     47400
Freq: 5T, dtype: int32

In [8]:
ts.resample("5Min").mean()

2012-01-01 00:00:00    512.406667
2012-01-01 00:05:00    490.936667
2012-01-01 00:10:00    484.890000
2012-01-01 00:15:00    474.000000
Freq: 5T, dtype: float64

In [13]:
rng1 = pd.date_range("1/1/2012", periods=1000, freq="Min")
rng1

DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 00:01:00',
               '2012-01-01 00:02:00', '2012-01-01 00:03:00',
               '2012-01-01 00:04:00', '2012-01-01 00:05:00',
               '2012-01-01 00:06:00', '2012-01-01 00:07:00',
               '2012-01-01 00:08:00', '2012-01-01 00:09:00',
               ...
               '2012-01-01 16:30:00', '2012-01-01 16:31:00',
               '2012-01-01 16:32:00', '2012-01-01 16:33:00',
               '2012-01-01 16:34:00', '2012-01-01 16:35:00',
               '2012-01-01 16:36:00', '2012-01-01 16:37:00',
               '2012-01-01 16:38:00', '2012-01-01 16:39:00'],
              dtype='datetime64[ns]', length=1000, freq='T')

In [14]:
ts1 = pd.Series(np.random.randint(0, 1000, len(rng1)), index=rng1)
ts1

2012-01-01 00:00:00    171
2012-01-01 00:01:00    451
2012-01-01 00:02:00    865
2012-01-01 00:03:00    484
2012-01-01 00:04:00    503
                      ...
2012-01-01 16:35:00    368
2012-01-01 16:36:00    951
2012-01-01 16:37:00    514
2012-01-01 16:38:00    578
2012-01-01 16:39:00    173
Freq: T, Length: 1000, dtype: int32

In [15]:
ts1[:2].resample("S").ffill()

2012-01-01 00:00:00    171
2012-01-01 00:00:01    171
2012-01-01 00:00:02    171
2012-01-01 00:00:03    171
2012-01-01 00:00:04    171
                      ...
2012-01-01 00:00:56    171
2012-01-01 00:00:57    171
2012-01-01 00:00:58    171
2012-01-01 00:00:59    171
2012-01-01 00:01:00    451
Freq: S, Length: 61, dtype: int32

In [ ]:
s = pd.date_range("2000-01-01", "2000-01-05").to_series()

In [9]:
s = pd.date_range("2000-01-01", "2000-01-05").to_series()
s

2000-01-01   2000-01-01
2000-01-02   2000-01-02
2000-01-03   2000-01-03
2000-01-04   2000-01-04
2000-01-05   2000-01-05
Freq: D, dtype: datetime64[ns]

In [10]:
s.dt.day_name()

2000-01-01     Saturday
2000-01-02       Sunday
2000-01-03       Monday
2000-01-04      Tuesday
2000-01-05    Wednesday
Freq: D, dtype: object

In [17]:
rng = pd.date_range("2014-1-1", periods=100, freq="D") + pd.Timedelta("10s")
rng

DatetimeIndex(['2014-01-01 00:00:10', '2014-01-02 00:00:10',
               '2014-01-03 00:00:10', '2014-01-04 00:00:10',
               '2014-01-05 00:00:10', '2014-01-06 00:00:10',
               '2014-01-07 00:00:10', '2014-01-08 00:00:10',
               '2014-01-09 00:00:10', '2014-01-10 00:00:10',
               '2014-01-11 00:00:10', '2014-01-12 00:00:10',
               '2014-01-13 00:00:10', '2014-01-14 00:00:10',
               '2014-01-15 00:00:10', '2014-01-16 00:00:10',
               '2014-01-17 00:00:10', '2014-01-18 00:00:10',
               '2014-01-19 00:00:10', '2014-01-20 00:00:10',
               '2014-01-21 00:00:10', '2014-01-22 00:00:10',
               '2014-01-23 00:00:10', '2014-01-24 00:00:10',
               '2014-01-25 00:00:10', '2014-01-26 00:00:10',
               '2014-01-27 00:00:10', '2014-01-28 00:00:10',
               '2014-01-29 00:00:10', '2014-01-30 00:00:10',
               '2014-01-31 00:00:10', '2014-02-01 00:00:10',
               '2014-02-02 00:00:10', '2014-02-03 00:00:10',
               '2014-02-04 00:00:10', '2014-02-05 00:00:10',
               '2014-02-06 00:00:10', '2014-02-07 00:00:10',
               '2014-02-08 00:00:10', '2014-02-09 00:00:10',
               '2014-02-10 00:00:10', '2014-02-11 00:00:10',
               '2014-02-12 00:00:10', '2014-02-13 00:00:10',
               '2014-02-14 00:00:10', '2014-02-15 00:00:10',
               '2014-02-16 00:00:10', '2014-02-17 00:00:10',
               '2014-02-18 00:00:10', '2014-02-19 00:00:10',
               '2014-02-20 00:00:10', '2014-02-21 00:00:10',
               '2014-02-22 00:00:10', '2014-02-23 00:00:10',
               '2014-02-24 00:00:10', '2014-02-25 00:00:10',
               '2014-02-26 00:00:10', '2014-02-27 00:00:10',
               '2014-02-28 00:00:10', '2014-03-01 00:00:10',
               '2014-03-02 00:00:10', '2014-03-03 00:00:10',
               '2014-03-04 00:00:10', '2014-03-05 00:00:10',
               '2014-03-06 00:00:10', '2014-03-07 00:00:10',
               '2014-03-08 00:00:10', '2014-03-09 00:00:10',
               '2014-03-10 00:00:10', '2014-03-11 00:00:10',
               '2014-03-12 00:00:10', '2014-03-13 00:00:10',
               '2014-03-14 00:00:10', '2014-03-15 00:00:10',
               '2014-03-16 00:00:10', '2014-03-17 00:00:10',
               '2014-03-18 00:00:10', '2014-03-19 00:00:10',
               '2014-03-20 00:00:10', '2014-03-21 00:00:10',
               '2014-03-22 00:00:10', '2014-03-23 00:00:10',
               '2014-03-24 00:00:10', '2014-03-25 00:00:10',
               '2014-03-26 00:00:10', '2014-03-27 00:00:10',
               '2014-03-28 00:00:10', '2014-03-29 00:00:10',
               '2014-03-30 00:00:10', '2014-03-31 00:00:10',
               '2014-04-01 00:00:10', '2014-04-02 00:00:10',
               '2014-04-03 00:00:10', '2014-04-04 00:00:10',
               '2014-04-05 00:00:10', '2014-04-06 00:00:10',
               '2014-04-07 00:00:10', '2014-04-08 00:00:10',
               '2014-04-09 00:00:10', '2014-04-10 00:00:10'],
              dtype='datetime64[ns]', freq='D')

In [19]:
List = []
for x in rng:
    List.append(x+ pd.Timedelta("10s"))

In [20]:
List

[Timestamp('2014-01-01 00:00:20', freq='D'),
 Timestamp('2014-01-02 00:00:20', freq='D'),
 Timestamp('2014-01-03 00:00:20', freq='D'),
 Timestamp('2014-01-04 00:00:20', freq='D'),
 Timestamp('2014-01-05 00:00:20', freq='D'),
 Timestamp('2014-01-06 00:00:20', freq='D'),
 Timestamp('2014-01-07 00:00:20', freq='D'),
 Timestamp('2014-01-08 00:00:20', freq='D'),
 Timestamp('2014-01-09 00:00:20', freq='D'),
 Timestamp('2014-01-10 00:00:20', freq='D'),
 Timestamp('2014-01-11 00:00:20', freq='D'),
 Timestamp('2014-01-12 00:00:20', freq='D'),
 Timestamp('2014-01-13 00:00:20', freq='D'),
 Timestamp('2014-01-14 00:00:20', freq='D'),
 Timestamp('2014-01-15 00:00:20', freq='D'),
 Timestamp('2014-01-16 00:00:20', freq='D'),
 Timestamp('2014-01-17 00:00:20', freq='D'),
 Timestamp('2014-01-18 00:00:20', freq='D'),
 Timestamp('2014-01-19 00:00:20', freq='D'),
 Timestamp('2014-01-20 00:00:20', freq='D'),
 Timestamp('2014-01-21 00:00:20', freq='D'),
 Timestamp('2014-01-22 00:00:20', freq='D'),
 Timestamp('2014-01-23 00:00:20', freq='D'),
 Timestamp('2014-01-24 00:00:20', freq='D'),
 Timestamp('2014-01-25 00:00:20', freq='D'),
 Timestamp('2014-01-26 00:00:20', freq='D'),
 Timestamp('2014-01-27 00:00:20', freq='D'),
 Timestamp('2014-01-28 00:00:20', freq='D'),
 Timestamp('2014-01-29 00:00:20', freq='D'),
 Timestamp('2014-01-30 00:00:20', freq='D'),
 Timestamp('2014-01-31 00:00:20', freq='D'),
 Timestamp('2014-02-01 00:00:20', freq='D'),
 Timestamp('2014-02-02 00:00:20', freq='D'),
 Timestamp('2014-02-03 00:00:20', freq='D'),
 Timestamp('2014-02-04 00:00:20', freq='D'),
 Timestamp('2014-02-05 00:00:20', freq='D'),
 Timestamp('2014-02-06 00:00:20', freq='D'),
 Timestamp('2014-02-07 00:00:20', freq='D'),
 Timestamp('2014-02-08 00:00:20', freq='D'),
 Timestamp('2014-02-09 00:00:20', freq='D'),
 Timestamp('2014-02-10 00:00:20', freq='D'),
 Timestamp('2014-02-11 00:00:20', freq='D'),
 Timestamp('2014-02-12 00:00:20', freq='D'),
 Timestamp('2014-02-13 00:00:20', freq='D'),
 Timestamp('2014-02-14 00:00:20', freq='D'),
 Timestamp('2014-02-15 00:00:20', freq='D'),
 Timestamp('2014-02-16 00:00:20', freq='D'),
 Timestamp('2014-02-17 00:00:20', freq='D'),
 Timestamp('2014-02-18 00:00:20', freq='D'),
 Timestamp('2014-02-19 00:00:20', freq='D'),
 Timestamp('2014-02-20 00:00:20', freq='D'),
 Timestamp('2014-02-21 00:00:20', freq='D'),
 Timestamp('2014-02-22 00:00:20', freq='D'),
 Timestamp('2014-02-23 00:00:20', freq='D'),
 Timestamp('2014-02-24 00:00:20', freq='D'),
 Timestamp('2014-02-25 00:00:20', freq='D'),
 Timestamp('2014-02-26 00:00:20', freq='D'),
 Timestamp('2014-02-27 00:00:20', freq='D'),
 Timestamp('2014-02-28 00:00:20', freq='D'),
 Timestamp('2014-03-01 00:00:20', freq='D'),
 Timestamp('2014-03-02 00:00:20', freq='D'),
 Timestamp('2014-03-03 00:00:20', freq='D'),
 Timestamp('2014-03-04 00:00:20', freq='D'),
 Timestamp('2014-03-05 00:00:20', freq='D'),
 Timestamp('2014-03-06 00:00:20', freq='D'),
 Timestamp('2014-03-07 00:00:20', freq='D'),
 Timestamp('2014-03-08 00:00:20', freq='D'),
 Timestamp('2014-03-09 00:00:20', freq='D'),
 Timestamp('2014-03-10 00:00:20', freq='D'),
 Timestamp('2014-03-11 00:00:20', freq='D'),
 Timestamp('2014-03-12 00:00:20', freq='D'),
 Timestamp('2014-03-13 00:00:20', freq='D'),
 Timestamp('2014-03-14 00:00:20', freq='D'),
 Timestamp('2014-03-15 00:00:20', freq='D'),
 Timestamp('2014-03-16 00:00:20', freq='D'),
 Timestamp('2014-03-17 00:00:20', freq='D'),
 Timestamp('2014-03-18 00:00:20', freq='D'),
 Timestamp('2014-03-19 00:00:20', freq='D'),
 Timestamp('2014-03-20 00:00:20', freq='D'),
 Timestamp('2014-03-21 00:00:20', freq='D'),
 Timestamp('2014-03-22 00:00:20', freq='D'),
 Timestamp('2014-03-23 00:00:20', freq='D'),
 Timestamp('2014-03-24 00:00:20', freq='D'),
 Timestamp('2014-03-25 00:00:20', freq='D'),
 Timestamp('2014-03-26 00:00:20', freq='D'),
 Timestamp('2014-03-27 00:00:20', freq='D'),
 Timestamp('2014-03-28 00:00:20', freq='D'),
 Timestamp('2014-03-29 00:00:20', freq='D'),
 Timestamp('2014-03-30 00:00:20', freq='D'),
 Timestamp('2014-03-31 00:00:20', freq='D'),
 Timestamp('2014-04-01 00:00:20', freq='D'),
 Timestamp('2014-04-02 00:00:20', freq='D'),
 Timestamp('2014-04-03 00:00:20', freq='D'),
 Timestamp('2014-04-04 00:00:20', freq='D'),
 Timestamp('2014-04-05 00:00:20', freq='D'),
 Timestamp('2014-04-06 00:00:20', freq='D'),
 Timestamp('2014-04-07 00:00:20', freq='D'),
 Timestamp('2014-04-08 00:00:20', freq='D'),
 Timestamp('2014-04-09 00:00:20', freq='D'),
 Timestamp('2014-04-10 00:00:20', freq='D')]

In [21]:
ts = pd.Series(range(100), index=rng)
ts

2014-01-01 00:00:10     0
2014-01-02 00:00:10     1
2014-01-03 00:00:10     2
2014-01-04 00:00:10     3
2014-01-05 00:00:10     4
                       ..
2014-04-06 00:00:10    95
2014-04-07 00:00:10    96
2014-04-08 00:00:10    97
2014-04-09 00:00:10    98
2014-04-10 00:00:10    99
Freq: D, Length: 100, dtype: int64

In [26]:
rng3 = pd.date_range("1/1/2012", periods=1000, freq="S")
rng3

DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 00:00:01',
               '2012-01-01 00:00:02', '2012-01-01 00:00:03',
               '2012-01-01 00:00:04', '2012-01-01 00:00:05',
               '2012-01-01 00:00:06', '2012-01-01 00:00:07',
               '2012-01-01 00:00:08', '2012-01-01 00:00:09',
               ...
               '2012-01-01 00:16:30', '2012-01-01 00:16:31',
               '2012-01-01 00:16:32', '2012-01-01 00:16:33',
               '2012-01-01 00:16:34', '2012-01-01 00:16:35',
               '2012-01-01 00:16:36', '2012-01-01 00:16:37',
               '2012-01-01 00:16:38', '2012-01-01 00:16:39'],
              dtype='datetime64[ns]', length=1000, freq='S')

In [27]:
ts3 = pd.Series(range(1000), index=rng3)
ts3

2012-01-01 00:00:00      0
2012-01-01 00:00:01      1
2012-01-01 00:00:02      2
2012-01-01 00:00:03      3
2012-01-01 00:00:04      4
                      ...
2012-01-01 00:16:35    995
2012-01-01 00:16:36    996
2012-01-01 00:16:37    997
2012-01-01 00:16:38    998
2012-01-01 00:16:39    999
Freq: S, Length: 1000, dtype: int64

In [28]:
ts3.resample("10min").sum()

2012-01-01 00:00:00    179700
2012-01-01 00:10:00    319800
Freq: 10T, dtype: int64

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(np.random.randn(1000, 3),index=pd.date_range("1/1/2012", freq="S", periods=1000),columns=["A", "B", "C"],)
df

                            A         B         C
2012-01-01 00:00:00 -0.135719 -1.479816  0.694833
2012-01-01 00:00:01  2.113536  1.265754  0.000166
2012-01-01 00:00:02 -0.746381 -0.617815 -0.020072
2012-01-01 00:00:03  1.054964 -1.712784  0.805163
2012-01-01 00:00:04  0.618361 -0.109002 -0.093956
...                       ...       ...       ...
2012-01-01 00:16:35  1.556606  0.361250 -0.314397
2012-01-01 00:16:36  1.744864  0.615971 -0.932449
2012-01-01 00:16:37  0.582276 -1.523432 -0.335644
2012-01-01 00:16:38  0.776437  0.763712  0.155291
2012-01-01 00:16:39 -0.734261 -0.068704 -0.072175

[1000 rows x 3 columns]

In [5]:
r = df.resample("3T").mean()
r

                            A         B         C
2012-01-01 00:00:00 -0.070782 -0.043590 -0.236528
2012-01-01 00:03:00 -0.064404 -0.105550 -0.167917
2012-01-01 00:06:00 -0.135111  0.098718  0.002648
2012-01-01 00:09:00 -0.074489 -0.019713 -0.050233
2012-01-01 00:12:00 -0.014106  0.076453 -0.054905
2012-01-01 00:15:00  0.151016  0.025319  0.050736

In [6]:
r["A"].mean()

-0.034645948427215835

In [7]:
r["A"].max()

0.15101550283579346

In [8]:
r[["A", "B"]].mean()

A   -0.034646
B    0.005273
dtype: float64

In [9]:
r["A"].agg([np.sum, np.mean, np.std])

sum    -0.207876
mean   -0.034646
std     0.098756
Name: A, dtype: float64

In [10]:
r1 = df.resample("6T").agg([np.sum, np.mean])
r1

                             A                    B                    C  \
                           sum      mean        sum      mean        sum
2012-01-01 00:00:00 -24.333410 -0.067593 -26.845218 -0.074570 -72.800099
2012-01-01 00:06:00 -37.727978 -0.104800  14.221055  0.039503  -8.565338
2012-01-01 00:12:00  12.562523  0.044866  16.293454  0.058191  -4.809332


                         mean
2012-01-01 00:00:00 -0.202222
2012-01-01 00:06:00 -0.023793
2012-01-01 00:12:00 -0.017176

In [13]:
r = df.resample("3T").agg({"A": ["sum", "std"], "B": ["mean", "std"]})
r

                             A                   B
                           sum       std      mean       std
2012-01-01 00:00:00 -12.740699  0.953126 -0.043590  0.984814
2012-01-01 00:03:00 -11.592711  0.994199 -0.105550  0.998070
2012-01-01 00:06:00 -24.320003  1.026117  0.098718  1.075464
2012-01-01 00:09:00 -13.407975  1.001682 -0.019713  1.041399
2012-01-01 00:12:00  -2.539027  1.034233  0.076453  1.047226
2012-01-01 00:15:00  15.101550  1.139408  0.025319  0.914196

In [14]:
start = "2000-10-01 23:30:00"
end = "2000-10-02 00:30:00"

In [15]:
rng = pd.date_range(start, end, freq="7min")
rng

DatetimeIndex(['2000-10-01 23:30:00', '2000-10-01 23:37:00',
               '2000-10-01 23:44:00', '2000-10-01 23:51:00',
               '2000-10-01 23:58:00', '2000-10-02 00:05:00',
               '2000-10-02 00:12:00', '2000-10-02 00:19:00',
               '2000-10-02 00:26:00'],
              dtype='datetime64[ns]', freq='7T')

In [16]:
ts = pd.Series(np.arange(len(rng)) * 3, index=rng)
ts

2000-10-01 23:30:00     0
2000-10-01 23:37:00     3
2000-10-01 23:44:00     6
2000-10-01 23:51:00     9
2000-10-01 23:58:00    12
2000-10-02 00:05:00    15
2000-10-02 00:12:00    18
2000-10-02 00:19:00    21
2000-10-02 00:26:00    24
Freq: 7T, dtype: int32

In [17]:
ts2 = pd.Series(np.arange(len(rng)), index=rng)
ts2

2000-10-01 23:30:00    0
2000-10-01 23:37:00    1
2000-10-01 23:44:00    2
2000-10-01 23:51:00    3
2000-10-01 23:58:00    4
2000-10-02 00:05:00    5
2000-10-02 00:12:00    6
2000-10-02 00:19:00    7
2000-10-02 00:26:00    8
Freq: 7T, dtype: int32

In [23]:
ts.resample("20min").sum()

2000-10-01 23:20:00     3
2000-10-01 23:40:00    27
2000-10-02 00:00:00    54
2000-10-02 00:20:00    24
Freq: 20T, dtype: int32

In [24]:
ts.resample("10min").sum()

2000-10-01 23:30:00     3
2000-10-01 23:40:00     6
2000-10-01 23:50:00    21
2000-10-02 00:00:00    15
2000-10-02 00:10:00    39
2000-10-02 00:20:00    24
Freq: 10T, dtype: int32

In [35]:
ts.resample("17min").sum()

2000-10-01 23:14:00     0
2000-10-01 23:31:00     9
2000-10-01 23:48:00    21
2000-10-02 00:05:00    54
2000-10-02 00:22:00    24
Freq: 17T, dtype: int32

In [38]:
middle1 = "2000-10-01 23:31:00"

In [36]:
middle = "2000-10-02 00:00:00"

In [39]:
ts[middle1:end].resample("17min").sum()

2000-10-01 23:31:00     9
2000-10-01 23:48:00    21
2000-10-02 00:05:00    54
2000-10-02 00:22:00    24
Freq: 17T, dtype: int32

In [41]:
pd.period_range(start="2014-01", freq="3M", periods=100)

PeriodIndex(['2014-01', '2014-04', '2014-07', '2014-10', '2015-01', '2015-04',
             '2015-07', '2015-10', '2016-01', '2016-04', '2016-07', '2016-10',
             '2017-01', '2017-04', '2017-07', '2017-10', '2018-01', '2018-04',
             '2018-07', '2018-10', '2019-01', '2019-04', '2019-07', '2019-10',
             '2020-01', '2020-04', '2020-07', '2020-10', '2021-01', '2021-04',
             '2021-07', '2021-10', '2022-01', '2022-04', '2022-07', '2022-10',
             '2023-01', '2023-04', '2023-07', '2023-10', '2024-01', '2024-04',
             '2024-07', '2024-10', '2025-01', '2025-04', '2025-07', '2025-10',
             '2026-01', '2026-04', '2026-07', '2026-10', '2027-01', '2027-04',
             '2027-07', '2027-10', '2028-01', '2028-04', '2028-07', '2028-10',
             '2029-01', '2029-04', '2029-07', '2029-10', '2030-01', '2030-04',
             '2030-07', '2030-10', '2031-01', '2031-04', '2031-07', '2031-10',
             '2032-01', '2032-04', '2032-07', '2032-10', '2033-01', '2033-04',
             '2033-07', '2033-10', '2034-01', '2034-04', '2034-07', '2034-10',
             '2035-01', '2035-04', '2035-07', '2035-10', '2036-01', '2036-04',
             '2036-07', '2036-10', '2037-01', '2037-04', '2037-07', '2037-10',
             '2038-01', '2038-04', '2038-07', '2038-10'],
            dtype='period[3M]', freq='3M')

In [43]:
pd.period_range(start=pd.Period("2017Q1", freq="Q"), end=pd.Period("2017Q3", freq="Q"), freq="M")

PeriodIndex(['2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08',
             '2017-09'],
            dtype='period[M]', freq='M')

In [44]:
pd.period_range(start=pd.Period("2017Q1", freq="Q"), end=pd.Period("2017Q4", freq="Q"), freq="M")

PeriodIndex(['2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08',
             '2017-09', '2017-10', '2017-11', '2017-12'],
            dtype='period[M]', freq='M')

In [46]:
prng = pd.period_range("1/1/2011", "1/1/2012", freq="M")
prng

PeriodIndex(['2011-01', '2011-02', '2011-03', '2011-04', '2011-05', '2011-06',
             '2011-07', '2011-08', '2011-09', '2011-10', '2011-11', '2011-12',
             '2012-01'],
            dtype='period[M]', freq='M')

In [48]:
ps = pd.Series(np.random.randn(len(prng)), prng)
ps

2011-01   -0.912604
2011-02   -0.761079
2011-03   -0.389532
2011-04   -0.692353
2011-05    0.868590
2011-06   -0.013618
2011-07   -0.443160
2011-08    1.059242
2011-09    0.735623
2011-10    0.627525
2011-11    1.156864
2011-12   -1.242053
2012-01    1.147216
Freq: M, dtype: float64

In [49]:
idx = pd.period_range("2014-07-01 09:00", periods=50, freq="H")
idx

PeriodIndex(['2014-07-01 09:00', '2014-07-01 10:00', '2014-07-01 11:00',
             '2014-07-01 12:00', '2014-07-01 13:00', '2014-07-01 14:00',
             '2014-07-01 15:00', '2014-07-01 16:00', '2014-07-01 17:00',
             '2014-07-01 18:00', '2014-07-01 19:00', '2014-07-01 20:00',
             '2014-07-01 21:00', '2014-07-01 22:00', '2014-07-01 23:00',
             '2014-07-02 00:00', '2014-07-02 01:00', '2014-07-02 02:00',
             '2014-07-02 03:00', '2014-07-02 04:00', '2014-07-02 05:00',
             '2014-07-02 06:00', '2014-07-02 07:00', '2014-07-02 08:00',
             '2014-07-02 09:00', '2014-07-02 10:00', '2014-07-02 11:00',
             '2014-07-02 12:00', '2014-07-02 13:00', '2014-07-02 14:00',
             '2014-07-02 15:00', '2014-07-02 16:00', '2014-07-02 17:00',
             '2014-07-02 18:00', '2014-07-02 19:00', '2014-07-02 20:00',
             '2014-07-02 21:00', '2014-07-02 22:00', '2014-07-02 23:00',
             '2014-07-03 00:00', '2014-07-03 01:00', '2014-07-03 02:00',
             '2014-07-03 03:00', '2014-07-03 04:00', '2014-07-03 05:00',
             '2014-07-03 06:00', '2014-07-03 07:00', '2014-07-03 08:00',
             '2014-07-03 09:00', '2014-07-03 10:00'],
            dtype='period[H]', freq='H')

In [50]:
idx + pd.offsets.Hour(2)

PeriodIndex(['2014-07-01 11:00', '2014-07-01 12:00', '2014-07-01 13:00',
             '2014-07-01 14:00', '2014-07-01 15:00', '2014-07-01 16:00',
             '2014-07-01 17:00', '2014-07-01 18:00', '2014-07-01 19:00',
             '2014-07-01 20:00', '2014-07-01 21:00', '2014-07-01 22:00',
             '2014-07-01 23:00', '2014-07-02 00:00', '2014-07-02 01:00',
             '2014-07-02 02:00', '2014-07-02 03:00', '2014-07-02 04:00',
             '2014-07-02 05:00', '2014-07-02 06:00', '2014-07-02 07:00',
             '2014-07-02 08:00', '2014-07-02 09:00', '2014-07-02 10:00',
             '2014-07-02 11:00', '2014-07-02 12:00', '2014-07-02 13:00',
             '2014-07-02 14:00', '2014-07-02 15:00', '2014-07-02 16:00',
             '2014-07-02 17:00', '2014-07-02 18:00', '2014-07-02 19:00',
             '2014-07-02 20:00', '2014-07-02 21:00', '2014-07-02 22:00',
             '2014-07-02 23:00', '2014-07-03 00:00', '2014-07-03 01:00',
             '2014-07-03 02:00', '2014-07-03 03:00', '2014-07-03 04:00',
             '2014-07-03 05:00', '2014-07-03 06:00', '2014-07-03 07:00',
             '2014-07-03 08:00', '2014-07-03 09:00', '2014-07-03 10:00',
             '2014-07-03 11:00', '2014-07-03 12:00'],
            dtype='period[H]', freq='H')

In [51]:
idx = pd.period_range("2014-07", periods=10, freq="M")
idx

PeriodIndex(['2014-07', '2014-08', '2014-09', '2014-10', '2014-11', '2014-12',
             '2015-01', '2015-02', '2015-03', '2015-04'],
            dtype='period[M]', freq='M')

In [52]:
idx + pd.offsets.MonthEnd(3)

PeriodIndex(['2014-10', '2014-11', '2014-12', '2015-01', '2015-02', '2015-03',
             '2015-04', '2015-05', '2015-06', '2015-07'],
            dtype='period[M]', freq='M')

In [53]:
idx + pd.offsets.MonthEnd(10)

PeriodIndex(['2015-05', '2015-06', '2015-07', '2015-08', '2015-09', '2015-10',
             '2015-11', '2015-12', '2016-01', '2016-02'],
            dtype='period[M]', freq='M')

In [54]:
#values, columns and index. 
dfp = pd.DataFrame(np.random.randn(600, 1),columns=["A"],index=pd.period_range("2013-01-01 9:00", periods=600, freq="T"),)
dfp

                         A
2013-01-01 09:00 -0.334119
2013-01-01 09:01  0.515752
2013-01-01 09:02 -0.076547
2013-01-01 09:03  1.152818
2013-01-01 09:04 -0.677715
...                    ...
2013-01-01 18:55  0.511928
2013-01-01 18:56 -0.727056
2013-01-01 18:57  0.004074
2013-01-01 18:58 -0.736212
2013-01-01 18:59  0.607815

[600 rows x 1 columns]

In [55]:
dfp1 = pd.DataFrame(np.random.randn(600, 3),columns=["A","B","C"],index=pd.period_range("2013-01-01 9:00", periods=600, freq="T"),)
dfp1

                         A         B         C
2013-01-01 09:00 -0.691169  0.447829 -2.268986
2013-01-01 09:01 -1.468877 -2.309865  0.087227
2013-01-01 09:02  1.360989  0.072262  0.305394
2013-01-01 09:03  0.274347  0.278051  0.030526
2013-01-01 09:04  1.364032 -1.580589  0.177237
...                    ...       ...       ...
2013-01-01 18:55  0.290853 -0.703035 -0.562111
2013-01-01 18:56  0.458070 -0.310282  0.193758
2013-01-01 18:57  0.605000  1.597051 -0.674168
2013-01-01 18:58 -0.963244 -0.283838 -0.453185
2013-01-01 18:59  1.052922 -1.304782 -0.128513

[600 rows x 3 columns]

In [58]:
dfp.loc["2013-01-01 9H"]

A   -0.334119
Name: 2013-01-01 09:00, dtype: float64

In [59]:
dfp["2013-01-01 10H":"2013-01-01 11H"]

                         A
2013-01-01 10:00  2.599164
2013-01-01 10:01  1.977142
2013-01-01 10:02  2.594015
2013-01-01 10:03 -1.162496
2013-01-01 10:04 -0.192081
...                    ...
2013-01-01 11:55 -0.732379
2013-01-01 11:56 -0.608731
2013-01-01 11:57 -1.117454
2013-01-01 11:58  1.056143
2013-01-01 11:59  0.473766

[120 rows x 1 columns]

In [60]:
rng = pd.date_range("1/1/2012", periods=5, freq="M")
rng

DatetimeIndex(['2012-01-31', '2012-02-29', '2012-03-31', '2012-04-30',
               '2012-05-31'],
              dtype='datetime64[ns]', freq='M')

In [63]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-01-31   -0.486843
2012-02-29   -0.647678
2012-03-31    0.276103
2012-04-30    1.526295
2012-05-31   -0.322653
Freq: M, dtype: float64

In [65]:
prng = pd.period_range("1990Q1", "2000Q4", freq="Q")
prng

PeriodIndex(['1990Q1', '1990Q2', '1990Q3', '1990Q4', '1991Q1', '1991Q2',
             '1991Q3', '1991Q4', '1992Q1', '1992Q2', '1992Q3', '1992Q4',
             '1993Q1', '1993Q2', '1993Q3', '1993Q4', '1994Q1', '1994Q2',
             '1994Q3', '1994Q4', '1995Q1', '1995Q2', '1995Q3', '1995Q4',
             '1996Q1', '1996Q2', '1996Q3', '1996Q4', '1997Q1', '1997Q2',
             '1997Q3', '1997Q4', '1998Q1', '1998Q2', '1998Q3', '1998Q4',
             '1999Q1', '1999Q2', '1999Q3', '1999Q4', '2000Q1', '2000Q2',
             '2000Q3', '2000Q4'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [66]:
List = [12343,394949,494959030,4030303,303949,59593,4949595,3030494]

In [67]:
def conv(x):
    return x*3

In [69]:
output_list = list(map(conv, List))

In [70]:
output_list

[37029, 1184847, 1484877090, 12090909, 911847, 178779, 14848785, 9091482]

In [71]:
rng = pd.date_range("3/6/2012 00:00", periods=15, freq="D")
rng

DatetimeIndex(['2012-03-06', '2012-03-07', '2012-03-08', '2012-03-09',
               '2012-03-10', '2012-03-11', '2012-03-12', '2012-03-13',
               '2012-03-14', '2012-03-15', '2012-03-16', '2012-03-17',
               '2012-03-18', '2012-03-19', '2012-03-20'],
              dtype='datetime64[ns]', freq='D')

In [72]:
rng_pytz = pd.date_range("3/6/2012 00:00", periods=3, freq="D", tz="Europe/London")
rng_pytz

DatetimeIndex(['2012-03-06 00:00:00+00:00', '2012-03-07 00:00:00+00:00',
               '2012-03-08 00:00:00+00:00'],
              dtype='datetime64[ns, Europe/London]', freq='D')

In [73]:
ts_utc = pd.Series(range(3), pd.date_range("20130101", periods=3, tz="UTC"))
ts_utc

2013-01-01 00:00:00+00:00    0
2013-01-02 00:00:00+00:00    1
2013-01-03 00:00:00+00:00    2
Freq: D, dtype: int64

In [75]:
didx = pd.date_range(start="2014-08-01 09:00", freq="H", periods=8, tz="US/Eastern")
didx

DatetimeIndex(['2014-08-01 09:00:00-04:00', '2014-08-01 10:00:00-04:00',
               '2014-08-01 11:00:00-04:00', '2014-08-01 12:00:00-04:00',
               '2014-08-01 13:00:00-04:00', '2014-08-01 14:00:00-04:00',
               '2014-08-01 15:00:00-04:00', '2014-08-01 16:00:00-04:00'],
              dtype='datetime64[ns, US/Eastern]', freq='H')

In [77]:
dti = pd.date_range(start="2015-03-29 02:00:00", periods=13, freq="H")
dti

DatetimeIndex(['2015-03-29 02:00:00', '2015-03-29 03:00:00',
               '2015-03-29 04:00:00', '2015-03-29 05:00:00',
               '2015-03-29 06:00:00', '2015-03-29 07:00:00',
               '2015-03-29 08:00:00', '2015-03-29 09:00:00',
               '2015-03-29 10:00:00', '2015-03-29 11:00:00',
               '2015-03-29 12:00:00', '2015-03-29 13:00:00',
               '2015-03-29 14:00:00'],
              dtype='datetime64[ns]', freq='H')

In [79]:
dti1 = pd.date_range(start="2015-03-29 02:00:00", periods=13, freq="30min")
dti1

DatetimeIndex(['2015-03-29 02:00:00', '2015-03-29 02:30:00',
               '2015-03-29 03:00:00', '2015-03-29 03:30:00',
               '2015-03-29 04:00:00', '2015-03-29 04:30:00',
               '2015-03-29 05:00:00', '2015-03-29 05:30:00',
               '2015-03-29 06:00:00', '2015-03-29 06:30:00',
               '2015-03-29 07:00:00', '2015-03-29 07:30:00',
               '2015-03-29 08:00:00'],
              dtype='datetime64[ns]', freq='30T')

In [84]:
dti1 + pd.Timedelta(1, unit="H")

DatetimeIndex(['2015-03-29 03:00:00', '2015-03-29 03:30:00',
               '2015-03-29 04:00:00', '2015-03-29 04:30:00',
               '2015-03-29 05:00:00', '2015-03-29 05:30:00',
               '2015-03-29 06:00:00', '2015-03-29 06:30:00',
               '2015-03-29 07:00:00', '2015-03-29 07:30:00',
               '2015-03-29 08:00:00', '2015-03-29 08:30:00',
               '2015-03-29 09:00:00'],
              dtype='datetime64[ns]', freq='30T')

In [80]:
dti1 - dti

TimedeltaIndex(['0 days', '0 days', '0 days', '0 days', '0 days', '0 days',
                '0 days', '0 days', '0 days', '0 days', '0 days', '0 days',
                '0 days'],
               dtype='timedelta64[ns]', freq=None)

In [ ]:
dti.tz_localize("Europe/Warsaw", nonexistent=pd.Timedelta(1, unit="H"))

In [81]:
time_delta = (dti1 - dti)
total_seconds = time_delta.total_seconds()
minutes = total_seconds/60

In [82]:
minutes

Float64Index([0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], dtype='float64')

In [85]:
s_naive = pd.Series(pd.date_range("20130101", periods=3))
s_naive

0   2013-01-01
1   2013-01-02
2   2013-01-03
dtype: datetime64[ns]

In [88]:
import pandas as pd

In [89]:
s_aware = pd.Series(pd.date_range("20130101", periods=3, tz="US/Eastern",freq="30min"))
s_aware

0   2013-01-01 00:00:00-05:00
1   2013-01-01 00:30:00-05:00
2   2013-01-01 01:00:00-05:00
dtype: datetime64[ns, US/Eastern]

In [90]:
s_aware1 = pd.Series(pd.date_range("20130101", periods=8, tz="US/Eastern",freq="1H"))
s_aware1

0   2013-01-01 00:00:00-05:00
1   2013-01-01 01:00:00-05:00
2   2013-01-01 02:00:00-05:00
3   2013-01-01 03:00:00-05:00
4   2013-01-01 04:00:00-05:00
5   2013-01-01 05:00:00-05:00
6   2013-01-01 06:00:00-05:00
7   2013-01-01 07:00:00-05:00
dtype: datetime64[ns, US/Eastern]

In [94]:
january = pd.Series(pd.date_range("20130101", periods=8))
january

0   2013-01-01
1   2013-01-02
2   2013-01-03
3   2013-01-04
4   2013-01-05
5   2013-01-06
6   2013-01-07
7   2013-01-08
dtype: datetime64[ns]

In [95]:
december = pd.Series(pd.date_range("20121201", periods=8))
december

0   2012-12-01
1   2012-12-02
2   2012-12-03
3   2012-12-04
4   2012-12-05
5   2012-12-06
6   2012-12-07
7   2012-12-08
dtype: datetime64[ns]

In [96]:
td = january - december
td

0   31 days
1   31 days
2   31 days
3   31 days
4   31 days
5   31 days
6   31 days
7   31 days
dtype: timedelta64[ns]

In [98]:
import datetime

In [99]:
td[2] + datetime.timedelta(minutes=5, seconds=3)

Timedelta('31 days 00:05:03')

In [100]:
td * pd.Series([1, 2, 3, 4,5,6,7,8])

0    31 days
1    62 days
2    93 days
3   124 days
4   155 days
5   186 days
6   217 days
7   248 days
dtype: timedelta64[ns]

In [102]:
#31/3.4
td // pd.Timedelta(days=3, hours=4)

0    9
1    9
2    9
3    9
4    9
5    9
6    9
7    9
dtype: int64

In [103]:
td.dt.components

   days  hours  minutes  seconds  milliseconds  microseconds  nanoseconds
0    31      0        0        0             0             0            0
1    31      0        0        0             0             0            0
2    31      0        0        0             0             0            0
3    31      0        0        0             0             0            0
4    31      0        0        0             0             0            0
5    31      0        0        0             0             0            0
6    31      0        0        0             0             0            0
7    31      0        0        0             0             0            0

In [106]:
s = pd.Timedelta("P2DT3H30M0.123S")
s

Timedelta('2 days 03:30:00.123000')

In [109]:
datetime.timedelta(days=2, seconds=2)

datetime.timedelta(days=2, seconds=2)

In [110]:
datetime.timedelta(days=2,hours=3,minutes=4,seconds=2)

datetime.timedelta(days=2, seconds=11042)

In [111]:
pd.timedelta_range(start="1 days", end="2 days", freq="30T")

TimedeltaIndex(['1 days 00:00:00', '1 days 00:30:00', '1 days 01:00:00',
                '1 days 01:30:00', '1 days 02:00:00', '1 days 02:30:00',
                '1 days 03:00:00', '1 days 03:30:00', '1 days 04:00:00',
                '1 days 04:30:00', '1 days 05:00:00', '1 days 05:30:00',
                '1 days 06:00:00', '1 days 06:30:00', '1 days 07:00:00',
                '1 days 07:30:00', '1 days 08:00:00', '1 days 08:30:00',
                '1 days 09:00:00', '1 days 09:30:00', '1 days 10:00:00',
                '1 days 10:30:00', '1 days 11:00:00', '1 days 11:30:00',
                '1 days 12:00:00', '1 days 12:30:00', '1 days 13:00:00',
                '1 days 13:30:00', '1 days 14:00:00', '1 days 14:30:00',
                '1 days 15:00:00', '1 days 15:30:00', '1 days 16:00:00',
                '1 days 16:30:00', '1 days 17:00:00', '1 days 17:30:00',
                '1 days 18:00:00', '1 days 18:30:00', '1 days 19:00:00',
                '1 days 19:30:00', '1 days 20:00:00', '1 days 20:30:00',
                '1 days 21:00:00', '1 days 21:30:00', '1 days 22:00:00',
                '1 days 22:30:00', '1 days 23:00:00', '1 days 23:30:00',
                '2 days 00:00:00'],
               dtype='timedelta64[ns]', freq='30T')

In [112]:
pd.timedelta_range(start="1 days", periods=5, freq="2D5H")

TimedeltaIndex(['1 days 00:00:00', '3 days 05:00:00', '5 days 10:00:00',
                '7 days 15:00:00', '9 days 20:00:00'],
               dtype='timedelta64[ns]', freq='53H')

In [114]:
pd.timedelta_range(start="1 days", periods=10, freq="2D10Min")

TimedeltaIndex([ '1 days 00:00:00',  '3 days 00:10:00',  '5 days 00:20:00',
                 '7 days 00:30:00',  '9 days 00:40:00', '11 days 00:50:00',
                '13 days 01:00:00', '15 days 01:10:00', '17 days 01:20:00',
                '19 days 01:30:00'],
               dtype='timedelta64[ns]', freq='2890T')

In [115]:
pd.timedelta_range("0 days", "4 days", periods=5)

TimedeltaIndex(['0 days', '1 days', '2 days', '3 days', '4 days'], dtype='timedelta64[ns]', freq=None)

In [116]:
pd.timedelta_range("0 days", "4 days", periods=10)

TimedeltaIndex(['0 days 00:00:00', '0 days 10:40:00', '0 days 21:20:00',
                '1 days 08:00:00', '1 days 18:40:00', '2 days 05:20:00',
                '2 days 16:00:00', '3 days 02:40:00', '3 days 13:20:00',
                '4 days 00:00:00'],
               dtype='timedelta64[ns]', freq=None)

In [118]:
pd.timedelta_range("0 days", "7 days", periods=15)

TimedeltaIndex(['0 days 00:00:00', '0 days 12:00:00', '1 days 00:00:00',
                '1 days 12:00:00', '2 days 00:00:00', '2 days 12:00:00',
                '3 days 00:00:00', '3 days 12:00:00', '4 days 00:00:00',
                '4 days 12:00:00', '5 days 00:00:00', '5 days 12:00:00',
                '6 days 00:00:00', '6 days 12:00:00', '7 days 00:00:00'],
               dtype='timedelta64[ns]', freq=None)

In [119]:
s = pd.Series(np.arange(100), index=pd.timedelta_range("1 days", periods=100, freq="h"),)
s

1 days 00:00:00     0
1 days 01:00:00     1
1 days 02:00:00     2
1 days 03:00:00     3
1 days 04:00:00     4
                   ..
4 days 23:00:00    95
5 days 00:00:00    96
5 days 01:00:00    97
5 days 02:00:00    98
5 days 03:00:00    99
Freq: H, Length: 100, dtype: int32

In [120]:
s["1 day":"2 day"]

1 days 00:00:00     0
1 days 01:00:00     1
1 days 02:00:00     2
1 days 03:00:00     3
1 days 04:00:00     4
1 days 05:00:00     5
1 days 06:00:00     6
1 days 07:00:00     7
1 days 08:00:00     8
1 days 09:00:00     9
1 days 10:00:00    10
1 days 11:00:00    11
1 days 12:00:00    12
1 days 13:00:00    13
1 days 14:00:00    14
1 days 15:00:00    15
1 days 16:00:00    16
1 days 17:00:00    17
1 days 18:00:00    18
1 days 19:00:00    19
1 days 20:00:00    20
1 days 21:00:00    21
1 days 22:00:00    22
1 days 23:00:00    23
2 days 00:00:00    24
2 days 01:00:00    25
2 days 02:00:00    26
2 days 03:00:00    27
2 days 04:00:00    28
2 days 05:00:00    29
2 days 06:00:00    30
2 days 07:00:00    31
2 days 08:00:00    32
2 days 09:00:00    33
2 days 10:00:00    34
2 days 11:00:00    35
2 days 12:00:00    36
2 days 13:00:00    37
2 days 14:00:00    38
2 days 15:00:00    39
2 days 16:00:00    40
2 days 17:00:00    41
2 days 18:00:00    42
2 days 19:00:00    43
2 days 20:00:00    44
2 days 21:00:00    45
2 days 22:00:00    46
2 days 23:00:00    47
Freq: H, dtype: int32

In [121]:
tdi = pd.TimedeltaIndex(["1 days", "2 days","3 days","4 days"])
tdi

TimedeltaIndex(['1 days', '2 days', '3 days', '4 days'], dtype='timedelta64[ns]', freq=None)

In [122]:
tdi.to_list()

[Timedelta('1 days 00:00:00'),
 Timedelta('2 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('4 days 00:00:00')]

In [123]:
dti = pd.date_range("20130101", periods=4)
dti

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04'], dtype='datetime64[ns]', freq='D')

In [124]:
(dti + tdi).to_list()

[Timestamp('2013-01-02 00:00:00', freq='2D'),
 Timestamp('2013-01-04 00:00:00', freq='2D'),
 Timestamp('2013-01-06 00:00:00', freq='2D'),
 Timestamp('2013-01-08 00:00:00', freq='2D')]

In [126]:
tdi + pd.Timedelta("10 days")

TimedeltaIndex(['11 days', '12 days', '13 days', '14 days'], dtype='timedelta64[ns]', freq='D')

In [127]:
tdi / 2

TimedeltaIndex(['0 days 12:00:00', '1 days 00:00:00', '1 days 12:00:00',
                '2 days 00:00:00'],
               dtype='timedelta64[ns]', freq=None)

In [128]:
tdi / tdi[0]

Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64')

In [129]:
tdi / tdi[2]

Float64Index([0.3333333333333333, 0.6666666666666666, 1.0, 1.3333333333333333], dtype='float64')

In [130]:
s

1 days 00:00:00     0
1 days 01:00:00     1
1 days 02:00:00     2
1 days 03:00:00     3
1 days 04:00:00     4
                   ..
4 days 23:00:00    95
5 days 00:00:00    96
5 days 01:00:00    97
5 days 02:00:00    98
5 days 03:00:00    99
Freq: H, Length: 100, dtype: int32

In [131]:
s.resample("D").mean()

1 days    11.5
2 days    35.5
3 days    59.5
4 days    83.5
5 days    97.5
Freq: D, dtype: float64