In [1]:
import os
import string

# Counter is used for the bonus solution
from collections import Counter

In [2]:
resume_path = 'C:/Users/User/bootcamp_files/Stu_Resume_Analysis__resume.md'

In [3]:
# Skills to match
REQUIRED_SKILLS = {"excel", "python", "mysql", "statistics"}
DESIRED_SKILLS = {"r", "git", "html", "css", "leaflet"}

In [4]:
def load_file(filepath):
    """Helper function to read a file and return the data."""
    with open(filepath, "r") as resume_file_handler:
        return resume_file_handler.read().lower().split()

In [6]:
# Grab the text for a Resume
word_list = load_file(resume_path)
word_list

['#',
 'frank',
 'n.',
 'stein',
 '##',
 'education',
 '*',
 'data',
 'analytics',
 'and',
 'visualization',
 'boot',
 'camp',
 'graduate',
 '##',
 'experience',
 '*',
 'creating',
 'pivot',
 'tables',
 'and',
 'vba',
 'scripts',
 'in',
 'excel.',
 '*',
 'modeling',
 'and',
 'forecasting',
 'data',
 'using',
 'basic',
 'statistics',
 '*',
 'writing',
 'python',
 'scripts',
 'to',
 'analyze',
 'data',
 'sets',
 'from',
 'files',
 'and',
 'apis.',
 '*',
 'social',
 'media',
 'mining',
 'using',
 'python',
 '*',
 'working',
 'with',
 'mysql',
 'and',
 'mongodb',
 'databases',
 '*',
 'developing',
 'front-end',
 'web',
 'visualizations',
 'using',
 'html,',
 'css,',
 'bootstrap,',
 'd3,',
 'and',
 'leaflet.js',
 '*',
 'using',
 'the',
 'tableau',
 'business',
 'intelligence',
 'software',
 '*',
 'performing',
 'big',
 'data',
 'analytics',
 'with',
 'hadoop',
 '*',
 'working',
 'with',
 'machine',
 'learning',
 'algorithms',
 '##',
 'skills',
 '*',
 'microsoft',
 'excel,',
 'python,',
 'javascript,',
 'html/css,',
 'api',
 'interactions,',
 'social',
 'media',
 'mining,',
 'sql,',
 'hadoop,',
 'tableau,',
 'advanced',
 'statistics,',
 'machine',
 'learning,',
 'r,',
 'git/github',
 '##',
 'interests',
 '*',
 'contributing',
 'to',
 'open-source',
 'software',
 '*',
 'data',
 'analytics',
 'with',
 'python',
 'and',
 'pandas',
 '*',
 'designing',
 'data',
 'visualization',
 'web',
 'apps',
 'with',
 'html,',
 'css,',
 'javascript,',
 'and',
 'd3',
 '*',
 'working',
 'with',
 'big',
 'data',
 'in',
 'the',
 'cloud',
 'using',
 'aws']

In [7]:
# Create a set of unique words from the resume
resume = set()

In [10]:
# Remove trailing punctuation from words
for token in word_list:
    resume.add(token.split(',')[0].split('.')[0])

In [11]:
resume

{'#',
 '##',
 '*',
 'advanced',
 'algorithms',
 'analytics',
 'analyze',
 'and',
 'api',
 'apis',
 'apps',
 'aws',
 'basic',
 'big',
 'boot',
 'bootstrap',
 'business',
 'camp',
 'cloud',
 'contributing',
 'creating',
 'css',
 'd3',
 'data',
 'databases',
 'designing',
 'developing',
 'education',
 'excel',
 'experience',
 'files',
 'forecasting',
 'frank',
 'from',
 'front-end',
 'git/github',
 'graduate',
 'hadoop',
 'html',
 'html/css',
 'in',
 'intelligence',
 'interactions',
 'interests',
 'javascript',
 'leaflet',
 'learning',
 'machine',
 'media',
 'microsoft',
 'mining',
 'modeling',
 'mongodb',
 'mysql',
 'n',
 'open-source',
 'pandas',
 'performing',
 'pivot',
 'python',
 'r',
 'scripts',
 'sets',
 'skills',
 'social',
 'software',
 'sql',
 'statistics',
 'stein',
 'tableau',
 'tables',
 'the',
 'to',
 'using',
 'vba',
 'visualization',
 'visualizations',
 'web',
 'with',
 'working',
 'writing'}

In [12]:
# Remove Punctuation that were read as whole words
punctuation = set(string.punctuation)
resume = resume - punctuation
print(resume)

{'developing', 'machine', 'in', 'boot', 'experience', 'contributing', 'aws', 'using', 'creating', 'intelligence', 'databases', 'bootstrap', 'interests', 'visualization', 'tableau', 'graduate', 'microsoft', 'pivot', 'open-source', 'cloud', 'media', 'writing', 'html/css', 'social', 'modeling', 'analytics', 'api', 'algorithms', 'excel', 'interactions', 'visualizations', 'front-end', 'from', 'camp', 'mongodb', 'git/github', 'statistics', 'big', '##', 'vba', 'n', 'designing', 'basic', 'working', 'web', 'software', 'education', 'learning', 'the', 'r', 'to', 'tables', 'advanced', 'analyze', 'scripts', 'files', 'skills', 'data', 'apis', 'leaflet', 'pandas', 'mining', 'forecasting', 'd3', 'mysql', 'apps', 'performing', 'python', 'html', 'and', 'css', 'hadoop', 'frank', 'stein', 'sets', 'business', 'with', 'sql', 'javascript'}

In [13]:
# Calculate the Required Skills Match using Set Intersection
print(resume & REQUIRED_SKILLS)

# Calculate the Desired Skills Match using Set Intersection
print(resume & DESIRED_SKILLS)

{'excel', 'statistics', 'python', 'mysql'}
{'leaflet', 'r', 'html', 'css'}

In [14]:
word_count = {}.fromkeys(word_list, 0)

In [15]:
# Loop through the word list and count each word.
for word in word_list:
    word_count[word] += 1
print(word_count)

{'#': 1, 'frank': 1, 'n.': 1, 'stein': 1, '##': 4, 'education': 1, '*': 15, 'data': 7, 'analytics': 3, 'and': 8, 'visualization': 2, 'boot': 1, 'camp': 1, 'graduate': 1, 'experience': 1, 'creating': 1, 'pivot': 1, 'tables': 1, 'vba': 1, 'scripts': 2, 'in': 2, 'excel.': 1, 'modeling': 1, 'forecasting': 1, 'using': 5, 'basic': 1, 'statistics': 1, 'writing': 1, 'python': 3, 'to': 2, 'analyze': 1, 'sets': 1, 'from': 1, 'files': 1, 'apis.': 1, 'social': 2, 'media': 2, 'mining': 1, 'working': 3, 'with': 6, 'mysql': 1, 'mongodb': 1, 'databases': 1, 'developing': 1, 'front-end': 1, 'web': 2, 'visualizations': 1, 'html,': 2, 'css,': 2, 'bootstrap,': 1, 'd3,': 1, 'leaflet.js': 1, 'the': 2, 'tableau': 1, 'business': 1, 'intelligence': 1, 'software': 2, 'performing': 1, 'big': 2, 'hadoop': 1, 'machine': 2, 'learning': 1, 'algorithms': 1, 'skills': 1, 'microsoft': 1, 'excel,': 1, 'python,': 1, 'javascript,': 2, 'html/css,': 1, 'api': 1, 'interactions,': 1, 'mining,': 1, 'sql,': 1, 'hadoop,': 1, 'tableau,': 1, 'advanced': 1, 'statistics,': 1, 'learning,': 1, 'r,': 1, 'git/github': 1, 'interests': 1, 'contributing': 1, 'open-source': 1, 'pandas': 1, 'designing': 1, 'apps': 1, 'd3': 1, 'cloud': 1, 'aws': 1}

In [16]:
# Bonus using collections.Counter
word_counter = Counter(word_list)
print(word_counter)

Counter({'*': 15, 'and': 8, 'data': 7, 'with': 6, 'using': 5, '##': 4, 'analytics': 3, 'python': 3, 'working': 3, 'visualization': 2, 'scripts': 2, 'in': 2, 'to': 2, 'social': 2, 'media': 2, 'web': 2, 'html,': 2, 'css,': 2, 'the': 2, 'software': 2, 'big': 2, 'machine': 2, 'javascript,': 2, '#': 1, 'frank': 1, 'n.': 1, 'stein': 1, 'education': 1, 'boot': 1, 'camp': 1, 'graduate': 1, 'experience': 1, 'creating': 1, 'pivot': 1, 'tables': 1, 'vba': 1, 'excel.': 1, 'modeling': 1, 'forecasting': 1, 'basic': 1, 'statistics': 1, 'writing': 1, 'analyze': 1, 'sets': 1, 'from': 1, 'files': 1, 'apis.': 1, 'mining': 1, 'mysql': 1, 'mongodb': 1, 'databases': 1, 'developing': 1, 'front-end': 1, 'visualizations': 1, 'bootstrap,': 1, 'd3,': 1, 'leaflet.js': 1, 'tableau': 1, 'business': 1, 'intelligence': 1, 'performing': 1, 'hadoop': 1, 'learning': 1, 'algorithms': 1, 'skills': 1, 'microsoft': 1, 'excel,': 1, 'python,': 1, 'html/css,': 1, 'api': 1, 'interactions,': 1, 'mining,': 1, 'sql,': 1, 'hadoop,': 1, 'tableau,': 1, 'advanced': 1, 'statistics,': 1, 'learning,': 1, 'r,': 1, 'git/github': 1, 'interests': 1, 'contributing': 1, 'open-source': 1, 'pandas': 1, 'designing': 1, 'apps': 1, 'd3': 1, 'cloud': 1, 'aws': 1})

In [18]:
#both methods give the same result.
print(word_count == word_counter)

True

In [19]:
# Clean Punctuation
_word_count = [word for word in word_count if word not in string.punctuation]

In [21]:
# Clean Stop Words
stop_words = ["and", "with", "using", "##", "working", "in", "to"]
_word_count = [word for word in _word_count if word not in stop_words]
_word_count

['frank',
 'n.',
 'stein',
 'education',
 'data',
 'analytics',
 'visualization',
 'boot',
 'camp',
 'graduate',
 'experience',
 'creating',
 'pivot',
 'tables',
 'vba',
 'scripts',
 'excel.',
 'modeling',
 'forecasting',
 'basic',
 'statistics',
 'writing',
 'python',
 'analyze',
 'sets',
 'from',
 'files',
 'apis.',
 'social',
 'media',
 'mining',
 'mysql',
 'mongodb',
 'databases',
 'developing',
 'front-end',
 'web',
 'visualizations',
 'html,',
 'css,',
 'bootstrap,',
 'd3,',
 'leaflet.js',
 'the',
 'tableau',
 'business',
 'intelligence',
 'software',
 'performing',
 'big',
 'hadoop',
 'machine',
 'learning',
 'algorithms',
 'skills',
 'microsoft',
 'excel,',
 'python,',
 'javascript,',
 'html/css,',
 'api',
 'interactions,',
 'mining,',
 'sql,',
 'hadoop,',
 'tableau,',
 'advanced',
 'statistics,',
 'learning,',
 'r,',
 'git/github',
 'interests',
 'contributing',
 'open-source',
 'pandas',
 'designing',
 'apps',
 'd3',
 'cloud',
 'aws']

In [26]:
#:20 gives space between the count after.
for word in sorted(_word_count, key=word_count.get, reverse=True)[:10]:
    print(f"Token: {word:20} Count: {word_count[word]}")

Token: data                 Count: 7
Token: analytics            Count: 3
Token: python               Count: 3
Token: visualization        Count: 2
Token: scripts              Count: 2
Token: social               Count: 2
Token: media                Count: 2
Token: web                  Count: 2
Token: html,                Count: 2
Token: css,                 Count: 2

In [27]:
# Use import to access code from other modules.
import string
import random

In [28]:
# Use default parameters in our function declaration to allow us to change the length and characters
def generate_uuid(length=4, characters=string.ascii_letters + string.digits):
    """Generate a string of random characters.

    Args:
        length (int, optional): The length of the UUID to generate.
        characters (string, optional): The character set used to build the UUID.

    Returns:
        string: A string representation of the generated UUID.
    """
    # Loop through a range defined by the length size
    # In each loop, make a random choice from our characters and append that to the uuid list
    uuid = []
    for _ in range(length):
        uuid.append(random.choice(characters))
    # Use join to convert the uuid list to a string
    return ''.join(uuid)

In [29]:
def test():
    """Run test code."""

    # Generate a uuid using default values
    uuid = generate_uuid()
    print("UUID using default values: {}".format(uuid))

    # Generate a uuid of length 16 using the default character set
    uuid16 = generate_uuid(length=16)
    print("UUID of length 16: {}".format(uuid16))

    # Generate a uuid of random numbers using the default length
    uuid_random_numbers = generate_uuid(characters=string.digits)
    print("UUID of only numbers: {}".format(uuid_random_numbers))

    # Generate a uuid consisting of only letters
    uuid_random_letters = generate_uuid(characters=string.ascii_letters)
    print("UUID of only letters: {}".format(uuid_random_letters))

    # Generate a uuid of length 8 that includes punctuation in the character set
    uuid_with_punctuation = generate_uuid(
        length=8,
        characters=string.ascii_letters + string.digits + string.punctuation)
    print("UUID with punctuation: {}".format(uuid_with_punctuation))

In [30]:
if __name__ == '__main__':
    test()

UUID using default values: SBcL
UUID of length 16: RRD8K1gB4yHItkOe
UUID of only numbers: 0969
UUID of only letters: rElr
UUID with punctuation: $I&QF%'<

In [31]:
import os
import csv

In [32]:
filepath = 'C:/Users/User/bootcamp_files/employeesSSN.csv'

In [33]:
new_employee_data = []

In [34]:
# Read data into dictionary and create a new email field
with open(filepath) as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
      print(row)

OrderedDict([('first_name', 'Tina'), ('last_name', 'Fleming'), ('ssn', '619-16-7988')])
OrderedDict([('first_name', 'Erica'), ('last_name', 'Shah'), ('ssn', '164-51-7615')])
OrderedDict([('first_name', 'Paula'), ('last_name', 'Ortiz'), ('ssn', '051-83-3290')])
OrderedDict([('first_name', 'James'), ('last_name', 'Hendricks'), ('ssn', '776-83-2884')])
OrderedDict([('first_name', 'Lauren'), ('last_name', 'King'), ('ssn', '197-94-2398')])
OrderedDict([('first_name', 'David'), ('last_name', 'Cowan'), ('ssn', '252-92-1832')])
OrderedDict([('first_name', 'Andrew'), ('last_name', 'Burton'), ('ssn', '296-23-6842')])
OrderedDict([('first_name', 'Julian'), ('last_name', 'Baker'), ('ssn', '337-40-7543')])
OrderedDict([('first_name', 'Scott'), ('last_name', 'Castro'), ('ssn', '399-46-5595')])
OrderedDict([('first_name', 'Billy'), ('last_name', 'Rodriguez'), ('ssn', '014-18-2503')])
OrderedDict([('first_name', 'Darrell'), ('last_name', 'Leblanc'), ('ssn', '005-82-7918')])
OrderedDict([('first_name', 'David'), ('last_name', 'Hammond'), ('ssn', '561-17-6312')])

In [35]:
# Read data into dictionary and create a new email field
with open(filepath) as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        first_name = row["first_name"]
        last_name = row["last_name"]
        email = f"{first_name}.{last_name}@example.com"
        new_employee_data.append(
            {
                "first_name": row["first_name"],
                "last_name": row["last_name"],
                "ssn": row["ssn"],
                "email": email
            }
        )

In [36]:
new_employee_data

[{'first_name': 'Tina',
  'last_name': 'Fleming',
  'ssn': '619-16-7988',
  'email': 'Tina.Fleming@example.com'},
 {'first_name': 'Erica',
  'last_name': 'Shah',
  'ssn': '164-51-7615',
  'email': 'Erica.Shah@example.com'},
 {'first_name': 'Paula',
  'last_name': 'Ortiz',
  'ssn': '051-83-3290',
  'email': 'Paula.Ortiz@example.com'},
 {'first_name': 'James',
  'last_name': 'Hendricks',
  'ssn': '776-83-2884',
  'email': 'James.Hendricks@example.com'},
 {'first_name': 'Lauren',
  'last_name': 'King',
  'ssn': '197-94-2398',
  'email': 'Lauren.King@example.com'},
 {'first_name': 'David',
  'last_name': 'Cowan',
  'ssn': '252-92-1832',
  'email': 'David.Cowan@example.com'},
 {'first_name': 'Andrew',
  'last_name': 'Burton',
  'ssn': '296-23-6842',
  'email': 'Andrew.Burton@example.com'},
 {'first_name': 'Julian',
  'last_name': 'Baker',
  'ssn': '337-40-7543',
  'email': 'Julian.Baker@example.com'},
 {'first_name': 'Scott',
  'last_name': 'Castro',
  'ssn': '399-46-5595',
  'email': 'Scott.Castro@example.com'},
 {'first_name': 'Billy',
  'last_name': 'Rodriguez',
  'ssn': '014-18-2503',
  'email': 'Billy.Rodriguez@example.com'},
 {'first_name': 'Darrell',
  'last_name': 'Leblanc',
  'ssn': '005-82-7918',
  'email': 'Darrell.Leblanc@example.com'},
 {'first_name': 'David',
  'last_name': 'Hammond',
  'ssn': '561-17-6312',
  'email': 'David.Hammond@example.com'}]

In [44]:
filepath = 'C:/Users/User/bootcamp_files/employeesSSN-2.csv'

In [45]:
with open(filepath, "w") as csvfile:
    fieldnames = ["last_name", "first_name", "ssn", "email"]
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writeheader()
    writer.writerows(new_employee_data)

In [46]:
filepath2 = 'C:/Users/User/bootcamp_files/employeesSSN-2.csv'

In [50]:
# Open and read csv
with open(filepath2, newline="") as csvfile:
    csvreader1 = csv.reader(csvfile, delimiter=",")

    # Read the header row first (skip this part if there is no header)
    csv_header = next(csvfile)
    print(f"Header: {csv_header}")
    list3 = []
    # Read through each row of data after the header
    for row in csvreader1:
        list3.append(row)

Header: last_name,first_name,ssn,email

In [59]:
list3

[['', '', '', ''],
 ['Fleming', 'Tina', '619-16-7988', 'Tina.Fleming@example.com'],
 ['', '', '', ''],
 ['Shah', 'Erica', '164-51-7615', 'Erica.Shah@example.com'],
 ['', '', '', ''],
 ['Ortiz', 'Paula', '051-83-3290', 'Paula.Ortiz@example.com'],
 ['', '', '', ''],
 ['Hendricks', 'James', '776-83-2884', 'James.Hendricks@example.com'],
 ['', '', '', ''],
 ['King', 'Lauren', '197-94-2398', 'Lauren.King@example.com'],
 ['', '', '', ''],
 ['Cowan', 'David', '252-92-1832', 'David.Cowan@example.com'],
 ['', '', '', ''],
 ['Burton', 'Andrew', '296-23-6842', 'Andrew.Burton@example.com'],
 ['', '', '', ''],
 ['Baker', 'Julian', '337-40-7543', 'Julian.Baker@example.com'],
 ['', '', '', ''],
 ['Castro', 'Scott', '399-46-5595', 'Scott.Castro@example.com'],
 ['', '', '', ''],
 ['Rodriguez', 'Billy', '014-18-2503', 'Billy.Rodriguez@example.com'],
 ['', '', '', ''],
 ['Leblanc', 'Darrell', '005-82-7918', 'Darrell.Leblanc@example.com'],
 ['', '', '', ''],
 ['Hammond', 'David', '561-17-6312', 'David.Hammond@example.com']]

In [60]:
odd_i = [] 
even_i = [] 
for i in range(0, len(list3)): 
    if i % 2: 
        even_i.append(list3[i]) 
    else : 
        odd_i.append(list3[i])

In [61]:
odd_i

[['', '', '', ''],
 ['', '', '', ''],
 ['', '', '', ''],
 ['', '', '', ''],
 ['', '', '', ''],
 ['', '', '', ''],
 ['', '', '', ''],
 ['', '', '', ''],
 ['', '', '', ''],
 ['', '', '', ''],
 ['', '', '', ''],
 ['', '', '', '']]

In [62]:
even_i

[['Fleming', 'Tina', '619-16-7988', 'Tina.Fleming@example.com'],
 ['Shah', 'Erica', '164-51-7615', 'Erica.Shah@example.com'],
 ['Ortiz', 'Paula', '051-83-3290', 'Paula.Ortiz@example.com'],
 ['Hendricks', 'James', '776-83-2884', 'James.Hendricks@example.com'],
 ['King', 'Lauren', '197-94-2398', 'Lauren.King@example.com'],
 ['Cowan', 'David', '252-92-1832', 'David.Cowan@example.com'],
 ['Burton', 'Andrew', '296-23-6842', 'Andrew.Burton@example.com'],
 ['Baker', 'Julian', '337-40-7543', 'Julian.Baker@example.com'],
 ['Castro', 'Scott', '399-46-5595', 'Scott.Castro@example.com'],
 ['Rodriguez', 'Billy', '014-18-2503', 'Billy.Rodriguez@example.com'],
 ['Leblanc', 'Darrell', '005-82-7918', 'Darrell.Leblanc@example.com'],
 ['Hammond', 'David', '561-17-6312', 'David.Hammond@example.com']]